{:index 0, :time 9144458, :type :invoke, :process 0, :f :read, :value nil}
{:index 1, :time 136514875, :type :invoke, :process 1, :f :write, :value 4}
{:index 2, :time 182793792, :type :fail, :process 0, :f :read, :value nil, :error [:key-does-not-exist "key not found"]}
{:index 3, :time 182919167, :type :invoke, :process 0, :f :read, :value nil}
{:index 4, :time 186170750, :type :ok, :process 1, :f :write, :value 4}
{:index 5, :time 189138500, :type :ok, :process 0, :f :read, :value "4"}
{:index 6, :time 290453625, :type :invoke, :process 1, :f :cas, :value [2 3]}
{:index 7, :time 294361833, :type :fail, :process 1, :f :cas, :value [2 3], :error [:precondition-failed "expected value does not match"]}
{:index 8, :time 340864500, :type :invoke, :process 0, :f :read, :value nil}
{:index 9, :time 344200917, :type :ok, :process 0, :f :read, :value "4"}
{:index 10, :time 503949500, :type :invoke, :process 0, :f :read, :value nil}
{:index 11, :time 514737000, :type :ok, :process 0, :f :read, :value "4"}
{:index 12, :time 593687667, :type :invoke, :process 0, :f :read, :value nil}
{:index 13, :time 601596125, :type :invoke, :process 1, :f :cas, :value [1 4]}
{:index 14, :time 609948500, :type :ok, :process 0, :f :read, :value "4"}
{:index 15, :time 613322458, :type :fail, :process 1, :f :cas, :value [1 4], :error [:precondition-failed "expected value does not match"]}
{:index 16, :time 786321000, :type :invoke, :process 1, :f :cas, :value [2 0]}
{:index 17, :time 795581250, :type :fail, :process 1, :f :cas, :value [2 0], :error [:precondition-failed "expected value does not match"]}
{:index 18, :time 871202500, :type :invoke, :process 0, :f :read, :value nil}
{:index 19, :time 898602208, :type :ok, :process 0, :f :read, :value "4"}
{:index 20, :time 910378292, :type :invoke, :process 0, :f :read, :value nil}
{:index 21, :time 920195083, :type :ok, :process 0, :f :read, :value "4"}
{:index 22, :time 988006250, :type :invoke, :process 1, :f :cas, :value [2 2]}
{:index 23, :time 996321792, :type :fail, :process 1, :f :cas, :value [2 2], :error [:precondition-failed "expected value does not match"]}
{:index 24, :time 1011965333, :type :invoke, :process 0, :f :read, :value nil}
{:index 25, :time 1014572333, :type :ok, :process 0, :f :read, :value "4"}
{:index 26, :time 1208473750, :type :invoke, :process 0, :f :read, :value nil}
{:index 27, :time 1216884333, :type :ok, :process 0, :f :read, :value "4"}
{:index 28, :time 1321592250, :type :invoke, :process 0, :f :read, :value nil}
{:index 29, :time 1331178792, :type :ok, :process 0, :f :read, :value "4"}
{:index 30, :time 1377012292, :type :invoke, :process 0, :f :read, :value nil}
{:index 31, :time 1389284250, :type :ok, :process 0, :f :read, :value "4"}
{:index 32, :time 1389448958, :type :invoke, :process 0, :f :read, :value nil}
{:index 33, :time 1397744125, :type :ok, :process 0, :f :read, :value "4"}
{:index 34, :time 1423144292, :type :invoke, :process 1, :f :cas, :value [3 3]}
{:index 35, :time 1436628292, :type :fail, :process 1, :f :cas, :value [3 3], :error [:precondition-failed "expected value does not match"]}
{:index 36, :time 1525755875, :type :invoke, :process 0, :f :read, :value nil}
{:index 37, :time 1532935083, :type :ok, :process 0, :f :read, :value "4"}
{:index 38, :time 1593240042, :type :invoke, :process 0, :f :read, :value nil}
{:index 39, :time 1594466583, :type :invoke, :process 1, :f :write, :value 0}
{:index 40, :time 1603394417, :type :ok, :process 0, :f :read, :value "4"}
{:index 41, :time 1607302375, :type :ok, :process 1, :f :write, :value 0}
{:index 42, :time 1651267958, :type :invoke, :process 0, :f :read, :value nil}
{:index 43, :time 1658937125, :type :ok, :process 0, :f :read, :value "0"}
{:index 44, :time 1842671708, :type :invoke, :process 1, :f :cas, :value [1 3]}
{:index 45, :time 1851341375, :type :fail, :process 1, :f :cas, :value [1 3], :error [:precondition-failed "expected value does not match"]}
{:index 46, :time 2028894708, :type :invoke, :process 0, :f :read, :value nil}
{:index 47, :time 2040652458, :type :ok, :process 0, :f :read, :value "0"}
{:index 48, :time 2059649292, :type :invoke, :process 0, :f :read, :value nil}
{:index 49, :time 2069407458, :type :ok, :process 0, :f :read, :value "0"}
{:index 50, :time 2223753875, :type :invoke, :process 1, :f :cas, :value [1 3]}
{:index 51, :time 2237118000, :type :fail, :process 1, :f :cas, :value [1 3], :error [:precondition-failed "expected value does not match"]}
{:index 52, :time 2407916375, :type :invoke, :process 1, :f :cas, :value [1 4]}
{:index 53, :time 2419053458, :type :fail, :process 1, :f :cas, :value [1 4], :error [:precondition-failed "expected value does not match"]}
{:index 54, :time 2518059417, :type :invoke, :process 0, :f :read, :value nil}
{:index 55, :time 2526329167, :type :ok, :process 0, :f :read, :value "0"}
{:index 56, :time 2668267625, :type :invoke, :process 1, :f :cas, :value [3 1]}
{:index 57, :time 2688772000, :type :invoke, :process 0, :f :read, :value nil}
{:index 58, :time 2690889500, :type :fail, :process 1, :f :cas, :value [3 1], :error [:precondition-failed "expected value does not match"]}
{:index 59, :time 2704606958, :type :ok, :process 0, :f :read, :value "0"}
{:index 60, :time 2764428375, :type :invoke, :process 1, :f :cas, :value [1 1]}
{:index 61, :time 2769595500, :type :fail, :process 1, :f :cas, :value [1 1], :error [:precondition-failed "expected value does not match"]}
{:index 62, :time 2822031292, :type :invoke, :process 1, :f :cas, :value [2 4]}
{:index 63, :time 2827878500, :type :fail, :process 1, :f :cas, :value [2 4], :error [:precondition-failed "expected value does not match"]}
{:index 64, :time 3012820875, :type :invoke, :process 0, :f :read, :value nil}
{:index 65, :time 3024791500, :type :ok, :process 0, :f :read, :value "0"}
{:index 66, :time 3066006125, :type :invoke, :process 0, :f :read, :value nil}
{:index 67, :time 3074428500, :type :ok, :process 0, :f :read, :value "0"}
{:index 68, :time 3230091000, :type :invoke, :process 0, :f :read, :value nil}
{:index 69, :time 3246187917, :type :ok, :process 0, :f :read, :value "0"}
{:index 70, :time 3328804333, :type :invoke, :process 1, :f :write, :value 4}
{:index 71, :time 3338968750, :type :ok, :process 1, :f :write, :value 4}
{:index 72, :time 3458537167, :type :invoke, :process 0, :f :read, :value nil}
{:index 73, :time 3467275542, :type :ok, :process 0, :f :read, :value "4"}
{:index 74, :time 3499331333, :type :invoke, :process 1, :f :cas, :value [3 3]}
{:index 75, :time 3517099458, :type :fail, :process 1, :f :cas, :value [3 3], :error [:precondition-failed "expected value does not match"]}
{:index 76, :time 3698530917, :type :invoke, :process 0, :f :read, :value nil}
{:index 77, :time 3704662417, :type :ok, :process 0, :f :read, :value "4"}
{:index 78, :time 3804227125, :type :invoke, :process 1, :f :cas, :value [4 3]}
{:index 79, :time 3813032250, :type :ok, :process 1, :f :cas, :value [4 3]}
{:index 80, :time 3858972208, :type :invoke, :process 0, :f :read, :value nil}
{:index 81, :time 3865556208, :type :ok, :process 0, :f :read, :value "3"}
{:index 82, :time 3878759167, :type :invoke, :process 1, :f :cas, :value [4 3]}
{:index 83, :time 3880637708, :type :invoke, :process 0, :f :read, :value nil}
{:index 84, :time 3890826542, :type :fail, :process 1, :f :cas, :value [4 3], :error [:precondition-failed "expected value does not match"]}
{:index 85, :time 3894951375, :type :ok, :process 0, :f :read, :value "3"}
{:index 86, :time 3949686542, :type :invoke, :process 1, :f :write, :value 4}
{:index 87, :time 3955381167, :type :ok, :process 1, :f :write, :value 4}
{:index 88, :time 4020758708, :type :invoke, :process 1, :f :cas, :value [3 1]}
{:index 89, :time 4029426792, :type :fail, :process 1, :f :cas, :value [3 1], :error [:precondition-failed "expected value does not match"]}
{:index 90, :time 4054065333, :type :invoke, :process 1, :f :write, :value 0}
{:index 91, :time 4067374458, :type :ok, :process 1, :f :write, :value 0}
{:index 92, :time 4224034875, :type :invoke, :process 1, :f :write, :value 1}
{:index 93, :time 4232757458, :type :ok, :process 1, :f :write, :value 1}
{:index 94, :time 4344902208, :type :invoke, :process 0, :f :read, :value nil}
{:index 95, :time 4350418083, :type :ok, :process 0, :f :read, :value "1"}
{:index 96, :time 4429651167, :type :invoke, :process 0, :f :read, :value nil}
{:index 97, :time 4437313292, :type :ok, :process 0, :f :read, :value "1"}
{:index 98, :time 4556389292, :type :invoke, :process 1, :f :cas, :value [3 0]}
{:index 99, :time 4566358958, :type :fail, :process 1, :f :cas, :value [3 0], :error [:precondition-failed "expected value does not match"]}
{:index 100, :time 4617644750, :type :invoke, :process 1, :f :cas, :value [3 4]}
{:index 101, :time 4625828667, :type :fail, :process 1, :f :cas, :value [3 4], :error [:precondition-failed "expected value does not match"]}
{:index 102, :time 4772771667, :type :invoke, :process 0, :f :read, :value nil}
{:index 103, :time 4779287083, :type :ok, :process 0, :f :read, :value "1"}
{:index 104, :time 4964430958, :type :invoke, :process 0, :f :read, :value nil}
{:index 105, :time 4970514000, :type :ok, :process 0, :f :read, :value "1"}
{:index 106, :time 4976898500, :type :invoke, :process 1, :f :write, :value 0}
{:index 107, :time 4990285667, :type :ok, :process 1, :f :write, :value 0}
{:index 108, :time 5015780583, :type :invoke, :process 1, :f :cas, :value [1 1]}
{:index 109, :time 5027330875, :type :fail, :process 1, :f :cas, :value [1 1], :error [:precondition-failed "expected value does not match"]}
{:index 110, :time 5218245750, :type :invoke, :process 1, :f :cas, :value [3 4]}
{:index 111, :time 5223064458, :type :fail, :process 1, :f :cas, :value [3 4], :error [:precondition-failed "expected value does not match"]}
{:index 112, :time 5385060125, :type :invoke, :process 0, :f :read, :value nil}
{:index 113, :time 5392667708, :type :ok, :process 0, :f :read, :value "0"}
{:index 114, :time 5425923083, :type :invoke, :process 1, :f :cas, :value [0 4]}
{:index 115, :time 5458320417, :type :ok, :process 1, :f :cas, :value [0 4]}
{:index 116, :time 5474292083, :type :invoke, :process 0, :f :read, :value nil}
{:index 117, :time 5476914333, :type :ok, :process 0, :f :read, :value "4"}
{:index 118, :time 5537948292, :type :invoke, :process 0, :f :read, :value nil}
{:index 119, :time 5543602917, :type :ok, :process 0, :f :read, :value "4"}
{:index 120, :time 5731448583, :type :invoke, :process 0, :f :read, :value nil}
{:index 121, :time 5737332000, :type :ok, :process 0, :f :read, :value "4"}
{:index 122, :time 5790023292, :type :invoke, :process 1, :f :cas, :value [2 3]}
{:index 123, :time 5794832333, :type :fail, :process 1, :f :cas, :value [2 3], :error [:precondition-failed "expected value does not match"]}
{:index 124, :time 5913985958, :type :invoke, :process 0, :f :read, :value nil}
{:index 125, :time 5919861667, :type :ok, :process 0, :f :read, :value "4"}
{:index 126, :time 5997509958, :type :invoke, :process 0, :f :read, :value nil}
{:index 127, :time 6002880417, :type :ok, :process 0, :f :read, :value "4"}
{:index 128, :time 6100744917, :type :invoke, :process 0, :f :read, :value nil}
{:index 129, :time 6104656458, :type :ok, :process 0, :f :read, :value "4"}
{:index 130, :time 6252478500, :type :invoke, :process 1, :f :cas, :value [1 0]}
{:index 131, :time 6261060625, :type :fail, :process 1, :f :cas, :value [1 0], :error [:precondition-failed "expected value does not match"]}
{:index 132, :time 6447790542, :type :invoke, :process 1, :f :cas, :value [4 1]}
{:index 133, :time 6456687417, :type :ok, :process 1, :f :cas, :value [4 1]}
{:index 134, :time 6652632708, :type :invoke, :process 0, :f :read, :value nil}
{:index 135, :time 6661930792, :type :ok, :process 0, :f :read, :value "1"}
{:index 136, :time 6792688417, :type :invoke, :process 0, :f :read, :value nil}
{:index 137, :time 6802325500, :type :ok, :process 0, :f :read, :value "1"}
{:index 138, :time 6985825250, :type :invoke, :process 0, :f :read, :value nil}
{:index 139, :time 6990149292, :type :ok, :process 0, :f :read, :value "1"}
{:index 140, :time 7011845708, :type :invoke, :process 1, :f :write, :value 3}
{:index 141, :time 7022129750, :type :ok, :process 1, :f :write, :value 3}
{:index 142, :time 7208405500, :type :invoke, :process 0, :f :read, :value nil}
{:index 143, :time 7212703875, :type :ok, :process 0, :f :read, :value "3"}
{:index 144, :time 7280962375, :type :invoke, :process 0, :f :read, :value nil}
{:index 145, :time 7286073250, :type :ok, :process 0, :f :read, :value "3"}
{:index 146, :time 7413879500, :type :invoke, :process 1, :f :write, :value 1}
{:index 147, :time 7424924625, :type :ok, :process 1, :f :write, :value 1}
{:index 148, :time 7555240542, :type :invoke, :process 0, :f :read, :value nil}
{:index 149, :time 7562605250, :type :ok, :process 0, :f :read, :value "1"}
{:index 150, :time 7647695458, :type :invoke, :process 1, :f :cas, :value [2 3]}
{:index 151, :time 7655135625, :type :fail, :process 1, :f :cas, :value [2 3], :error [:precondition-failed "expected value does not match"]}
{:index 152, :time 7706652083, :type :invoke, :process 1, :f :write, :value 1}
{:index 153, :time 7711726292, :type :ok, :process 1, :f :write, :value 1}
{:index 154, :time 7858509708, :type :invoke, :process 0, :f :read, :value nil}
{:index 155, :time 7866371250, :type :ok, :process 0, :f :read, :value "1"}
{:index 156, :time 7980109792, :type :invoke, :process 0, :f :read, :value nil}
{:index 157, :time 7982982792, :type :ok, :process 0, :f :read, :value "1"}
{:index 158, :time 8059203167, :type :invoke, :process 0, :f :read, :value nil}
{:index 159, :time 8067345958, :type :ok, :process 0, :f :read, :value "1"}
{:index 160, :time 8094470917, :type :invoke, :process 0, :f :read, :value nil}
{:index 161, :time 8101441875, :type :ok, :process 0, :f :read, :value "1"}
{:index 162, :time 8127578208, :type :invoke, :process 0, :f :read, :value nil}
{:index 163, :time 8134483750, :type :ok, :process 0, :f :read, :value "1"}
{:index 164, :time 8192695625, :type :invoke, :process 0, :f :read, :value nil}
{:index 165, :time 8198412708, :type :ok, :process 0, :f :read, :value "1"}
{:index 166, :time 8306542708, :type :invoke, :process 0, :f :read, :value nil}
{:index 167, :time 8318001958, :type :ok, :process 0, :f :read, :value "1"}
{:index 168, :time 8417274250, :type :invoke, :process 1, :f :write, :value 4}
{:index 169, :time 8425502333, :type :ok, :process 1, :f :write, :value 4}
{:index 170, :time 8451477625, :type :invoke, :process 1, :f :cas, :value [2 1]}
{:index 171, :time 8465313917, :type :fail, :process 1, :f :cas, :value [2 1], :error [:precondition-failed "expected value does not match"]}
{:index 172, :time 8560560625, :type :invoke, :process 1, :f :cas, :value [3 4]}
{:index 173, :time 8564520958, :type :fail, :process 1, :f :cas, :value [3 4], :error [:precondition-failed "expected value does not match"]}
{:index 174, :time 8576311458, :type :invoke, :process 0, :f :read, :value nil}
{:index 175, :time 8587758792, :type :ok, :process 0, :f :read, :value "4"}
{:index 176, :time 8635171292, :type :invoke, :process 0, :f :read, :value nil}
{:index 177, :time 8641219875, :type :ok, :process 0, :f :read, :value "4"}
{:index 178, :time 8722367833, :type :invoke, :process 0, :f :read, :value nil}
{:index 179, :time 8728651083, :type :ok, :process 0, :f :read, :value "4"}
{:index 180, :time 8812762333, :type :invoke, :process 1, :f :write, :value 2}
{:index 181, :time 8819313208, :type :ok, :process 1, :f :write, :value 2}
{:index 182, :time 8922652750, :type :invoke, :process 1, :f :write, :value 0}
{:index 183, :time 8929736042, :type :ok, :process 1, :f :write, :value 0}
{:index 184, :time 8944626417, :type :invoke, :process 1, :f :cas, :value [3 3]}
{:index 185, :time 8972114583, :type :fail, :process 1, :f :cas, :value [3 3], :error [:precondition-failed "expected value does not match"]}
{:index 186, :time 9064790792, :type :invoke, :process 0, :f :read, :value nil}
{:index 187, :time 9070834917, :type :ok, :process 0, :f :read, :value "0"}
{:index 188, :time 9104252042, :type :invoke, :process 1, :f :cas, :value [1 3]}
{:index 189, :time 9145639083, :type :fail, :process 1, :f :cas, :value [1 3], :error [:precondition-failed "expected value does not match"]}
{:index 190, :time 9251118458, :type :invoke, :process 0, :f :read, :value nil}
{:index 191, :time 9256108708, :type :ok, :process 0, :f :read, :value "0"}
{:index 192, :time 9404404833, :type :invoke, :process 0, :f :read, :value nil}
{:index 193, :time 9409090083, :type :ok, :process 0, :f :read, :value "0"}
{:index 194, :time 9593589333, :type :invoke, :process 1, :f :write, :value 3}
{:index 195, :time 9598348292, :type :ok, :process 1, :f :write, :value 3}
{:index 196, :time 9701384417, :type :invoke, :process 0, :f :read, :value nil}
{:index 197, :time 9708101458, :type :ok, :process 0, :f :read, :value "3"}
{:index 198, :time 9741369625, :type :invoke, :process 0, :f :read, :value nil}
{:index 199, :time 9758590750, :type :ok, :process 0, :f :read, :value "3"}
{:index 200, :time 9925713625, :type :invoke, :process 0, :f :read, :value nil}
{:index 201, :time 9930066292, :type :ok, :process 0, :f :read, :value "3"}
{:index 202, :time 9977309792, :type :invoke, :process 1, :f :cas, :value [2 3]}
{:index 203, :time 9980338292, :type :fail, :process 1, :f :cas, :value [2 3], :error [:precondition-failed "expected value does not match"]}
