{:index 0, :time 7890417, :type :invoke, :process 1, :f :cas, :value [3 4]}
{:index 1, :time 133824709, :type :invoke, :process 0, :f :read, :value nil}
{:index 2, :time 163826500, :type :fail, :process 1, :f :cas, :value [3 4], :error [:precondition-failed "expected value does not match"]}
{:index 3, :time 167259042, :type :fail, :process 0, :f :read, :value nil, :error [:key-does-not-exist "key not found"]}
{:index 4, :time 241078792, :type :invoke, :process 1, :f :write, :value 3}
{:index 5, :time 248756167, :type :ok, :process 1, :f :write, :value 3}
{:index 6, :time 442754125, :type :invoke, :process 1, :f :write, :value 0}
{:index 7, :time 457979292, :type :ok, :process 1, :f :write, :value 0}
{:index 8, :time 534585917, :type :invoke, :process 1, :f :cas, :value [1 0]}
{:index 9, :time 561975542, :type :fail, :process 1, :f :cas, :value [1 0], :error [:precondition-failed "expected value does not match"]}
{:index 10, :time 661735834, :type :invoke, :process 1, :f :cas, :value [0 3]}
{:index 11, :time 678866542, :type :ok, :process 1, :f :cas, :value [0 3]}
{:index 12, :time 806761542, :type :invoke, :process 0, :f :read, :value nil}
{:index 13, :time 827381167, :type :ok, :process 0, :f :read, :value 3}
{:index 14, :time 911309959, :type :invoke, :process 0, :f :read, :value nil}
{:index 15, :time 932597417, :type :ok, :process 0, :f :read, :value 3}
{:index 16, :time 1065031625, :type :invoke, :process 1, :f :cas, :value [0 4]}
{:index 17, :time 1088834417, :type :fail, :process 1, :f :cas, :value [0 4], :error [:precondition-failed "expected value does not match"]}
{:index 18, :time 1252725959, :type :invoke, :process 1, :f :cas, :value [4 1]}
{:index 19, :time 1263197667, :type :invoke, :process 0, :f :read, :value nil}
{:index 20, :time 1286487584, :type :fail, :process 1, :f :cas, :value [4 1], :error [:precondition-failed "expected value does not match"]}
{:index 21, :time 1289718417, :type :ok, :process 0, :f :read, :value 3}
{:index 22, :time 1341379500, :type :invoke, :process 1, :f :cas, :value [3 4]}
{:index 23, :time 1352351542, :type :ok, :process 1, :f :cas, :value [3 4]}
{:index 24, :time 1514721500, :type :invoke, :process 0, :f :read, :value nil}
{:index 25, :time 1535062292, :type :ok, :process 0, :f :read, :value 4}
{:index 26, :time 1661113375, :type :invoke, :process 0, :f :read, :value nil}
{:index 27, :time 1676797750, :type :ok, :process 0, :f :read, :value 4}
{:index 28, :time 1834462417, :type :invoke, :process 0, :f :read, :value nil}
{:index 29, :time 1865924167, :type :ok, :process 0, :f :read, :value 4}
{:index 30, :time 1977199375, :type :invoke, :process 0, :f :read, :value nil}
{:index 31, :time 2009946542, :type :ok, :process 0, :f :read, :value 4}
{:index 32, :time 2149235000, :type :invoke, :process 1, :f :cas, :value [4 1]}
{:index 33, :time 2168437542, :type :ok, :process 1, :f :cas, :value [4 1]}
{:index 34, :time 2241145167, :type :invoke, :process 0, :f :read, :value nil}
{:index 35, :time 2248585042, :type :ok, :process 0, :f :read, :value 1}
{:index 36, :time 2303115125, :type :invoke, :process 0, :f :read, :value nil}
{:index 37, :time 2312715542, :type :ok, :process 0, :f :read, :value 1}
{:index 38, :time 2322637625, :type :invoke, :process 0, :f :read, :value nil}
{:index 39, :time 2325866250, :type :ok, :process 0, :f :read, :value 1}
{:index 40, :time 2477526500, :type :invoke, :process 0, :f :read, :value nil}
{:index 41, :time 2504786000, :type :ok, :process 0, :f :read, :value 1}
{:index 42, :time 2641692417, :type :invoke, :process 1, :f :cas, :value [1 0]}
{:index 43, :time 2673117959, :type :ok, :process 1, :f :cas, :value [1 0]}
{:index 44, :time 2778445750, :type :invoke, :process 0, :f :read, :value nil}
{:index 45, :time 2795712167, :type :ok, :process 0, :f :read, :value 0}
{:index 46, :time 2836689000, :type :invoke, :process 1, :f :cas, :value [1 0]}
{:index 47, :time 2859959084, :type :fail, :process 1, :f :cas, :value [1 0], :error [:precondition-failed "expected value does not match"]}
{:index 48, :time 2918466625, :type :invoke, :process 1, :f :write, :value 1}
{:index 49, :time 2935431792, :type :ok, :process 1, :f :write, :value 1}
{:index 50, :time 2981716667, :type :invoke, :process 1, :f :write, :value 1}
{:index 51, :time 3002243750, :type :ok, :process 1, :f :write, :value 1}
{:index 52, :time 3115705875, :type :invoke, :process 1, :f :cas, :value [3 3]}
{:index 53, :time 3134927167, :type :invoke, :process 0, :f :read, :value nil}
{:index 54, :time 3141339792, :type :fail, :process 1, :f :cas, :value [3 3], :error [:precondition-failed "expected value does not match"]}
{:index 55, :time 3142340375, :type :ok, :process 0, :f :read, :value 1}
{:index 56, :time 3250990417, :type :invoke, :process 0, :f :read, :value nil}
{:index 57, :time 3284636209, :type :ok, :process 0, :f :read, :value 1}
{:index 58, :time 3409660125, :type :invoke, :process 1, :f :write, :value 1}
{:index 59, :time 3424587792, :type :ok, :process 1, :f :write, :value 1}
{:index 60, :time 3511452959, :type :invoke, :process 0, :f :read, :value nil}
{:index 61, :time 3522077875, :type :ok, :process 0, :f :read, :value 1}
{:index 62, :time 3679658167, :type :invoke, :process 1, :f :cas, :value [0 2]}
{:index 63, :time 3699545750, :type :fail, :process 1, :f :cas, :value [0 2], :error [:precondition-failed "expected value does not match"]}
{:index 64, :time 3824096584, :type :invoke, :process 1, :f :write, :value 3}
{:index 65, :time 3838941042, :type :ok, :process 1, :f :write, :value 3}
{:index 66, :time 3988439750, :type :invoke, :process 0, :f :read, :value nil}
{:index 67, :time 4005099625, :type :ok, :process 0, :f :read, :value 3}
{:index 68, :time 4096715125, :type :invoke, :process 0, :f :read, :value nil}
{:index 69, :time 4124698417, :type :ok, :process 0, :f :read, :value 3}
{:index 70, :time 4158857375, :type :invoke, :process 1, :f :write, :value 1}
{:index 71, :time 4175509417, :type :ok, :process 1, :f :write, :value 1}
{:index 72, :time 4348111167, :type :invoke, :process 1, :f :cas, :value [0 0]}
{:index 73, :time 4358528250, :type :fail, :process 1, :f :cas, :value [0 0], :error [:precondition-failed "expected value does not match"]}
{:index 74, :time 4436319709, :type :invoke, :process 1, :f :write, :value 1}
{:index 75, :time 4450196084, :type :ok, :process 1, :f :write, :value 1}
{:index 76, :time 4493501792, :type :invoke, :process 0, :f :read, :value nil}
{:index 77, :time 4519348834, :type :ok, :process 0, :f :read, :value 1}
{:index 78, :time 4617422250, :type :invoke, :process 1, :f :cas, :value [3 2]}
{:index 79, :time 4635305792, :type :fail, :process 1, :f :cas, :value [3 2], :error [:precondition-failed "expected value does not match"]}
{:index 80, :time 4656153125, :type :invoke, :process 1, :f :cas, :value [4 4]}
{:index 81, :time 4661298500, :type :fail, :process 1, :f :cas, :value [4 4], :error [:precondition-failed "expected value does not match"]}
{:index 82, :time 4842197875, :type :invoke, :process 1, :f :cas, :value [4 2]}
{:index 83, :time 4864212125, :type :fail, :process 1, :f :cas, :value [4 2], :error [:precondition-failed "expected value does not match"]}
{:index 84, :time 4983404375, :type :invoke, :process 0, :f :read, :value nil}
{:index 85, :time 4999740125, :type :ok, :process 0, :f :read, :value 1}
{:index 86, :time 5109942834, :type :invoke, :process 0, :f :read, :value nil}
{:index 87, :time 5113730125, :type :ok, :process 0, :f :read, :value 1}
{:index 88, :time 5265109042, :type :invoke, :process 1, :f :write, :value 3}
{:index 89, :time 5281155250, :type :ok, :process 1, :f :write, :value 3}
{:index 90, :time 5452026584, :type :invoke, :process 0, :f :read, :value nil}
{:index 91, :time 5473879625, :type :ok, :process 0, :f :read, :value 3}
{:index 92, :time 5628531417, :type :invoke, :process 1, :f :cas, :value [2 1]}
{:index 93, :time 5648922459, :type :fail, :process 1, :f :cas, :value [2 1], :error [:precondition-failed "expected value does not match"]}
{:index 94, :time 5770112292, :type :invoke, :process 0, :f :read, :value nil}
{:index 95, :time 5784155000, :type :ok, :process 0, :f :read, :value 3}
{:index 96, :time 5787127250, :type :invoke, :process 0, :f :read, :value nil}
{:index 97, :time 5806210209, :type :ok, :process 0, :f :read, :value 3}
{:index 98, :time 5907073875, :type :invoke, :process 0, :f :read, :value nil}
{:index 99, :time 5930222959, :type :ok, :process 0, :f :read, :value 3}
{:index 100, :time 5971942375, :type :invoke, :process 1, :f :write, :value 4}
{:index 101, :time 5984181500, :type :ok, :process 1, :f :write, :value 4}
{:index 102, :time 6147103042, :type :invoke, :process 0, :f :read, :value nil}
{:index 103, :time 6156336250, :type :ok, :process 0, :f :read, :value 4}
{:index 104, :time 6191770750, :type :invoke, :process 1, :f :cas, :value [0 0]}
{:index 105, :time 6205499000, :type :fail, :process 1, :f :cas, :value [0 0], :error [:precondition-failed "expected value does not match"]}
{:index 106, :time 6267835542, :type :invoke, :process 0, :f :read, :value nil}
{:index 107, :time 6275889417, :type :ok, :process 0, :f :read, :value 4}
{:index 108, :time 6324014084, :type :invoke, :process 1, :f :cas, :value [3 4]}
{:index 109, :time 6329147292, :type :fail, :process 1, :f :cas, :value [3 4], :error [:precondition-failed "expected value does not match"]}
{:index 110, :time 6417721959, :type :invoke, :process 0, :f :read, :value nil}
{:index 111, :time 6425406334, :type :ok, :process 0, :f :read, :value 4}
{:index 112, :time 6509703292, :type :invoke, :process 1, :f :cas, :value [0 4]}
{:index 113, :time 6525329459, :type :fail, :process 1, :f :cas, :value [0 4], :error [:precondition-failed "expected value does not match"]}
{:index 114, :time 6549177709, :type :invoke, :process 0, :f :read, :value nil}
{:index 115, :time 6561215834, :type :ok, :process 0, :f :read, :value 4}
{:index 116, :time 6727664875, :type :invoke, :process 0, :f :read, :value nil}
{:index 117, :time 6753312084, :type :ok, :process 0, :f :read, :value 4}
{:index 118, :time 6790562334, :type :invoke, :process 1, :f :cas, :value [1 1]}
{:index 119, :time 6797999959, :type :fail, :process 1, :f :cas, :value [1 1], :error [:precondition-failed "expected value does not match"]}
{:index 120, :time 6814139292, :type :invoke, :process 0, :f :read, :value nil}
{:index 121, :time 6825742875, :type :ok, :process 0, :f :read, :value 4}
{:index 122, :time 6923263875, :type :invoke, :process 1, :f :write, :value 3}
{:index 123, :time 6942060750, :type :ok, :process 1, :f :write, :value 3}
{:index 124, :time 7068166375, :type :invoke, :process 1, :f :write, :value 2}
{:index 125, :time 7088042875, :type :invoke, :process 0, :f :read, :value nil}
{:index 126, :time 7095960250, :type :ok, :process 1, :f :write, :value 2}
{:index 127, :time 7119517292, :type :ok, :process 0, :f :read, :value 2}
{:index 128, :time 7188737959, :type :invoke, :process 1, :f :cas, :value [1 2]}
{:index 129, :time 7193271750, :type :fail, :process 1, :f :cas, :value [1 2], :error [:precondition-failed "expected value does not match"]}
{:index 130, :time 7342935125, :type :invoke, :process 1, :f :cas, :value [2 2]}
{:index 131, :time 7355874792, :type :invoke, :process 0, :f :read, :value nil}
{:index 132, :time 7364877209, :type :ok, :process 1, :f :cas, :value [2 2]}
{:index 133, :time 7370627875, :type :ok, :process 0, :f :read, :value 2}
{:index 134, :time 7516119375, :type :invoke, :process 0, :f :read, :value nil}
{:index 135, :time 7527065084, :type :ok, :process 0, :f :read, :value 2}
{:index 136, :time 7534156417, :type :invoke, :process 1, :f :cas, :value [1 2]}
{:index 137, :time 7545098292, :type :fail, :process 1, :f :cas, :value [1 2], :error [:precondition-failed "expected value does not match"]}
{:index 138, :time 7717319292, :type :invoke, :process 0, :f :read, :value nil}
{:index 139, :time 7735103750, :type :ok, :process 0, :f :read, :value 2}
{:index 140, :time 7875118042, :type :invoke, :process 1, :f :cas, :value [0 3]}
{:index 141, :time 7899026875, :type :fail, :process 1, :f :cas, :value [0 3], :error [:precondition-failed "expected value does not match"]}
{:index 142, :time 8015640125, :type :invoke, :process 0, :f :read, :value nil}
{:index 143, :time 8031775167, :type :ok, :process 0, :f :read, :value 2}
{:index 144, :time 8079528834, :type :invoke, :process 1, :f :cas, :value [2 3]}
{:index 145, :time 8083030375, :type :ok, :process 1, :f :cas, :value [2 3]}
{:index 146, :time 8163138209, :type :invoke, :process 0, :f :read, :value nil}
{:index 147, :time 8168849750, :type :ok, :process 0, :f :read, :value 3}
{:index 148, :time 8297884584, :type :invoke, :process 1, :f :write, :value 1}
{:index 149, :time 8312724334, :type :ok, :process 1, :f :write, :value 1}
{:index 150, :time 8409953625, :type :invoke, :process 1, :f :cas, :value [1 4]}
{:index 151, :time 8427475542, :type :ok, :process 1, :f :cas, :value [1 4]}
{:index 152, :time 8526729917, :type :invoke, :process 0, :f :read, :value nil}
{:index 153, :time 8530144875, :type :ok, :process 0, :f :read, :value 4}
{:index 154, :time 8670219542, :type :invoke, :process 1, :f :cas, :value [0 3]}
{:index 155, :time 8695387667, :type :fail, :process 1, :f :cas, :value [0 3], :error [:precondition-failed "expected value does not match"]}
{:index 156, :time 8768908709, :type :invoke, :process 0, :f :read, :value nil}
{:index 157, :time 8777402167, :type :ok, :process 0, :f :read, :value 4}
{:index 158, :time 8885155167, :type :invoke, :process 0, :f :read, :value nil}
{:index 159, :time 8907702334, :type :ok, :process 0, :f :read, :value 4}
{:index 160, :time 9067844500, :type :invoke, :process 1, :f :cas, :value [0 0]}
{:index 161, :time 9080154750, :type :fail, :process 1, :f :cas, :value [0 0], :error [:precondition-failed "expected value does not match"]}
{:index 162, :time 9117579417, :type :invoke, :process 1, :f :cas, :value [0 3]}
{:index 163, :time 9120495667, :type :fail, :process 1, :f :cas, :value [0 3], :error [:precondition-failed "expected value does not match"]}
{:index 164, :time 9259165292, :type :invoke, :process 0, :f :read, :value nil}
{:index 165, :time 9264460792, :type :ok, :process 0, :f :read, :value 4}
{:index 166, :time 9424372667, :type :invoke, :process 0, :f :read, :value nil}
{:index 167, :time 9431331125, :type :ok, :process 0, :f :read, :value 4}
{:index 168, :time 9497979125, :type :invoke, :process 0, :f :read, :value nil}
{:index 169, :time 9505189792, :type :ok, :process 0, :f :read, :value 4}
{:index 170, :time 9666364959, :type :invoke, :process 0, :f :read, :value nil}
{:index 171, :time 9681327084, :type :ok, :process 0, :f :read, :value 4}
{:index 172, :time 9843128500, :type :invoke, :process 0, :f :read, :value nil}
{:index 173, :time 9859370542, :type :ok, :process 0, :f :read, :value 4}
