{:index 0, :time 7139709, :type :invoke, :process 1, :f :cas, :value [1 4]}
{:index 1, :time 159634709, :type :fail, :process 1, :f :cas, :value [1 4], :error [:precondition-failed "expected value does not match"]}
{:index 2, :time 186965292, :type :invoke, :process 0, :f :read, :value nil}
{:index 3, :time 201783667, :type :ok, :process 0, :f :read, :value 2}
{:index 4, :time 391363750, :type :invoke, :process 1, :f :write, :value 1}
{:index 5, :time 400992917, :type :ok, :process 1, :f :write, :value 1}
{:index 6, :time 414986250, :type :invoke, :process 1, :f :cas, :value [4 2]}
{:index 7, :time 425801042, :type :fail, :process 1, :f :cas, :value [4 2], :error [:precondition-failed "expected value does not match"]}
{:index 8, :time 430070459, :type :invoke, :process 1, :f :write, :value 1}
{:index 9, :time 435194584, :type :ok, :process 1, :f :write, :value 1}
{:index 10, :time 550672625, :type :invoke, :process 0, :f :read, :value nil}
{:index 11, :time 558831000, :type :ok, :process 0, :f :read, :value 1}
{:index 12, :time 592633959, :type :invoke, :process 1, :f :cas, :value [3 2]}
{:index 13, :time 602296625, :type :fail, :process 1, :f :cas, :value [3 2], :error [:precondition-failed "expected value does not match"]}
{:index 14, :time 699523625, :type :invoke, :process 1, :f :write, :value 1}
{:index 15, :time 709162042, :type :ok, :process 1, :f :write, :value 1}
{:index 16, :time 855454625, :type :invoke, :process 1, :f :write, :value 2}
{:index 17, :time 862764209, :type :ok, :process 1, :f :write, :value 2}
{:index 18, :time 995963084, :type :invoke, :process 1, :f :cas, :value [3 0]}
{:index 19, :time 1007398334, :type :fail, :process 1, :f :cas, :value [3 0], :error [:precondition-failed "expected value does not match"]}
{:index 20, :time 1080656167, :type :invoke, :process 1, :f :cas, :value [2 0]}
{:index 21, :time 1090245042, :type :ok, :process 1, :f :cas, :value [2 0]}
{:index 22, :time 1243551125, :type :invoke, :process 1, :f :cas, :value [2 0]}
{:index 23, :time 1253651000, :type :fail, :process 1, :f :cas, :value [2 0], :error [:precondition-failed "expected value does not match"]}
{:index 24, :time 1325481167, :type :invoke, :process 0, :f :read, :value nil}
{:index 25, :time 1332743417, :type :ok, :process 0, :f :read, :value 0}
{:index 26, :time 1417817584, :type :invoke, :process 0, :f :read, :value nil}
{:index 27, :time 1422016750, :type :invoke, :process 1, :f :cas, :value [4 3]}
{:index 28, :time 1454312625, :type :ok, :process 0, :f :read, :value 0}
{:index 29, :time 1456219792, :type :fail, :process 1, :f :cas, :value [4 3], :error [:precondition-failed "expected value does not match"]}
{:index 30, :time 1619310792, :type :invoke, :process 0, :f :read, :value nil}
{:index 31, :time 1628528042, :type :ok, :process 0, :f :read, :value 0}
{:index 32, :time 1643342084, :type :invoke, :process 0, :f :read, :value nil}
{:index 33, :time 1649721375, :type :ok, :process 0, :f :read, :value 0}
{:index 34, :time 1661698250, :type :invoke, :process 1, :f :cas, :value [2 4]}
{:index 35, :time 1669947250, :type :fail, :process 1, :f :cas, :value [2 4], :error [:precondition-failed "expected value does not match"]}
{:index 36, :time 1856546792, :type :invoke, :process 1, :f :cas, :value [3 1]}
{:index 37, :time 1867455459, :type :fail, :process 1, :f :cas, :value [3 1], :error [:precondition-failed "expected value does not match"]}
{:index 38, :time 2002484084, :type :invoke, :process 0, :f :read, :value nil}
{:index 39, :time 2013139709, :type :ok, :process 0, :f :read, :value 0}
{:index 40, :time 2039941875, :type :invoke, :process 1, :f :cas, :value [0 1]}
{:index 41, :time 2064372459, :type :ok, :process 1, :f :cas, :value [0 1]}
{:index 42, :time 2222916792, :type :invoke, :process 0, :f :read, :value nil}
{:index 43, :time 2229476542, :type :ok, :process 0, :f :read, :value 1}
{:index 44, :time 2419564292, :type :invoke, :process 1, :f :cas, :value [1 1]}
{:index 45, :time 2431233500, :type :ok, :process 1, :f :cas, :value [1 1]}
{:index 46, :time 2598638459, :type :invoke, :process 1, :f :cas, :value [4 0]}
{:index 47, :time 2618213459, :type :fail, :process 1, :f :cas, :value [4 0], :error [:precondition-failed "expected value does not match"]}
{:index 48, :time 2704981375, :type :invoke, :process 0, :f :read, :value nil}
{:index 49, :time 2715210542, :type :ok, :process 0, :f :read, :value 1}
{:index 50, :time 2900435584, :type :invoke, :process 0, :f :read, :value nil}
{:index 51, :time 2908473792, :type :ok, :process 0, :f :read, :value 1}
{:index 52, :time 3002219417, :type :invoke, :process 1, :f :write, :value 4}
{:index 53, :time 3012390209, :type :ok, :process 1, :f :write, :value 4}
{:index 54, :time 3067053792, :type :invoke, :process 1, :f :cas, :value [1 0]}
{:index 55, :time 3080515959, :type :fail, :process 1, :f :cas, :value [1 0], :error [:precondition-failed "expected value does not match"]}
{:index 56, :time 3116459834, :type :invoke, :process 1, :f :cas, :value [4 1]}
{:index 57, :time 3127478625, :type :ok, :process 1, :f :cas, :value [4 1]}
{:index 58, :time 3272531000, :type :invoke, :process 0, :f :read, :value nil}
{:index 59, :time 3282817792, :type :ok, :process 0, :f :read, :value 1}
{:index 60, :time 3352825334, :type :invoke, :process 0, :f :read, :value nil}
{:index 61, :time 3361076959, :type :ok, :process 0, :f :read, :value 1}
{:index 62, :time 3428760667, :type :invoke, :process 0, :f :read, :value nil}
{:index 63, :time 3434678167, :type :ok, :process 0, :f :read, :value 1}
{:index 64, :time 3560189667, :type :invoke, :process 0, :f :read, :value nil}
{:index 65, :time 3567672584, :type :ok, :process 0, :f :read, :value 1}
{:index 66, :time 3716327500, :type :invoke, :process 1, :f :cas, :value [4 0]}
{:index 67, :time 3726094000, :type :fail, :process 1, :f :cas, :value [4 0], :error [:precondition-failed "expected value does not match"]}
{:index 68, :time 3736638542, :type :invoke, :process 0, :f :read, :value nil}
{:index 69, :time 3742516750, :type :ok, :process 0, :f :read, :value 1}
{:index 70, :time 3884062250, :type :invoke, :process 1, :f :cas, :value [4 3]}
{:index 71, :time 3910731125, :type :fail, :process 1, :f :cas, :value [4 3], :error [:precondition-failed "expected value does not match"]}
{:index 72, :time 4042147542, :type :invoke, :process 0, :f :read, :value nil}
{:index 73, :time 4049087167, :type :ok, :process 0, :f :read, :value 1}
{:index 74, :time 4113016667, :type :invoke, :process 1, :f :write, :value 2}
{:index 75, :time 4120836959, :type :ok, :process 1, :f :write, :value 2}
{:index 76, :time 4268769792, :type :invoke, :process 0, :f :read, :value nil}
{:index 77, :time 4286054792, :type :ok, :process 0, :f :read, :value 2}
{:index 78, :time 4426267584, :type :invoke, :process 0, :f :read, :value nil}
{:index 79, :time 4442741959, :type :ok, :process 0, :f :read, :value 2}
{:index 80, :time 4497079750, :type :invoke, :process 1, :f :cas, :value [2 2]}
{:index 81, :time 4508294542, :type :ok, :process 1, :f :cas, :value [2 2]}
{:index 82, :time 4691777250, :type :invoke, :process 0, :f :read, :value nil}
{:index 83, :time 4698188917, :type :ok, :process 0, :f :read, :value 2}
{:index 84, :time 4889036792, :type :invoke, :process 1, :f :cas, :value [2 4]}
{:index 85, :time 4899611167, :type :ok, :process 1, :f :cas, :value [2 4]}
{:index 86, :time 4932608500, :type :invoke, :process 0, :f :read, :value nil}
{:index 87, :time 4941364500, :type :ok, :process 0, :f :read, :value 4}
{:index 88, :time 4996648917, :type :invoke, :process 0, :f :read, :value nil}
{:index 89, :time 5003835750, :type :ok, :process 0, :f :read, :value 4}
