{:index 0, :time 10019917, :type :invoke, :process 20, :f :cas, :value [0 2]}
{:index 4, :time 306379833, :type :fail, :process 20, :f :cas, :value [0 2], :error [:precondition-failed "expected value does not match"]}
{:index 11, :time 564003167, :type :invoke, :process 20, :f :cas, :value [3 0]}
{:index 12, :time 576512083, :type :fail, :process 20, :f :cas, :value [3 0], :error [:precondition-failed "expected value does not match"]}
{:index 14, :time 703740208, :type :invoke, :process 20, :f :write, :value 3}
{:index 15, :time 729644833, :type :ok, :process 20, :f :write, :value 3}
{:index 16, :time 787001625, :type :invoke, :process 20, :f :cas, :value [0 3]}
{:index 17, :time 800945167, :type :fail, :process 20, :f :cas, :value [0 3], :error [:precondition-failed "expected value does not match"]}
{:index 20, :time 1113838667, :type :invoke, :process 20, :f :cas, :value [1 1]}
{:index 21, :time 1147758042, :type :fail, :process 20, :f :cas, :value [1 1], :error [:precondition-failed "expected value does not match"]}
{:index 24, :time 1239176250, :type :invoke, :process 20, :f :cas, :value [2 3]}
{:index 25, :time 1242413000, :type :fail, :process 20, :f :cas, :value [2 3], :error [:precondition-failed "expected value does not match"]}
{:index 26, :time 1383312375, :type :invoke, :process 20, :f :cas, :value [4 4]}
{:index 27, :time 1405172583, :type :fail, :process 20, :f :cas, :value [4 4], :error [:precondition-failed "expected value does not match"]}
{:index 34, :time 1836487333, :type :invoke, :process 20, :f :write, :value 3}
{:index 35, :time 1856632750, :type :ok, :process 20, :f :write, :value 3}
{:index 42, :time 2301237750, :type :invoke, :process 21, :f :cas, :value [0 3]}
{:index 45, :time 2440129292, :type :fail, :process 21, :f :cas, :value [0 3], :error [:precondition-failed "expected value does not match"]}
{:index 46, :time 2476617792, :type :invoke, :process 23, :f :cas, :value [1 0]}
{:index 47, :time 2480367500, :type :fail, :process 23, :f :cas, :value [1 0], :error [:precondition-failed "expected value does not match"]}
{:index 50, :time 2560699708, :type :invoke, :process 25, :f :cas, :value [2 4]}
{:index 51, :time 2570954750, :type :fail, :process 25, :f :cas, :value [2 4], :error [:precondition-failed "expected value does not match"]}
{:index 62, :time 3275744083, :type :invoke, :process 20, :f :cas, :value [1 2]}
{:index 63, :time 3302245875, :type :fail, :process 20, :f :cas, :value [1 2], :error [:precondition-failed "expected value does not match"]}
{:index 68, :time 3636013875, :type :invoke, :process 20, :f :write, :value 1}
{:index 69, :time 3645593375, :type :ok, :process 20, :f :write, :value 1}
{:index 80, :time 4184333542, :type :invoke, :process 20, :f :write, :value 3}
{:index 81, :time 4213936833, :type :ok, :process 20, :f :write, :value 3}
{:index 88, :time 4422066417, :type :invoke, :process 20, :f :cas, :value [1 2]}
{:index 89, :time 4432046125, :type :fail, :process 20, :f :cas, :value [1 2], :error [:precondition-failed "expected value does not match"]}
{:index 92, :time 4574017083, :type :invoke, :process 20, :f :write, :value 2}
{:index 93, :time 4593600875, :type :ok, :process 20, :f :write, :value 2}
{:index 96, :time 4900110667, :type :invoke, :process 20, :f :write, :value 0}
{:index 97, :time 4912278375, :type :ok, :process 20, :f :write, :value 0}
{:index 100, :time 5129074625, :type :invoke, :process 20, :f :cas, :value [3 4]}
{:index 101, :time 5149945250, :type :fail, :process 20, :f :cas, :value [3 4], :error [:precondition-failed "expected value does not match"]}
{:index 110, :time 5878496625, :type :invoke, :process 24, :f :cas, :value [0 0]}
{:index 111, :time 5895886167, :type :ok, :process 24, :f :cas, :value [0 0]}
{:index 134, :time 7259667708, :type :invoke, :process 20, :f :write, :value 3}
{:index 135, :time 7264031208, :type :ok, :process 20, :f :write, :value 3}
{:index 148, :time 7862731208, :type :invoke, :process 20, :f :cas, :value [0 4]}
{:index 149, :time 7881814458, :type :fail, :process 20, :f :cas, :value [0 4], :error [:precondition-failed "expected value does not match"]}
{:index 151, :time 8040624667, :type :invoke, :process 20, :f :cas, :value [2 1]}
{:index 152, :time 8053026125, :type :fail, :process 20, :f :cas, :value [2 1], :error [:precondition-failed "expected value does not match"]}
{:index 156, :time 8306086292, :type :invoke, :process 20, :f :cas, :value [1 4]}
{:index 157, :time 8320112542, :type :fail, :process 20, :f :cas, :value [1 4], :error [:precondition-failed "expected value does not match"]}
{:index 180, :time 9184803958, :type :invoke, :process 28, :f :cas, :value [4 2]}
{:index 181, :time 9204372208, :type :fail, :process 28, :f :cas, :value [4 2], :error [:precondition-failed "expected value does not match"]}
{:index 184, :time 9496523833, :type :invoke, :process 20, :f :cas, :value [2 0]}
{:index 185, :time 9505737125, :type :fail, :process 20, :f :cas, :value [2 0], :error [:precondition-failed "expected value does not match"]}
{:index 186, :time 9637850542, :type :invoke, :process 20, :f :write, :value 1}
{:index 187, :time 9645107250, :type :ok, :process 20, :f :write, :value 1}
