{:index 0, :time 9990959, :type :invoke, :process 3, :f :cas, :value [0 1]}
{:index 1, :time 101588084, :type :invoke, :process 4, :f :cas, :value [3 0]}
{:index 2, :time 168935084, :type :fail, :process 3, :f :cas, :value [0 1], :error [:precondition-failed "expected value does not match"]}
{:index 3, :time 247208292, :type :fail, :process 4, :f :cas, :value [3 0], :error [:precondition-failed "expected value does not match"]}
{:index 4, :time 289113625, :type :invoke, :process 3, :f :write, :value 2}
{:index 5, :time 296249500, :type :ok, :process 3, :f :write, :value 2}
{:index 6, :time 327351625, :type :invoke, :process 3, :f :cas, :value [3 3]}
{:index 7, :time 330813167, :type :fail, :process 3, :f :cas, :value [3 3], :error [:precondition-failed "expected value does not match"]}
{:index 8, :time 498618042, :type :invoke, :process 0, :f :read, :value nil}
{:index 9, :time 518976334, :type :invoke, :process 5, :f :cas, :value [1 1]}
{:index 10, :time 535140917, :type :ok, :process 0, :f :read, :value 2}
{:index 11, :time 713096250, :type :invoke, :process 3, :f :cas, :value [4 4]}
{:index 12, :time 721257542, :type :fail, :process 3, :f :cas, :value [4 4], :error [:precondition-failed "expected value does not match"]}
{:index 13, :time 746208875, :type :fail, :process 5, :f :cas, :value [1 1], :error [:precondition-failed "expected value does not match"]}
{:index 14, :time 885125542, :type :invoke, :process 3, :f :cas, :value [3 1]}
{:index 15, :time 893460209, :type :fail, :process 3, :f :cas, :value [3 1], :error [:precondition-failed "expected value does not match"]}
{:index 16, :time 1017396334, :type :invoke, :process 3, :f :write, :value 2}
{:index 17, :time 1024955750, :type :ok, :process 3, :f :write, :value 2}
{:index 18, :time 1073678625, :type :invoke, :process 2, :f :read, :value nil}
{:index 19, :time 1104644875, :type :ok, :process 2, :f :read, :value 2}
{:index 20, :time 1131843417, :type :invoke, :process 3, :f :cas, :value [3 2]}
{:index 21, :time 1141714625, :type :fail, :process 3, :f :cas, :value [3 2], :error [:precondition-failed "expected value does not match"]}
{:index 22, :time 1228722959, :type :invoke, :process 0, :f :read, :value nil}
{:index 23, :time 1235432375, :type :ok, :process 0, :f :read, :value 2}
{:index 24, :time 1377508917, :type :invoke, :process 5, :f :cas, :value [0 0]}
{:index 25, :time 1396472875, :type :fail, :process 5, :f :cas, :value [0 0], :error [:precondition-failed "expected value does not match"]}
{:index 26, :time 1533256709, :type :invoke, :process 0, :f :read, :value nil}
{:index 27, :time 1545553167, :type :ok, :process 0, :f :read, :value 2}
{:index 28, :time 1712522625, :type :invoke, :process 0, :f :read, :value nil}
{:index 29, :time 1738233292, :type :ok, :process 0, :f :read, :value 2}
{:index 30, :time 1890939500, :type :invoke, :process 3, :f :cas, :value [4 4]}
{:index 31, :time 1901572417, :type :fail, :process 3, :f :cas, :value [4 4], :error [:precondition-failed "expected value does not match"]}
{:index 32, :time 2080558500, :type :invoke, :process 3, :f :write, :value 3}
{:index 33, :time 2097539334, :type :invoke, :process 0, :f :read, :value nil}
{:index 34, :time 2108923625, :type :ok, :process 3, :f :write, :value 3}
{:index 35, :time 2113701667, :type :ok, :process 0, :f :read, :value 3}
{:index 36, :time 2228191375, :type :invoke, :process 0, :f :read, :value nil}
{:index 37, :time 2245380167, :type :ok, :process 0, :f :read, :value 3}
{:index 38, :time 2419274042, :type :invoke, :process 5, :f :write, :value 1}
{:index 39, :time 2451225709, :type :ok, :process 5, :f :write, :value 1}
{:index 40, :time 2600713084, :type :invoke, :process 0, :f :read, :value nil}
{:index 41, :time 2625139959, :type :ok, :process 0, :f :read, :value 1}
{:index 42, :time 2702182709, :type :invoke, :process 3, :f :write, :value 2}
{:index 43, :time 2718383625, :type :ok, :process 3, :f :write, :value 2}
{:index 44, :time 2836528917, :type :invoke, :process 3, :f :write, :value 2}
{:index 45, :time 2851380334, :type :ok, :process 3, :f :write, :value 2}
{:index 46, :time 2975272750, :type :invoke, :process 2, :f :read, :value nil}
{:index 47, :time 2982221084, :type :ok, :process 2, :f :read, :value 2}
{:index 48, :time 3160302959, :type :invoke, :process 3, :f :cas, :value [2 4]}
{:index 49, :time 3179868542, :type :ok, :process 3, :f :cas, :value [2 4]}
{:index 50, :time 3267139459, :type :invoke, :process 0, :f :read, :value nil}
{:index 51, :time 3277680917, :type :ok, :process 0, :f :read, :value 4}
{:index 52, :time 3326229500, :type :invoke, :process 5, :f :cas, :value [3 2]}
{:index 53, :time 3337754584, :type :fail, :process 5, :f :cas, :value [3 2], :error [:precondition-failed "expected value does not match"]}
{:index 54, :time 3508081709, :type :invoke, :process 0, :f :read, :value nil}
{:index 55, :time 3527452042, :type :ok, :process 0, :f :read, :value 4}
{:index 56, :time 3576917500, :type :invoke, :process 3, :f :cas, :value [4 3]}
{:index 57, :time 3589329459, :type :ok, :process 3, :f :cas, :value [4 3]}
{:index 58, :time 3621901417, :type :invoke, :process 3, :f :cas, :value [1 1]}
{:index 59, :time 3630897000, :type :fail, :process 3, :f :cas, :value [1 1], :error [:precondition-failed "expected value does not match"]}
{:index 60, :time 3693295834, :type :invoke, :process 2, :f :read, :value nil}
{:index 61, :time 3699751542, :type :ok, :process 2, :f :read, :value 3}
{:index 62, :time 3843466584, :type :invoke, :process 3, :f :cas, :value [0 4]}
{:index 63, :time 3860930084, :type :fail, :process 3, :f :cas, :value [0 4], :error [:precondition-failed "expected value does not match"]}
{:index 64, :time 3933233542, :type :invoke, :process 0, :f :read, :value nil}
{:index 65, :time 3946353167, :type :ok, :process 0, :f :read, :value 3}
{:index 66, :time 4052709417, :type :invoke, :process 0, :f :read, :value nil}
{:index 67, :time 4060880834, :type :ok, :process 0, :f :read, :value 3}
{:index 68, :time 4209953334, :type :invoke, :process 3, :f :write, :value 0}
{:index 69, :time 4223466417, :type :ok, :process 3, :f :write, :value 0}
{:index 70, :time 4350960292, :type :invoke, :process 0, :f :read, :value nil}
{:index 71, :time 4369833792, :type :ok, :process 0, :f :read, :value 0}
{:index 72, :time 4495835209, :type :invoke, :process 1, :f :read, :value nil}
{:index 73, :time 4513214584, :type :ok, :process 1, :f :read, :value 0}
{:index 74, :time 4549826042, :type :invoke, :process 2, :f :read, :value nil}
{:index 75, :time 4562663792, :type :ok, :process 2, :f :read, :value 0}
{:index 76, :time 4592010875, :type :invoke, :process 3, :f :cas, :value [4 3]}
{:index 77, :time 4602839417, :type :fail, :process 3, :f :cas, :value [4 3], :error [:precondition-failed "expected value does not match"]}
{:index 78, :time 4724105750, :type :invoke, :process 4, :f :cas, :value [1 2]}
{:index 79, :time 4754607625, :type :fail, :process 4, :f :cas, :value [1 2], :error [:precondition-failed "expected value does not match"]}
{:index 80, :time 4883153875, :type :invoke, :process 5, :f :cas, :value [0 2]}
{:index 81, :time 4896182417, :type :ok, :process 5, :f :cas, :value [0 2]}
{:index 82, :time 4905999084, :type :invoke, :process 3, :f :cas, :value [4 0]}
{:index 83, :time 4925026834, :type :fail, :process 3, :f :cas, :value [4 0], :error [:precondition-failed "expected value does not match"]}
{:index 84, :time 4927772459, :type :invoke, :process 0, :f :read, :value nil}
{:index 85, :time 4935316709, :type :ok, :process 0, :f :read, :value 2}
{:index 86, :time 5102233375, :type :invoke, :process 3, :f :cas, :value [3 1]}
{:index 87, :time 5115513500, :type :fail, :process 3, :f :cas, :value [3 1], :error [:precondition-failed "expected value does not match"]}
{:index 88, :time 5291001500, :type :invoke, :process 2, :f :read, :value nil}
{:index 89, :time 5301065542, :type :ok, :process 2, :f :read, :value 2}
{:index 90, :time 5412941209, :type :invoke, :process 3, :f :write, :value 4}
{:index 91, :time 5444188792, :type :ok, :process 3, :f :write, :value 4}
{:index 92, :time 5464043625, :type :invoke, :process 0, :f :read, :value nil}
{:index 93, :time 5470996084, :type :ok, :process 0, :f :read, :value 4}
{:index 94, :time 5656041459, :type :invoke, :process 5, :f :cas, :value [1 0]}
{:index 95, :time 5671644292, :type :fail, :process 5, :f :cas, :value [1 0], :error [:precondition-failed "expected value does not match"]}
{:index 96, :time 5801007917, :type :invoke, :process 3, :f :write, :value 1}
{:index 97, :time 5816417250, :type :ok, :process 3, :f :write, :value 1}
{:index 98, :time 5952898417, :type :invoke, :process 0, :f :read, :value nil}
{:index 99, :time 5974612459, :type :ok, :process 0, :f :read, :value 1}
{:index 100, :time 6003512542, :type :invoke, :process 3, :f :cas, :value [0 2]}
{:index 101, :time 6011329292, :type :fail, :process 3, :f :cas, :value [0 2], :error [:precondition-failed "expected value does not match"]}
{:index 102, :time 6137783792, :type :invoke, :process 3, :f :cas, :value [0 2]}
{:index 103, :time 6151536000, :type :fail, :process 3, :f :cas, :value [0 2], :error [:precondition-failed "expected value does not match"]}
{:index 104, :time 6246579667, :type :invoke, :process 3, :f :cas, :value [4 1]}
{:index 105, :time 6267593375, :type :fail, :process 3, :f :cas, :value [4 1], :error [:precondition-failed "expected value does not match"]}
{:index 106, :time 6341254459, :type :invoke, :process 0, :f :read, :value nil}
{:index 107, :time 6350931417, :type :invoke, :process 1, :f :read, :value nil}
{:index 108, :time 6351680292, :type :ok, :process 0, :f :read, :value 1}
{:index 109, :time 6360876875, :type :ok, :process 1, :f :read, :value 1}
{:index 110, :time 6426981292, :type :invoke, :process 0, :f :read, :value nil}
{:index 111, :time 6437409959, :type :ok, :process 0, :f :read, :value 1}
{:index 112, :time 6564628417, :type :invoke, :process 0, :f :read, :value nil}
{:index 113, :time 6579125250, :type :ok, :process 0, :f :read, :value 1}
{:index 114, :time 6729489000, :type :invoke, :process 3, :f :cas, :value [4 4]}
{:index 115, :time 6754301709, :type :fail, :process 3, :f :cas, :value [4 4], :error [:precondition-failed "expected value does not match"]}
{:index 116, :time 6786984000, :type :invoke, :process 2, :f :read, :value nil}
{:index 117, :time 6800454584, :type :ok, :process 2, :f :read, :value 1}
{:index 118, :time 6834740417, :type :invoke, :process 0, :f :read, :value nil}
{:index 119, :time 6858726292, :type :ok, :process 0, :f :read, :value 1}
{:index 120, :time 7007239209, :type :invoke, :process 0, :f :read, :value nil}
{:index 121, :time 7022669542, :type :ok, :process 0, :f :read, :value 1}
{:index 122, :time 7146655042, :type :invoke, :process 5, :f :cas, :value [3 3]}
{:index 123, :time 7169167625, :type :fail, :process 5, :f :cas, :value [3 3], :error [:precondition-failed "expected value does not match"]}
{:index 124, :time 7283051750, :type :invoke, :process 3, :f :cas, :value [1 3]}
{:index 125, :time 7307577042, :type :ok, :process 3, :f :cas, :value [1 3]}
{:index 126, :time 7345142709, :type :invoke, :process 3, :f :cas, :value [3 0]}
{:index 127, :time 7355816875, :type :ok, :process 3, :f :cas, :value [3 0]}
{:index 128, :time 7481178375, :type :invoke, :process 1, :f :read, :value nil}
{:index 129, :time 7496013584, :type :ok, :process 1, :f :read, :value 0}
{:index 130, :time 7570156750, :type :invoke, :process 3, :f :write, :value 2}
{:index 131, :time 7580360334, :type :ok, :process 3, :f :write, :value 2}
{:index 132, :time 7760110042, :type :invoke, :process 3, :f :cas, :value [3 0]}
{:index 133, :time 7775003542, :type :invoke, :process 0, :f :read, :value nil}
{:index 134, :time 7795859459, :type :fail, :process 3, :f :cas, :value [3 0], :error [:precondition-failed "expected value does not match"]}
{:index 135, :time 7801459542, :type :ok, :process 0, :f :read, :value 2}
{:index 136, :time 7850034542, :type :invoke, :process 5, :f :cas, :value [4 4]}
{:index 137, :time 7863709250, :type :fail, :process 5, :f :cas, :value [4 4], :error [:precondition-failed "expected value does not match"]}
{:index 138, :time 7969730084, :type :invoke, :process 0, :f :read, :value nil}
{:index 139, :time 7981269750, :type :ok, :process 0, :f :read, :value 2}
{:index 140, :time 8002987667, :type :invoke, :process 0, :f :read, :value nil}
{:index 141, :time 8014767750, :type :ok, :process 0, :f :read, :value 2}
{:index 142, :time 8052011709, :type :invoke, :process 1, :f :read, :value nil}
{:index 143, :time 8061949334, :type :ok, :process 1, :f :read, :value 2}
{:index 144, :time 8147066750, :type :invoke, :process 3, :f :write, :value 2}
{:index 145, :time 8157944917, :type :ok, :process 3, :f :write, :value 2}
{:index 146, :time 8160647917, :type :invoke, :process 0, :f :read, :value nil}
{:index 147, :time 8174102459, :type :ok, :process 0, :f :read, :value 2}
{:index 148, :time 8346193917, :type :invoke, :process 0, :f :read, :value nil}
{:index 149, :time 8363190917, :type :ok, :process 0, :f :read, :value 2}
{:index 150, :time 8428408250, :type :invoke, :process 5, :f :cas, :value [4 2]}
{:index 151, :time 8442119334, :type :fail, :process 5, :f :cas, :value [4 2], :error [:precondition-failed "expected value does not match"]}
{:index 152, :time 8555142625, :type :invoke, :process 0, :f :read, :value nil}
{:index 153, :time 8563179917, :type :ok, :process 0, :f :read, :value 2}
{:index 154, :time 8632340417, :type :invoke, :process 3, :f :cas, :value [2 0]}
{:index 155, :time 8640924500, :type :ok, :process 3, :f :cas, :value [2 0]}
{:index 156, :time 8791584292, :type :invoke, :process 1, :f :read, :value nil}
{:index 157, :time 8816107792, :type :ok, :process 1, :f :read, :value 0}
{:index 158, :time 8843369500, :type :invoke, :process 2, :f :read, :value nil}
{:index 159, :time 8856542542, :type :ok, :process 2, :f :read, :value 0}
{:index 160, :time 9026292500, :type :invoke, :process 3, :f :cas, :value [0 0]}
{:index 161, :time 9037870334, :type :invoke, :process 0, :f :read, :value nil}
{:index 162, :time 9069067709, :type :ok, :process 3, :f :cas, :value [0 0]}
{:index 163, :time 9069921542, :type :ok, :process 0, :f :read, :value 0}
{:index 164, :time 9179687417, :type :invoke, :process 5, :f :write, :value 3}
{:index 165, :time 9191272375, :type :ok, :process 5, :f :write, :value 3}
{:index 166, :time 9348890959, :type :invoke, :process 3, :f :cas, :value [1 4]}
{:index 167, :time 9372195542, :type :fail, :process 3, :f :cas, :value [1 4], :error [:precondition-failed "expected value does not match"]}
{:index 168, :time 9550634875, :type :invoke, :process 0, :f :read, :value nil}
{:index 169, :time 9569954167, :type :ok, :process 0, :f :read, :value 3}
{:index 170, :time 9644916334, :type :invoke, :process 1, :f :read, :value nil}
{:index 171, :time 9664485542, :type :ok, :process 1, :f :read, :value 3}
{:index 172, :time 9723086292, :type :invoke, :process 3, :f :cas, :value [2 3]}
{:index 173, :time 9735339625, :type :fail, :process 3, :f :cas, :value [2 3], :error [:precondition-failed "expected value does not match"]}
{:index 174, :time 9764232125, :type :invoke, :process 0, :f :read, :value nil}
{:index 175, :time 9776748834, :type :ok, :process 0, :f :read, :value 3}
{:index 176, :time 9906582750, :type :invoke, :process 4, :f :cas, :value [0 1]}
{:index 177, :time 9917889042, :type :fail, :process 4, :f :cas, :value [0 1], :error [:precondition-failed "expected value does not match"]}
{:index 178, :time 10057935667, :type :invoke, :process 5, :f :write, :value 4}
{:index 179, :time 10075911000, :type :ok, :process 5, :f :write, :value 4}
{:index 180, :time 10086372667, :type :invoke, :process 0, :f :read, :value nil}
{:index 181, :time 10094417917, :type :ok, :process 0, :f :read, :value 4}
{:index 182, :time 10183621917, :type :invoke, :process 0, :f :read, :value nil}
{:index 183, :time 10191672917, :type :ok, :process 0, :f :read, :value 4}
{:index 184, :time 10258149084, :type :invoke, :process 3, :f :write, :value 1}
{:index 185, :time 10266314750, :type :ok, :process 3, :f :write, :value 1}
{:index 186, :time 10450450792, :type :invoke, :process 3, :f :cas, :value [2 1]}
{:index 187, :time 10469407709, :type :fail, :process 3, :f :cas, :value [2 1], :error [:precondition-failed "expected value does not match"]}
{:index 188, :time 10644858334, :type :invoke, :process 3, :f :cas, :value [2 0]}
{:index 189, :time 10663517792, :type :fail, :process 3, :f :cas, :value [2 0], :error [:precondition-failed "expected value does not match"]}
{:index 190, :time 10789950459, :type :invoke, :process 4, :f :cas, :value [0 4]}
{:index 191, :time 10803671084, :type :fail, :process 4, :f :cas, :value [0 4], :error [:precondition-failed "expected value does not match"]}
{:index 192, :time 10925031750, :type :invoke, :process 5, :f :cas, :value [4 4]}
{:index 193, :time 10930957125, :type :fail, :process 5, :f :cas, :value [4 4], :error [:precondition-failed "expected value does not match"]}
{:index 194, :time 10991810875, :type :invoke, :process 0, :f :read, :value nil}
{:index 195, :time 11000665250, :type :ok, :process 0, :f :read, :value 1}
{:index 196, :time 11081444209, :type :invoke, :process 3, :f :cas, :value [3 0]}
{:index 197, :time 11092804917, :type :fail, :process 3, :f :cas, :value [3 0], :error [:precondition-failed "expected value does not match"]}
{:index 198, :time 11136089584, :type :invoke, :process 1, :f :read, :value nil}
{:index 199, :time 11141392792, :type :ok, :process 1, :f :read, :value 1}
{:index 200, :time 11317582875, :type :invoke, :process 2, :f :read, :value nil}
{:index 201, :time 11329048792, :type :ok, :process 2, :f :read, :value 1}
{:index 202, :time 11362613000, :type :invoke, :process 3, :f :write, :value 2}
{:index 203, :time 11372866959, :type :ok, :process 3, :f :write, :value 2}
{:index 204, :time 11478815125, :type :invoke, :process 0, :f :read, :value nil}
{:index 205, :time 11490142875, :type :ok, :process 0, :f :read, :value 2}
{:index 206, :time 11663892250, :type :invoke, :process 5, :f :cas, :value [2 1]}
{:index 207, :time 11681595709, :type :ok, :process 5, :f :cas, :value [2 1]}
{:index 208, :time 11744518750, :type :invoke, :process 3, :f :write, :value 0}
{:index 209, :time 11751843792, :type :ok, :process 3, :f :write, :value 0}
{:index 210, :time 11780398209, :type :invoke, :process 3, :f :cas, :value [4 4]}
{:index 211, :time 11792897500, :type :fail, :process 3, :f :cas, :value [4 4], :error [:precondition-failed "expected value does not match"]}
{:index 212, :time 11848764000, :type :invoke, :process 1, :f :read, :value nil}
{:index 213, :time 11856380792, :type :ok, :process 1, :f :read, :value 0}
{:index 214, :time 11995786375, :type :invoke, :process 3, :f :cas, :value [2 4]}
{:index 215, :time 12009474750, :type :fail, :process 3, :f :cas, :value [2 4], :error [:precondition-failed "expected value does not match"]}
{:index 216, :time 12184886917, :type :invoke, :process 0, :f :read, :value nil}
{:index 217, :time 12200906167, :type :ok, :process 0, :f :read, :value 0}
{:index 218, :time 12355557625, :type :invoke, :process 0, :f :read, :value nil}
{:index 219, :time 12364415875, :type :ok, :process 0, :f :read, :value 0}
{:index 220, :time 12433896125, :type :invoke, :process 0, :f :read, :value nil}
{:index 221, :time 12446839209, :type :ok, :process 0, :f :read, :value 0}
{:index 222, :time 12615196542, :type :invoke, :process 0, :f :read, :value nil}
{:index 223, :time 12639458625, :type :ok, :process 0, :f :read, :value 0}
{:index 224, :time 12819999834, :type :invoke, :process 3, :f :write, :value 2}
{:index 225, :time 12837038917, :type :ok, :process 3, :f :write, :value 2}
{:index 226, :time 12850591750, :type :invoke, :process 3, :f :cas, :value [1 2]}
{:index 227, :time 12865497959, :type :fail, :process 3, :f :cas, :value [1 2], :error [:precondition-failed "expected value does not match"]}
{:index 228, :time 13020058250, :type :invoke, :process 3, :f :cas, :value [0 4]}
{:index 229, :time 13035203084, :type :fail, :process 3, :f :cas, :value [0 4], :error [:precondition-failed "expected value does not match"]}
{:index 230, :time 13100359334, :type :invoke, :process 0, :f :read, :value nil}
{:index 231, :time 13108023542, :type :ok, :process 0, :f :read, :value 2}
{:index 232, :time 13233584667, :type :invoke, :process 0, :f :read, :value nil}
{:index 233, :time 13247405042, :type :ok, :process 0, :f :read, :value 2}
{:index 234, :time 13321414875, :type :invoke, :process 5, :f :cas, :value [1 3]}
{:index 235, :time 13332202750, :type :fail, :process 5, :f :cas, :value [1 3], :error [:precondition-failed "expected value does not match"]}
{:index 236, :time 13459376834, :type :invoke, :process 3, :f :cas, :value [3 4]}
{:index 237, :time 13466398167, :type :fail, :process 3, :f :cas, :value [3 4], :error [:precondition-failed "expected value does not match"]}
{:index 238, :time 13649218334, :type :invoke, :process 3, :f :cas, :value [1 4]}
{:index 239, :time 13657295042, :type :fail, :process 3, :f :cas, :value [1 4], :error [:precondition-failed "expected value does not match"]}
{:index 240, :time 13686040584, :type :invoke, :process 3, :f :write, :value 1}
{:index 241, :time 13695281292, :type :ok, :process 3, :f :write, :value 1}
{:index 242, :time 13883318417, :type :invoke, :process 3, :f :cas, :value [0 4]}
{:index 243, :time 13908331334, :type :fail, :process 3, :f :cas, :value [0 4], :error [:precondition-failed "expected value does not match"]}
{:index 244, :time 14049963417, :type :invoke, :process 3, :f :cas, :value [2 1]}
{:index 245, :time 14065176042, :type :fail, :process 3, :f :cas, :value [2 1], :error [:precondition-failed "expected value does not match"]}
{:index 246, :time 14077085875, :type :invoke, :process 0, :f :read, :value nil}
{:index 247, :time 14088954209, :type :ok, :process 0, :f :read, :value 1}
{:index 248, :time 14111646417, :type :invoke, :process 5, :f :cas, :value [4 4]}
{:index 249, :time 14124251417, :type :fail, :process 5, :f :cas, :value [4 4], :error [:precondition-failed "expected value does not match"]}
{:index 250, :time 14176155125, :type :invoke, :process 0, :f :read, :value nil}
{:index 251, :time 14185182834, :type :ok, :process 0, :f :read, :value 1}
{:index 252, :time 14375961250, :type :invoke, :process 3, :f :cas, :value [1 4]}
{:index 253, :time 14397627000, :type :ok, :process 3, :f :cas, :value [1 4]}
{:index 254, :time 14436553334, :type :invoke, :process 1, :f :read, :value nil}
{:index 255, :time 14448354625, :type :invoke, :process 3, :f :write, :value 4}
{:index 256, :time 14456729750, :type :ok, :process 1, :f :read, :value 4}
{:index 257, :time 14462828667, :type :ok, :process 3, :f :write, :value 4}
{:index 258, :time 14570199584, :type :invoke, :process 3, :f :write, :value 0}
{:index 259, :time 14584066584, :type :ok, :process 3, :f :write, :value 0}
{:index 260, :time 14643471167, :type :invoke, :process 0, :f :read, :value nil}
{:index 261, :time 14648784792, :type :ok, :process 0, :f :read, :value 0}
{:index 262, :time 14815316417, :type :invoke, :process 0, :f :read, :value nil}
{:index 263, :time 14830153667, :type :ok, :process 0, :f :read, :value 0}
{:index 264, :time 14964772750, :type :invoke, :process 0, :f :read, :value nil}
{:index 265, :time 14971074917, :type :ok, :process 0, :f :read, :value 0}
{:index 266, :time 15008927292, :type :invoke, :process 0, :f :read, :value nil}
{:index 267, :time 15017874959, :type :ok, :process 0, :f :read, :value 0}
