{:index 1, :time 82598792, :type :invoke, :process 5, :f :cas, :value [3 2]}
{:index 2, :time 113075750, :type :invoke, :process 2, :f :read, :value nil}
{:index 6, :time 306533792, :type :fail, :process 5, :f :cas, :value [3 2], :error [:precondition-failed "expected value does not match"]}
{:index 7, :time 323217500, :type :fail, :process 2, :f :read, :value nil, :error [:key-does-not-exist "key not found"]}
{:index 8, :time 369625000, :type :invoke, :process 4, :f :read, :value nil}
{:index 9, :time 382868875, :type :invoke, :process 5, :f :write, :value 3}
{:index 10, :time 394888083, :type :ok, :process 5, :f :write, :value 3}
{:index 13, :time 579100875, :type :ok, :process 4, :f :read, :value 3}
{:index 22, :time 1207998000, :type :invoke, :process 5, :f :cas, :value [2 1]}
{:index 23, :time 1234800708, :type :fail, :process 5, :f :cas, :value [2 1], :error [:precondition-failed "expected value does not match"]}
{:index 28, :time 1485825833, :type :invoke, :process 0, :f :read, :value nil}
{:index 29, :time 1519518333, :type :ok, :process 0, :f :read, :value 3}
{:index 30, :time 1636333917, :type :invoke, :process 0, :f :read, :value nil}
{:index 31, :time 1652204333, :type :ok, :process 0, :f :read, :value 3}
{:index 32, :time 1764418583, :type :invoke, :process 0, :f :read, :value nil}
{:index 33, :time 1789196500, :type :ok, :process 0, :f :read, :value 3}
{:index 40, :time 2131287708, :type :invoke, :process 5, :f :cas, :value [3 0]}
{:index 41, :time 2136163417, :type :ok, :process 5, :f :cas, :value [3 0]}
{:index 43, :time 2346113500, :type :invoke, :process 0, :f :read, :value nil}
{:index 44, :time 2350172208, :type :ok, :process 0, :f :read, :value 0}
{:index 52, :time 2736675667, :type :invoke, :process 5, :f :cas, :value [4 2]}
{:index 53, :time 2749762792, :type :fail, :process 5, :f :cas, :value [4 2], :error [:precondition-failed "expected value does not match"]}
{:index 54, :time 2899586667, :type :invoke, :process 0, :f :read, :value nil}
{:index 55, :time 2909499542, :type :ok, :process 0, :f :read, :value 0}
{:index 56, :time 2981511125, :type :invoke, :process 5, :f :write, :value 1}
{:index 57, :time 2992978292, :type :ok, :process 5, :f :write, :value 1}
{:index 58, :time 3051042625, :type :invoke, :process 5, :f :write, :value 2}
{:index 59, :time 3065647542, :type :ok, :process 5, :f :write, :value 2}
{:index 64, :time 3450391792, :type :invoke, :process 5, :f :write, :value 4}
{:index 65, :time 3468537708, :type :ok, :process 5, :f :write, :value 4}
{:index 70, :time 3703236708, :type :invoke, :process 5, :f :write, :value 0}
{:index 71, :time 3717822625, :type :ok, :process 5, :f :write, :value 0}
{:index 74, :time 3960516292, :type :invoke, :process 6, :f :write, :value 1}
{:index 77, :time 3981817583, :type :ok, :process 6, :f :write, :value 1}
{:index 78, :time 4086452417, :type :invoke, :process 8, :f :cas, :value [4 2]}
{:index 79, :time 4099462333, :type :fail, :process 8, :f :cas, :value [4 2], :error [:precondition-failed "expected value does not match"]}
{:index 86, :time 4370770625, :type :invoke, :process 5, :f :write, :value 3}
{:index 87, :time 4386940583, :type :ok, :process 5, :f :write, :value 3}
{:index 90, :time 4502524333, :type :invoke, :process 5, :f :cas, :value [0 0]}
{:index 91, :time 4525108042, :type :fail, :process 5, :f :cas, :value [0 0], :error [:precondition-failed "expected value does not match"]}
{:index 104, :time 5374971917, :type :invoke, :process 0, :f :read, :value nil}
{:index 105, :time 5390076625, :type :ok, :process 0, :f :read, :value 3}
{:index 108, :time 5743930167, :type :invoke, :process 0, :f :read, :value nil}
{:index 109, :time 5772610833, :type :ok, :process 0, :f :read, :value 3}
{:index 112, :time 6015247000, :type :invoke, :process 0, :f :read, :value nil}
{:index 113, :time 6042957917, :type :ok, :process 0, :f :read, :value 3}
{:index 126, :time 6820713542, :type :invoke, :process 1, :f :read, :value nil}
{:index 127, :time 6849310917, :type :ok, :process 1, :f :read, :value 3}
{:index 132, :time 7079064958, :type :invoke, :process 5, :f :write, :value 0}
{:index 133, :time 7091132042, :type :ok, :process 5, :f :write, :value 0}
{:index 136, :time 7285392250, :type :invoke, :process 6, :f :cas, :value [4 3]}
{:index 137, :time 7297083083, :type :fail, :process 6, :f :cas, :value [4 3], :error [:precondition-failed "expected value does not match"]}
{:index 140, :time 7521764125, :type :invoke, :process 0, :f :read, :value nil}
{:index 141, :time 7535588333, :type :ok, :process 0, :f :read, :value 0}
{:index 142, :time 7687911250, :type :invoke, :process 0, :f :read, :value nil}
{:index 143, :time 7712369208, :type :ok, :process 0, :f :read, :value 0}
{:index 146, :time 7833498708, :type :invoke, :process 5, :f :write, :value 2}
{:index 147, :time 7840144292, :type :ok, :process 5, :f :write, :value 2}
{:index 158, :time 8385853292, :type :invoke, :process 5, :f :cas, :value [2 4]}
{:index 160, :time 8409367167, :type :ok, :process 5, :f :cas, :value [2 4]}
{:index 162, :time 8464777250, :type :invoke, :process 5, :f :write, :value 2}
{:index 163, :time 8486178917, :type :ok, :process 5, :f :write, :value 2}
{:index 164, :time 8657807958, :type :invoke, :process 0, :f :read, :value nil}
{:index 165, :time 8674894833, :type :ok, :process 0, :f :read, :value 2}
{:index 166, :time 8715051167, :type :invoke, :process 5, :f :cas, :value [1 2]}
{:index 167, :time 8724894667, :type :fail, :process 5, :f :cas, :value [1 2], :error [:precondition-failed "expected value does not match"]}
{:index 176, :time 9059718042, :type :invoke, :process 5, :f :write, :value 1}
{:index 177, :time 9066331667, :type :ok, :process 5, :f :write, :value 1}
{:index 178, :time 9112115875, :type :invoke, :process 5, :f :write, :value 1}
{:index 179, :time 9126326833, :type :ok, :process 5, :f :write, :value 1}
{:index 188, :time 9814349333, :type :invoke, :process 1, :f :read, :value nil}
{:index 189, :time 9831692750, :type :ok, :process 1, :f :read, :value 1}
