{:index 0, :time 9410625, :type :invoke, :process 20, :f :cas, :value [2 [3 2]]}
{:index 1, :time 167134959, :type :invoke, :process 21, :f :cas, :value [2 [0 2]]}
{:index 2, :time 255598292, :type :invoke, :process 5, :f :cas, :value [0 [1 4]]}
{:index 3, :time 267301292, :type :invoke, :process 10, :f :cas, :value [1 [0 1]]}
{:index 4, :time 357459792, :type :invoke, :process 22, :f :cas, :value [2 [0 1]]}
{:index 5, :time 358903667, :type :fail, :process 5, :f :cas, :value [0 [1 4]], :error [:precondition-failed "expected value does not match"]}
{:index 6, :time 359106667, :type :fail, :process 10, :f :cas, :value [1 [0 1]], :error [:precondition-failed "expected value does not match"]}
{:index 7, :time 359148500, :type :fail, :process 20, :f :cas, :value [2 [3 2]], :error [:precondition-failed "expected value does not match"]}
{:index 8, :time 388182792, :type :fail, :process 21, :f :cas, :value [2 [0 2]], :error [:precondition-failed "expected value does not match"]}
{:index 9, :time 434588834, :type :invoke, :process 5, :f :cas, :value [0 [0 3]]}
{:index 10, :time 438787459, :type :fail, :process 5, :f :cas, :value [0 [0 3]], :error [:precondition-failed "expected value does not match"]}
{:index 11, :time 440573125, :type :invoke, :process 10, :f :cas, :value [1 [4 4]]}
{:index 12, :time 443668000, :type :fail, :process 10, :f :cas, :value [1 [4 4]], :error [:precondition-failed "expected value does not match"]}
{:index 13, :time 493022750, :type :fail, :process 22, :f :cas, :value [2 [0 1]], :error [:precondition-failed "expected value does not match"]}
{:index 14, :time 550983667, :type :invoke, :process 20, :f :write, :value [2 2]}
{:index 15, :time 562183084, :type :ok, :process 20, :f :write, :value [2 2]}
{:index 16, :time 689507042, :type :invoke, :process 20, :f :write, :value [2 2]}
{:index 17, :time 706491000, :type :ok, :process 20, :f :write, :value [2 2]}
{:index 18, :time 737342167, :type :invoke, :process 20, :f :write, :value [2 1]}
{:index 19, :time 752150084, :type :ok, :process 20, :f :write, :value [2 1]}
{:index 20, :time 850157209, :type :invoke, :process 20, :f :write, :value [2 2]}
{:index 21, :time 867795500, :type :ok, :process 20, :f :write, :value [2 2]}
{:index 22, :time 945351834, :type :invoke, :process 11, :f :cas, :value [1 [4 4]]}
{:index 23, :time 974162334, :type :fail, :process 11, :f :cas, :value [1 [4 4]], :error [:precondition-failed "expected value does not match"]}
{:index 24, :time 1055546417, :type :invoke, :process 20, :f :cas, :value [2 [1 2]]}
{:index 25, :time 1083839375, :type :fail, :process 20, :f :cas, :value [2 [1 2]], :error [:precondition-failed "expected value does not match"]}
{:index 26, :time 1217505167, :type :invoke, :process 20, :f :cas, :value [2 [3 0]]}
{:index 27, :time 1222095250, :type :fail, :process 20, :f :cas, :value [2 [3 0]], :error [:precondition-failed "expected value does not match"]}
{:index 28, :time 1319035917, :type :invoke, :process 20, :f :cas, :value [2 [0 1]]}
{:index 29, :time 1336682834, :type :fail, :process 20, :f :cas, :value [2 [0 1]], :error [:precondition-failed "expected value does not match"]}
{:index 30, :time 1408377834, :type :invoke, :process 15, :f :cas, :value [1 [0 1]]}
{:index 31, :time 1419116834, :type :fail, :process 15, :f :cas, :value [1 [0 1]], :error [:precondition-failed "expected value does not match"]}
{:index 32, :time 1607074125, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 33, :time 1646039042, :type :ok, :process 0, :f :read, :value [0 4]}
{:index 34, :time 1811002709, :type :invoke, :process 5, :f :write, :value [0 2]}
{:index 35, :time 1827194709, :type :ok, :process 5, :f :write, :value [0 2]}
{:index 36, :time 1835519042, :type :invoke, :process 20, :f :cas, :value [2 [2 4]]}
{:index 37, :time 1858113584, :type :ok, :process 20, :f :cas, :value [2 [2 4]]}
{:index 38, :time 1943181709, :type :invoke, :process 20, :f :cas, :value [2 [1 3]]}
{:index 39, :time 1968724375, :type :fail, :process 20, :f :cas, :value [2 [1 3]], :error [:precondition-failed "expected value does not match"]}
{:index 40, :time 2135924917, :type :invoke, :process 20, :f :write, :value [2 4]}
{:index 41, :time 2156885875, :type :ok, :process 20, :f :write, :value [2 4]}
{:index 42, :time 2267734542, :type :invoke, :process 21, :f :write, :value [2 2]}
{:index 43, :time 2303333084, :type :ok, :process 21, :f :write, :value [2 2]}
{:index 44, :time 2304697834, :type :invoke, :process 10, :f :cas, :value [1 [4 4]]}
{:index 45, :time 2307362375, :type :fail, :process 10, :f :cas, :value [1 [4 4]], :error [:precondition-failed "expected value does not match"]}
{:index 46, :time 2345825042, :type :invoke, :process 5, :f :cas, :value [0 [3 1]]}
{:index 47, :time 2354111750, :type :fail, :process 5, :f :cas, :value [0 [3 1]], :error [:precondition-failed "expected value does not match"]}
{:index 48, :time 2489062167, :type :invoke, :process 24, :f :cas, :value [2 [4 4]]}
{:index 49, :time 2642502334, :type :fail, :process 24, :f :cas, :value [2 [4 4]], :error [:precondition-failed "expected value does not match"]}
{:index 50, :time 2650229500, :type :invoke, :process 5, :f :cas, :value [0 [1 3]]}
{:index 51, :time 2655751459, :type :fail, :process 5, :f :cas, :value [0 [1 3]], :error [:precondition-failed "expected value does not match"]}
{:index 52, :time 2739442584, :type :invoke, :process 5, :f :cas, :value [0 [0 2]]}
{:index 53, :time 2744780459, :type :fail, :process 5, :f :cas, :value [0 [0 2]], :error [:precondition-failed "expected value does not match"]}
{:index 54, :time 2815438917, :type :invoke, :process 5, :f :cas, :value [0 [3 1]]}
{:index 55, :time 2818421375, :type :fail, :process 5, :f :cas, :value [0 [3 1]], :error [:precondition-failed "expected value does not match"]}
{:index 56, :time 2944788209, :type :invoke, :process 5, :f :cas, :value [0 [1 1]]}
{:index 57, :time 2966490750, :type :fail, :process 5, :f :cas, :value [0 [1 1]], :error [:precondition-failed "expected value does not match"]}
{:index 58, :time 3076762542, :type :invoke, :process 10, :f :write, :value [1 4]}
{:index 59, :time 3087011875, :type :ok, :process 10, :f :write, :value [1 4]}
{:index 60, :time 3098756292, :type :invoke, :process 20, :f :write, :value [2 4]}
{:index 61, :time 3113024250, :type :ok, :process 20, :f :write, :value [2 4]}
{:index 62, :time 3132577834, :type :invoke, :process 10, :f :write, :value [1 1]}
{:index 63, :time 3159871334, :type :ok, :process 10, :f :write, :value [1 1]}
{:index 64, :time 3275561125, :type :invoke, :process 5, :f :cas, :value [0 [1 3]]}
{:index 65, :time 3280999334, :type :invoke, :process 10, :f :cas, :value [1 [1 1]]}
{:index 66, :time 3300841334, :type :fail, :process 5, :f :cas, :value [0 [1 3]], :error [:precondition-failed "expected value does not match"]}
{:index 67, :time 3301916084, :type :ok, :process 10, :f :cas, :value [1 [1 1]]}
{:index 68, :time 3317836625, :type :invoke, :process 20, :f :write, :value [2 0]}
{:index 69, :time 3329517334, :type :ok, :process 20, :f :write, :value [2 0]}
{:index 70, :time 3338961625, :type :invoke, :process 20, :f :write, :value [2 1]}
{:index 71, :time 3342459750, :type :invoke, :process 21, :f :write, :value [2 1]}
{:index 72, :time 3347743459, :type :ok, :process 20, :f :write, :value [2 1]}
{:index 73, :time 3348054334, :type :ok, :process 21, :f :write, :value [2 1]}
{:index 74, :time 3467227500, :type :invoke, :process 20, :f :cas, :value [2 [4 4]]}
{:index 75, :time 3484184167, :type :fail, :process 20, :f :cas, :value [2 [4 4]], :error [:precondition-failed "expected value does not match"]}
{:index 76, :time 3602461250, :type :invoke, :process 20, :f :cas, :value [2 [4 3]]}
{:index 77, :time 3608484084, :type :fail, :process 20, :f :cas, :value [2 [4 3]], :error [:precondition-failed "expected value does not match"]}
{:index 78, :time 3748917250, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 79, :time 3761216167, :type :ok, :process 0, :f :read, :value [0 2]}
{:index 80, :time 3790669500, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 81, :time 3809121667, :type :ok, :process 0, :f :read, :value [0 2]}
{:index 82, :time 3868018459, :type :invoke, :process 10, :f :cas, :value [1 [2 1]]}
{:index 83, :time 3888332959, :type :fail, :process 10, :f :cas, :value [1 [2 1]], :error [:precondition-failed "expected value does not match"]}
{:index 84, :time 3923485667, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 85, :time 3938747459, :type :ok, :process 0, :f :read, :value [0 2]}
{:index 86, :time 4124711542, :type :invoke, :process 12, :f :write, :value [1 0]}
{:index 87, :time 4134674209, :type :invoke, :process 20, :f :cas, :value [2 [2 4]]}
{:index 88, :time 4139922834, :type :fail, :process 20, :f :cas, :value [2 [2 4]], :error [:precondition-failed "expected value does not match"]}
{:index 89, :time 4142679750, :type :ok, :process 12, :f :write, :value [1 0]}
{:index 90, :time 4237312750, :type :invoke, :process 14, :f :write, :value [1 3]}
{:index 91, :time 4261196292, :type :ok, :process 14, :f :write, :value [1 3]}
{:index 92, :time 4261396167, :type :invoke, :process 15, :f :cas, :value [1 [1 0]]}
{:index 93, :time 4270307500, :type :fail, :process 15, :f :cas, :value [1 [1 0]], :error [:precondition-failed "expected value does not match"]}
{:index 94, :time 4441169584, :type :invoke, :process 16, :f :cas, :value [1 [0 2]]}
{:index 95, :time 4454432834, :type :fail, :process 16, :f :cas, :value [1 [0 2]], :error [:precondition-failed "expected value does not match"]}
{:index 96, :time 4506448959, :type :invoke, :process 5, :f :write, :value [0 0]}
{:index 97, :time 4520089750, :type :ok, :process 5, :f :write, :value [0 0]}
{:index 98, :time 4614006959, :type :invoke, :process 18, :f :cas, :value [1 [4 0]]}
{:index 99, :time 4756592417, :type :invoke, :process 20, :f :write, :value [2 4]}
{:index 100, :time 4759682667, :type :ok, :process 20, :f :write, :value [2 4]}
{:index 101, :time 4766278917, :type :fail, :process 18, :f :cas, :value [1 [4 0]], :error [:precondition-failed "expected value does not match"]}
{:index 102, :time 4818173000, :type :invoke, :process 20, :f :write, :value [2 0]}
{:index 103, :time 4822151459, :type :ok, :process 20, :f :write, :value [2 0]}
{:index 104, :time 4953473667, :type :invoke, :process 5, :f :cas, :value [0 [2 3]]}
{:index 105, :time 4967513875, :type :fail, :process 5, :f :cas, :value [0 [2 3]], :error [:precondition-failed "expected value does not match"]}
{:index 106, :time 5096081417, :type :invoke, :process 22, :f :write, :value [2 1]}
{:index 107, :time 5106906834, :type :ok, :process 22, :f :write, :value [2 1]}
{:index 108, :time 5294041084, :type :invoke, :process 10, :f :cas, :value [1 [3 4]]}
{:index 109, :time 5310340917, :type :ok, :process 10, :f :cas, :value [1 [3 4]]}
{:index 110, :time 5334822500, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 111, :time 5348571667, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 112, :time 5535406875, :type :invoke, :process 25, :f :write, :value [2 1]}
{:index 113, :time 5545307292, :type :ok, :process 25, :f :write, :value [2 1]}
{:index 114, :time 5696665542, :type :invoke, :process 5, :f :cas, :value [0 [2 3]]}
{:index 115, :time 5716579834, :type :fail, :process 5, :f :cas, :value [0 [2 3]], :error [:precondition-failed "expected value does not match"]}
{:index 116, :time 5799359625, :type :invoke, :process 27, :f :cas, :value [2 [3 0]]}
{:index 117, :time 5828681125, :type :invoke, :process 28, :f :cas, :value [2 [1 1]]}
{:index 118, :time 5832021209, :type :fail, :process 27, :f :cas, :value [2 [3 0]], :error [:precondition-failed "expected value does not match"]}
{:index 119, :time 5836305250, :type :ok, :process 28, :f :cas, :value [2 [1 1]]}
{:index 120, :time 6021481000, :type :invoke, :process 29, :f :write, :value [2 4]}
{:index 121, :time 6030570959, :type :ok, :process 29, :f :write, :value [2 4]}
{:index 122, :time 6091854750, :type :invoke, :process 5, :f :write, :value [0 0]}
{:index 123, :time 6100665667, :type :ok, :process 5, :f :write, :value [0 0]}
{:index 124, :time 6112145542, :type :invoke, :process 5, :f :cas, :value [0 [2 2]]}
{:index 125, :time 6118936750, :type :fail, :process 5, :f :cas, :value [0 [2 2]], :error [:precondition-failed "expected value does not match"]}
{:index 126, :time 6300450375, :type :invoke, :process 5, :f :cas, :value [0 [1 3]]}
{:index 127, :time 6310125709, :type :fail, :process 5, :f :cas, :value [0 [1 3]], :error [:precondition-failed "expected value does not match"]}
{:index 128, :time 6499177084, :type :invoke, :process 10, :f :cas, :value [1 [4 0]]}
{:index 129, :time 6510030584, :type :ok, :process 10, :f :cas, :value [1 [4 0]]}
{:index 130, :time 6589540250, :type :invoke, :process 10, :f :cas, :value [1 [1 0]]}
{:index 131, :time 6600163084, :type :fail, :process 10, :f :cas, :value [1 [1 0]], :error [:precondition-failed "expected value does not match"]}
{:index 132, :time 6708792459, :type :invoke, :process 5, :f :write, :value [0 1]}
{:index 133, :time 6722092000, :type :ok, :process 5, :f :write, :value [0 1]}
{:index 134, :time 6911517459, :type :invoke, :process 20, :f :write, :value [2 0]}
{:index 135, :time 6932028459, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 136, :time 6948096875, :type :ok, :process 20, :f :write, :value [2 0]}
{:index 137, :time 6975266542, :type :ok, :process 0, :f :read, :value [0 1]}
{:index 138, :time 7132162167, :type :invoke, :process 10, :f :cas, :value [1 [1 3]]}
{:index 139, :time 7135708542, :type :fail, :process 10, :f :cas, :value [1 [1 3]], :error [:precondition-failed "expected value does not match"]}
{:index 140, :time 7234576250, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 141, :time 7244557292, :type :ok, :process 0, :f :read, :value [0 1]}
{:index 142, :time 7360763667, :type :invoke, :process 20, :f :cas, :value [2 [3 1]]}
{:index 143, :time 7418082792, :type :invoke, :process 10, :f :write, :value [1 0]}
{:index 144, :time 7460866417, :type :invoke, :process 11, :f :cas, :value [1 [4 2]]}
{:index 145, :time 7583344959, :type :invoke, :process 5, :f :cas, :value [0 [2 2]]}
{:index 146, :time 7634770000, :type :fail, :process 11, :f :cas, :value [1 [4 2]], :error [:precondition-failed "expected value does not match"]}
{:index 147, :time 7684034834, :type :invoke, :process 6, :f :cas, :value [0 [4 3]]}
{:index 148, :time 7693173250, :type :ok, :process 10, :f :write, :value [1 0]}
{:index 149, :time 7694590542, :type :fail, :process 5, :f :cas, :value [0 [2 2]], :error [:precondition-failed "expected value does not match"]}
{:index 150, :time 7743580292, :type :fail, :process 20, :f :cas, :value [2 [3 1]], :error [:precondition-failed "expected value does not match"]}
{:index 151, :time 7765503834, :type :fail, :process 6, :f :cas, :value [0 [4 3]], :error [:precondition-failed "expected value does not match"]}
{:index 152, :time 7778566625, :type :invoke, :process 5, :f :write, :value [0 0]}
{:index 153, :time 7785218042, :type :ok, :process 5, :f :write, :value [0 0]}
{:index 154, :time 7830070042, :type :invoke, :process 5, :f :cas, :value [0 [3 0]]}
{:index 155, :time 7848068750, :type :fail, :process 5, :f :cas, :value [0 [3 0]], :error [:precondition-failed "expected value does not match"]}
{:index 156, :time 7907849875, :type :invoke, :process 20, :f :cas, :value [2 [2 0]]}
{:index 157, :time 7912672459, :type :fail, :process 20, :f :cas, :value [2 [2 0]], :error [:precondition-failed "expected value does not match"]}
{:index 158, :time 8044056000, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 159, :time 8063889750, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 160, :time 8076679250, :type :invoke, :process 18, :f :write, :value [1 1]}
{:index 161, :time 8105205250, :type :ok, :process 18, :f :write, :value [1 1]}
{:index 162, :time 8273717667, :type :invoke, :process 20, :f :cas, :value [2 [1 4]]}
{:index 163, :time 8293823750, :type :fail, :process 20, :f :cas, :value [2 [1 4]], :error [:precondition-failed "expected value does not match"]}
{:index 164, :time 8381911459, :type :invoke, :process 10, :f :cas, :value [1 [3 3]]}
{:index 165, :time 8391810917, :type :fail, :process 10, :f :cas, :value [1 [3 3]], :error [:precondition-failed "expected value does not match"]}
{:index 166, :time 8513209250, :type :invoke, :process 21, :f :cas, :value [2 [4 2]]}
{:index 167, :time 8527487875, :type :fail, :process 21, :f :cas, :value [2 [4 2]], :error [:precondition-failed "expected value does not match"]}
{:index 168, :time 8560483750, :type :invoke, :process 22, :f :cas, :value [2 [2 3]]}
{:index 169, :time 8578447167, :type :fail, :process 22, :f :cas, :value [2 [2 3]], :error [:precondition-failed "expected value does not match"]}
{:index 170, :time 8594523709, :type :invoke, :process 23, :f :write, :value [2 3]}
{:index 171, :time 8610563375, :type :ok, :process 23, :f :write, :value [2 3]}
{:index 172, :time 8709350084, :type :invoke, :process 10, :f :cas, :value [1 [1 2]]}
{:index 173, :time 8715023459, :type :ok, :process 10, :f :cas, :value [1 [1 2]]}
{:index 174, :time 8907745125, :type :invoke, :process 10, :f :cas, :value [1 [0 4]]}
{:index 175, :time 8938882375, :type :fail, :process 10, :f :cas, :value [1 [0 4]], :error [:precondition-failed "expected value does not match"]}
{:index 176, :time 9101048250, :type :invoke, :process 5, :f :cas, :value [0 [3 3]]}
{:index 177, :time 9113467667, :type :fail, :process 5, :f :cas, :value [0 [3 3]], :error [:precondition-failed "expected value does not match"]}
{:index 178, :time 9239918834, :type :invoke, :process 10, :f :cas, :value [1 [2 3]]}
{:index 179, :time 9243668542, :type :ok, :process 10, :f :cas, :value [1 [2 3]]}
{:index 180, :time 9366283167, :type :invoke, :process 10, :f :cas, :value [1 [0 0]]}
{:index 181, :time 9376269000, :type :fail, :process 10, :f :cas, :value [1 [0 0]], :error [:precondition-failed "expected value does not match"]}
{:index 182, :time 9557520750, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 183, :time 9566420000, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 184, :time 9611531292, :type :invoke, :process 5, :f :write, :value [0 3]}
{:index 185, :time 9638050959, :type :ok, :process 5, :f :write, :value [0 3]}
{:index 186, :time 9709839875, :type :invoke, :process 20, :f :cas, :value [2 [0 1]]}
{:index 187, :time 9722503667, :type :fail, :process 20, :f :cas, :value [2 [0 1]], :error [:precondition-failed "expected value does not match"]}
{:index 188, :time 9899438667, :type :invoke, :process 10, :f :write, :value [1 0]}
{:index 189, :time 9900194959, :type :invoke, :process 20, :f :cas, :value [2 [0 0]]}
{:index 190, :time 9908969125, :type :ok, :process 10, :f :write, :value [1 0]}
{:index 191, :time 9915107375, :type :fail, :process 20, :f :cas, :value [2 [0 0]], :error [:precondition-failed "expected value does not match"]}
