{:index 0, :time 7294959, :type :invoke, :process 2, :f :cas, :value [1 [2 1]]}
{:index 1, :time 109190625, :type :invoke, :process 1, :f :cas, :value [0 [4 2]]}
{:index 2, :time 156712750, :type :fail, :process 1, :f :cas, :value [0 [4 2]], :error [:precondition-failed "expected value does not match"]}
{:index 3, :time 156834667, :type :fail, :process 2, :f :cas, :value [1 [2 1]], :error [:precondition-failed "expected value does not match"]}
{:index 4, :time 257025209, :type :invoke, :process 2, :f :cas, :value [1 [1 3]]}
{:index 5, :time 262276625, :type :fail, :process 2, :f :cas, :value [1 [1 3]], :error [:precondition-failed "expected value does not match"]}
{:index 6, :time 397645750, :type :invoke, :process 1, :f :cas, :value [0 [3 3]]}
{:index 7, :time 414669542, :type :fail, :process 1, :f :cas, :value [0 [3 3]], :error [:precondition-failed "expected value does not match"]}
{:index 8, :time 436718042, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 9, :time 445316084, :type :invoke, :process 2, :f :cas, :value [1 [3 1]]}
{:index 10, :time 460994000, :type :fail, :process 0, :f :read, :value [0 nil], :error [:key-does-not-exist "key not found"]}
{:index 11, :time 462532792, :type :fail, :process 2, :f :cas, :value [1 [3 1]], :error [:precondition-failed "expected value does not match"]}
{:index 12, :time 488196959, :type :invoke, :process 2, :f :cas, :value [1 [0 4]]}
{:index 13, :time 503809542, :type :fail, :process 2, :f :cas, :value [1 [0 4]], :error [:precondition-failed "expected value does not match"]}
{:index 14, :time 620999334, :type :invoke, :process 1, :f :cas, :value [0 [0 4]]}
{:index 15, :time 638321292, :type :fail, :process 1, :f :cas, :value [0 [0 4]], :error [:precondition-failed "expected value does not match"]}
{:index 16, :time 793256417, :type :invoke, :process 1, :f :cas, :value [0 [4 2]]}
{:index 17, :time 810722292, :type :fail, :process 1, :f :cas, :value [0 [4 2]], :error [:precondition-failed "expected value does not match"]}
{:index 18, :time 944659917, :type :invoke, :process 2, :f :write, :value [1 3]}
{:index 19, :time 973039334, :type :ok, :process 2, :f :write, :value [1 3]}
{:index 20, :time 1128249792, :type :invoke, :process 2, :f :write, :value [1 1]}
{:index 21, :time 1153419542, :type :ok, :process 2, :f :write, :value [1 1]}
{:index 22, :time 1231848334, :type :invoke, :process 2, :f :write, :value [1 2]}
{:index 23, :time 1243508625, :type :ok, :process 2, :f :write, :value [1 2]}
{:index 24, :time 1368241792, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 25, :time 1378168542, :type :fail, :process 0, :f :read, :value [0 nil], :error [:key-does-not-exist "key not found"]}
{:index 26, :time 1470248125, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 27, :time 1482044709, :type :fail, :process 0, :f :read, :value [0 nil], :error [:key-does-not-exist "key not found"]}
{:index 28, :time 1500944792, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 29, :time 1510410334, :type :fail, :process 0, :f :read, :value [0 nil], :error [:key-does-not-exist "key not found"]}
{:index 30, :time 1689289917, :type :invoke, :process 2, :f :cas, :value [1 [2 1]]}
{:index 31, :time 1713000584, :type :ok, :process 2, :f :cas, :value [1 [2 1]]}
{:index 32, :time 1723828459, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 33, :time 1744286042, :type :fail, :process 0, :f :read, :value [0 nil], :error [:key-does-not-exist "key not found"]}
{:index 34, :time 1745777209, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 35, :time 1750251500, :type :fail, :process 0, :f :read, :value [0 nil], :error [:key-does-not-exist "key not found"]}
{:index 36, :time 1811021584, :type :invoke, :process 3, :f :cas, :value [1 [1 4]]}
{:index 37, :time 1828273375, :type :ok, :process 3, :f :cas, :value [1 [1 4]]}
{:index 38, :time 1846847334, :type :invoke, :process 2, :f :cas, :value [1 [4 4]]}
{:index 39, :time 1856048417, :type :ok, :process 2, :f :cas, :value [1 [4 4]]}
{:index 40, :time 2022154000, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 41, :time 2041535042, :type :fail, :process 0, :f :read, :value [0 nil], :error [:key-does-not-exist "key not found"]}
{:index 42, :time 2140042209, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 43, :time 2161480417, :type :fail, :process 0, :f :read, :value [0 nil], :error [:key-does-not-exist "key not found"]}
{:index 44, :time 2193376125, :type :invoke, :process 2, :f :write, :value [1 3]}
{:index 45, :time 2203746167, :type :ok, :process 2, :f :write, :value [1 3]}
{:index 46, :time 2297893584, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 47, :time 2307696167, :type :invoke, :process 1, :f :cas, :value [0 [0 3]]}
{:index 48, :time 2313824834, :type :fail, :process 0, :f :read, :value [0 nil], :error [:key-does-not-exist "key not found"]}
{:index 49, :time 2324721584, :type :fail, :process 1, :f :cas, :value [0 [0 3]], :error [:precondition-failed "expected value does not match"]}
{:index 50, :time 2434265042, :type :invoke, :process 2, :f :write, :value [1 3]}
{:index 51, :time 2442949959, :type :ok, :process 2, :f :write, :value [1 3]}
{:index 52, :time 2491908292, :type :invoke, :process 2, :f :cas, :value [1 [4 3]]}
{:index 53, :time 2496726542, :type :fail, :process 2, :f :cas, :value [1 [4 3]], :error [:precondition-failed "expected value does not match"]}
{:index 54, :time 2556866167, :type :invoke, :process 1, :f :cas, :value [0 [1 2]]}
{:index 55, :time 2565724000, :type :fail, :process 1, :f :cas, :value [0 [1 2]], :error [:precondition-failed "expected value does not match"]}
{:index 56, :time 2712566709, :type :invoke, :process 1, :f :cas, :value [0 [4 4]]}
{:index 57, :time 2737814709, :type :fail, :process 1, :f :cas, :value [0 [4 4]], :error [:precondition-failed "expected value does not match"]}
{:index 58, :time 2869310334, :type :invoke, :process 2, :f :cas, :value [1 [3 2]]}
{:index 59, :time 2879125167, :type :ok, :process 2, :f :cas, :value [1 [3 2]]}
{:index 60, :time 3006011292, :type :invoke, :process 2, :f :write, :value [1 4]}
{:index 61, :time 3019993292, :type :ok, :process 2, :f :write, :value [1 4]}
{:index 62, :time 3143242000, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 63, :time 3170104792, :type :fail, :process 0, :f :read, :value [0 nil], :error [:key-does-not-exist "key not found"]}
{:index 64, :time 3292216417, :type :invoke, :process 2, :f :cas, :value [1 [2 4]]}
{:index 65, :time 3305202334, :type :invoke, :process 3, :f :cas, :value [1 [1 2]]}
{:index 66, :time 3308713042, :type :fail, :process 2, :f :cas, :value [1 [2 4]], :error [:precondition-failed "expected value does not match"]}
{:index 67, :time 3311113667, :type :fail, :process 3, :f :cas, :value [1 [1 2]], :error [:precondition-failed "expected value does not match"]}
{:index 68, :time 3320192750, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 69, :time 3326988750, :type :fail, :process 0, :f :read, :value [0 nil], :error [:key-does-not-exist "key not found"]}
{:index 70, :time 3420267667, :type :invoke, :process 1, :f :write, :value [0 2]}
{:index 71, :time 3434564334, :type :ok, :process 1, :f :write, :value [0 2]}
{:index 72, :time 3434755542, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 73, :time 3449980250, :type :ok, :process 0, :f :read, :value [0 2]}
{:index 74, :time 3450230000, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 75, :time 3469216875, :type :ok, :process 0, :f :read, :value [0 2]}
{:index 76, :time 3519645417, :type :invoke, :process 3, :f :write, :value [1 0]}
{:index 77, :time 3526841167, :type :ok, :process 3, :f :write, :value [1 0]}
{:index 78, :time 3715005875, :type :invoke, :process 2, :f :cas, :value [1 [0 2]]}
{:index 79, :time 3734858417, :type :ok, :process 2, :f :cas, :value [1 [0 2]]}
{:index 80, :time 3784600000, :type :invoke, :process 2, :f :cas, :value [1 [4 2]]}
{:index 81, :time 3793905125, :type :fail, :process 2, :f :cas, :value [1 [4 2]], :error [:precondition-failed "expected value does not match"]}
{:index 82, :time 3926567209, :type :invoke, :process 2, :f :cas, :value [1 [0 2]]}
{:index 83, :time 3939305084, :type :fail, :process 2, :f :cas, :value [1 [0 2]], :error [:precondition-failed "expected value does not match"]}
{:index 84, :time 4120205125, :type :invoke, :process 1, :f :write, :value [0 0]}
{:index 85, :time 4145032167, :type :ok, :process 1, :f :write, :value [0 0]}
{:index 86, :time 4283207167, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 87, :time 4301441125, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 88, :time 4301533375, :type :invoke, :process 2, :f :cas, :value [1 [2 1]]}
{:index 89, :time 4305064209, :type :ok, :process 2, :f :cas, :value [1 [2 1]]}
{:index 90, :time 4479402584, :type :invoke, :process 2, :f :write, :value [1 2]}
{:index 91, :time 4500157459, :type :ok, :process 2, :f :write, :value [1 2]}
{:index 92, :time 4674377125, :type :invoke, :process 2, :f :write, :value [1 0]}
{:index 93, :time 4700695875, :type :ok, :process 2, :f :write, :value [1 0]}
{:index 94, :time 4781449042, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 95, :time 4790639292, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 96, :time 4916595417, :type :invoke, :process 3, :f :write, :value [1 0]}
{:index 97, :time 4936616500, :type :ok, :process 3, :f :write, :value [1 0]}
{:index 98, :time 4941211334, :type :invoke, :process 2, :f :write, :value [1 4]}
{:index 99, :time 4952755084, :type :invoke, :process 3, :f :cas, :value [1 [1 4]]}
{:index 100, :time 4955501667, :type :ok, :process 2, :f :write, :value [1 4]}
{:index 101, :time 4966237084, :type :fail, :process 3, :f :cas, :value [1 [1 4]], :error [:precondition-failed "expected value does not match"]}
{:index 102, :time 5014737792, :type :invoke, :process 2, :f :cas, :value [1 [4 3]]}
{:index 103, :time 5028189875, :type :ok, :process 2, :f :cas, :value [1 [4 3]]}
{:index 104, :time 5132686459, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 105, :time 5142795875, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 106, :time 5292884709, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 107, :time 5306265375, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 108, :time 5342697542, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 109, :time 5357441250, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 110, :time 5389640459, :type :invoke, :process 2, :f :write, :value [1 0]}
{:index 111, :time 5395976667, :type :ok, :process 2, :f :write, :value [1 0]}
{:index 112, :time 5501122834, :type :invoke, :process 2, :f :cas, :value [1 [0 3]]}
{:index 113, :time 5514261750, :type :ok, :process 2, :f :cas, :value [1 [0 3]]}
{:index 114, :time 5640515875, :type :invoke, :process 2, :f :cas, :value [1 [2 4]]}
{:index 115, :time 5656343625, :type :fail, :process 2, :f :cas, :value [1 [2 4]], :error [:precondition-failed "expected value does not match"]}
{:index 116, :time 5694573167, :type :invoke, :process 1, :f :cas, :value [0 [2 3]]}
{:index 117, :time 5704982667, :type :fail, :process 1, :f :cas, :value [0 [2 3]], :error [:precondition-failed "expected value does not match"]}
{:index 118, :time 5805672542, :type :invoke, :process 2, :f :write, :value [1 0]}
{:index 119, :time 5812902334, :type :ok, :process 2, :f :write, :value [1 0]}
{:index 120, :time 5952084167, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 121, :time 5961643375, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 122, :time 6041080167, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 123, :time 6047506417, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 124, :time 6137046917, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 125, :time 6152989750, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 126, :time 6233807750, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 127, :time 6255193375, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 128, :time 6310609250, :type :invoke, :process 2, :f :write, :value [1 4]}
{:index 129, :time 6320803792, :type :ok, :process 2, :f :write, :value [1 4]}
{:index 130, :time 6464045334, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 131, :time 6471665959, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 132, :time 6609915375, :type :invoke, :process 1, :f :cas, :value [0 [4 1]]}
{:index 133, :time 6636497167, :type :fail, :process 1, :f :cas, :value [0 [4 1]], :error [:precondition-failed "expected value does not match"]}
{:index 134, :time 6693480209, :type :invoke, :process 2, :f :cas, :value [1 [1 3]]}
{:index 135, :time 6696766334, :type :fail, :process 2, :f :cas, :value [1 [1 3]], :error [:precondition-failed "expected value does not match"]}
{:index 136, :time 6883536417, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 137, :time 6901297792, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 138, :time 7019154334, :type :invoke, :process 2, :f :cas, :value [1 [0 0]]}
{:index 139, :time 7036924875, :type :fail, :process 2, :f :cas, :value [1 [0 0]], :error [:precondition-failed "expected value does not match"]}
{:index 140, :time 7131419042, :type :invoke, :process 2, :f :cas, :value [1 [3 4]]}
{:index 141, :time 7137518459, :type :fail, :process 2, :f :cas, :value [1 [3 4]], :error [:precondition-failed "expected value does not match"]}
{:index 142, :time 7169326542, :type :invoke, :process 2, :f :cas, :value [1 [1 2]]}
{:index 143, :time 7179838459, :type :fail, :process 2, :f :cas, :value [1 [1 2]], :error [:precondition-failed "expected value does not match"]}
{:index 144, :time 7242408625, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 145, :time 7244840417, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 146, :time 7278640459, :type :invoke, :process 1, :f :cas, :value [0 [4 4]]}
{:index 147, :time 7281128417, :type :fail, :process 1, :f :cas, :value [0 [4 4]], :error [:precondition-failed "expected value does not match"]}
{:index 148, :time 7371655584, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 149, :time 7374838000, :type :invoke, :process 1, :f :write, :value [0 1]}
{:index 150, :time 7378256834, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 151, :time 7381603709, :type :ok, :process 1, :f :write, :value [0 1]}
{:index 152, :time 7533432334, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 153, :time 7536037000, :type :invoke, :process 1, :f :cas, :value [0 [0 2]]}
{:index 154, :time 7545059209, :type :ok, :process 0, :f :read, :value [0 1]}
{:index 155, :time 7551018917, :type :fail, :process 1, :f :cas, :value [0 [0 2]], :error [:precondition-failed "expected value does not match"]}
{:index 156, :time 7660676000, :type :invoke, :process 3, :f :write, :value [1 2]}
{:index 157, :time 7672455334, :type :ok, :process 3, :f :write, :value [1 2]}
{:index 158, :time 7708925375, :type :invoke, :process 2, :f :cas, :value [1 [3 4]]}
{:index 159, :time 7724475250, :type :fail, :process 2, :f :cas, :value [1 [3 4]], :error [:precondition-failed "expected value does not match"]}
{:index 160, :time 7856923417, :type :invoke, :process 2, :f :write, :value [1 2]}
{:index 161, :time 7886245917, :type :ok, :process 2, :f :write, :value [1 2]}
{:index 162, :time 8058910875, :type :invoke, :process 2, :f :write, :value [1 2]}
{:index 163, :time 8069463417, :type :ok, :process 2, :f :write, :value [1 2]}
{:index 164, :time 8110301250, :type :invoke, :process 2, :f :cas, :value [1 [2 1]]}
{:index 165, :time 8126970334, :type :ok, :process 2, :f :cas, :value [1 [2 1]]}
{:index 166, :time 8247112125, :type :invoke, :process 1, :f :write, :value [0 4]}
{:index 167, :time 8266316459, :type :ok, :process 1, :f :write, :value [0 4]}
{:index 168, :time 8401988792, :type :invoke, :process 2, :f :cas, :value [1 [2 0]]}
{:index 169, :time 8412834750, :type :fail, :process 2, :f :cas, :value [1 [2 0]], :error [:precondition-failed "expected value does not match"]}
{:index 170, :time 8426999209, :type :invoke, :process 2, :f :write, :value [1 2]}
{:index 171, :time 8437819792, :type :ok, :process 2, :f :write, :value [1 2]}
{:index 172, :time 8616756542, :type :invoke, :process 2, :f :write, :value [1 0]}
{:index 173, :time 8626652667, :type :ok, :process 2, :f :write, :value [1 0]}
{:index 174, :time 8725762375, :type :invoke, :process 1, :f :write, :value [0 2]}
{:index 175, :time 8737983834, :type :ok, :process 1, :f :write, :value [0 2]}
{:index 176, :time 8861573375, :type :invoke, :process 3, :f :cas, :value [1 [1 2]]}
{:index 177, :time 8874978375, :type :fail, :process 3, :f :cas, :value [1 [1 2]], :error [:precondition-failed "expected value does not match"]}
{:index 178, :time 9026040125, :type :invoke, :process 1, :f :cas, :value [0 [0 3]]}
{:index 179, :time 9031813417, :type :fail, :process 1, :f :cas, :value [0 [0 3]], :error [:precondition-failed "expected value does not match"]}
{:index 180, :time 9225809292, :type :invoke, :process 2, :f :cas, :value [1 [3 3]]}
{:index 181, :time 9236906250, :type :fail, :process 2, :f :cas, :value [1 [3 3]], :error [:precondition-failed "expected value does not match"]}
{:index 182, :time 9304260000, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 183, :time 9319508042, :type :ok, :process 0, :f :read, :value [0 2]}
{:index 184, :time 9407262042, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 185, :time 9413857125, :type :ok, :process 0, :f :read, :value [0 2]}
{:index 186, :time 9454086250, :type :invoke, :process 3, :f :cas, :value [1 [1 0]]}
{:index 187, :time 9469507792, :type :fail, :process 3, :f :cas, :value [1 [1 0]], :error [:precondition-failed "expected value does not match"]}
{:index 188, :time 9544109834, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 189, :time 9552185417, :type :ok, :process 0, :f :read, :value [0 2]}
{:index 190, :time 9713998500, :type :invoke, :process 2, :f :cas, :value [1 [1 2]]}
{:index 191, :time 9729275959, :type :fail, :process 2, :f :cas, :value [1 [1 2]], :error [:precondition-failed "expected value does not match"]}
{:index 192, :time 9745697209, :type :invoke, :process 1, :f :cas, :value [0 [2 2]]}
{:index 193, :time 9750336542, :type :ok, :process 1, :f :cas, :value [0 [2 2]]}
{:index 194, :time 9765133875, :type :invoke, :process 2, :f :write, :value [1 1]}
{:index 195, :time 9768950084, :type :ok, :process 2, :f :write, :value [1 1]}
{:index 196, :time 9850023875, :type :invoke, :process 3, :f :write, :value [1 1]}
{:index 197, :time 9857253459, :type :ok, :process 3, :f :write, :value [1 1]}
