{:index 0, :time 13390000, :type :invoke, :process 10, :f :write, :value 4}
{:index 1, :time 194767958, :type :ok, :process 10, :f :write, :value 4}
{:index 10, :time 887551625, :type :invoke, :process 10, :f :cas, :value [0 3]}
{:index 11, :time 913058667, :type :fail, :process 10, :f :cas, :value [0 3], :error [:precondition-failed "expected value does not match"]}
{:index 13, :time 1080206125, :type :invoke, :process 10, :f :write, :value 0}
{:index 15, :time 1104501792, :type :ok, :process 10, :f :write, :value 0}
{:index 20, :time 1449513417, :type :invoke, :process 10, :f :write, :value 3}
{:index 21, :time 1471217167, :type :ok, :process 10, :f :write, :value 3}
{:index 40, :time 2787209458, :type :invoke, :process 10, :f :cas, :value [4 2]}
{:index 41, :time 2791853625, :type :fail, :process 10, :f :cas, :value [4 2], :error [:precondition-failed "expected value does not match"]}
{:index 44, :time 3043423500, :type :invoke, :process 10, :f :cas, :value [0 1]}
{:index 46, :time 3047670500, :type :fail, :process 10, :f :cas, :value [0 1], :error [:precondition-failed "expected value does not match"]}
{:index 70, :time 4096246333, :type :invoke, :process 10, :f :write, :value 0}
{:index 71, :time 4107480583, :type :ok, :process 10, :f :write, :value 0}
{:index 76, :time 4455741167, :type :invoke, :process 10, :f :cas, :value [2 2]}
{:index 77, :time 4463365750, :type :fail, :process 10, :f :cas, :value [2 2], :error [:precondition-failed "expected value does not match"]}
{:index 84, :time 4817352750, :type :invoke, :process 11, :f :cas, :value [0 1]}
{:index 85, :time 4831815125, :type :ok, :process 11, :f :cas, :value [0 1]}
{:index 86, :time 4941242833, :type :invoke, :process 12, :f :cas, :value [4 3]}
{:index 87, :time 4957588917, :type :fail, :process 12, :f :cas, :value [4 3], :error [:precondition-failed "expected value does not match"]}
{:index 90, :time 5204008292, :type :invoke, :process 14, :f :write, :value 2}
{:index 91, :time 5218420500, :type :ok, :process 14, :f :write, :value 2}
{:index 108, :time 6148373583, :type :invoke, :process 10, :f :write, :value 2}
{:index 109, :time 6159717875, :type :ok, :process 10, :f :write, :value 2}
{:index 116, :time 6714950292, :type :invoke, :process 10, :f :write, :value 4}
{:index 117, :time 6732260958, :type :ok, :process 10, :f :write, :value 4}
{:index 126, :time 7236079792, :type :invoke, :process 10, :f :cas, :value [0 2]}
{:index 127, :time 7243882417, :type :fail, :process 10, :f :cas, :value [0 2], :error [:precondition-failed "expected value does not match"]}
{:index 128, :time 7381417875, :type :invoke, :process 10, :f :write, :value 1}
{:index 129, :time 7394647333, :type :ok, :process 10, :f :write, :value 1}
{:index 131, :time 7473002250, :type :invoke, :process 10, :f :cas, :value [2 2]}
{:index 133, :time 7479985250, :type :fail, :process 10, :f :cas, :value [2 2], :error [:precondition-failed "expected value does not match"]}
{:index 141, :time 7990984500, :type :invoke, :process 10, :f :write, :value 0}
{:index 143, :time 7997032750, :type :ok, :process 10, :f :write, :value 0}
{:index 144, :time 8028835542, :type :invoke, :process 10, :f :write, :value 1}
{:index 145, :time 8040436000, :type :ok, :process 10, :f :write, :value 1}
{:index 146, :time 8050302333, :type :invoke, :process 11, :f :cas, :value [4 3]}
{:index 147, :time 8060595625, :type :fail, :process 11, :f :cas, :value [4 3], :error [:precondition-failed "expected value does not match"]}
{:index 148, :time 8199654667, :type :invoke, :process 12, :f :cas, :value [3 4]}
{:index 149, :time 8214482458, :type :fail, :process 12, :f :cas, :value [3 4], :error [:precondition-failed "expected value does not match"]}
{:index 150, :time 8317765917, :type :invoke, :process 13, :f :cas, :value [0 0]}
{:index 151, :time 8338192958, :type :fail, :process 13, :f :cas, :value [0 0], :error [:precondition-failed "expected value does not match"]}
{:index 158, :time 8939482500, :type :invoke, :process 17, :f :write, :value 3}
{:index 160, :time 8973265542, :type :ok, :process 17, :f :write, :value 3}
{:index 164, :time 9341896125, :type :invoke, :process 10, :f :cas, :value [3 2]}
{:index 165, :time 9378649958, :type :ok, :process 10, :f :cas, :value [3 2]}
{:index 166, :time 9492521250, :type :invoke, :process 10, :f :cas, :value [1 2]}
{:index 167, :time 9507612917, :type :fail, :process 10, :f :cas, :value [1 2], :error [:precondition-failed "expected value does not match"]}
{:index 168, :time 9511813208, :type :invoke, :process 10, :f :write, :value 1}
{:index 169, :time 9520905083, :type :ok, :process 10, :f :write, :value 1}
{:index 170, :time 9584039833, :type :invoke, :process 10, :f :cas, :value [2 1]}
{:index 171, :time 9598868917, :type :fail, :process 10, :f :cas, :value [2 1], :error [:precondition-failed "expected value does not match"]}
