{:index 0, :time 9122916, :type :invoke, :process 0, :f :read, :value nil}
{:index 1, :time 172933041, :type :invoke, :process 1, :f :write, :value 3}
{:index 2, :time 174366291, :type :fail, :process 0, :f :read, :value nil, :error [:key-does-not-exist "key not found"]}
{:index 3, :time 184453250, :type :ok, :process 1, :f :write, :value 3}
{:index 4, :time 332173541, :type :invoke, :process 1, :f :cas, :value [0 3]}
{:index 5, :time 340368875, :type :fail, :process 1, :f :cas, :value [0 3], :error [:precondition-failed "expected value does not match"]}
{:index 6, :time 370497166, :type :invoke, :process 0, :f :read, :value nil}
{:index 7, :time 375943666, :type :ok, :process 0, :f :read, :value 3}
{:index 8, :time 493976500, :type :invoke, :process 0, :f :read, :value nil}
{:index 9, :time 514010416, :type :ok, :process 0, :f :read, :value 3}
{:index 10, :time 684062208, :type :invoke, :process 1, :f :cas, :value [0 0]}
{:index 11, :time 688044958, :type :invoke, :process 0, :f :read, :value nil}
{:index 12, :time 698499750, :type :fail, :process 1, :f :cas, :value [0 0], :error [:precondition-failed "expected value does not match"]}
{:index 13, :time 702762166, :type :ok, :process 0, :f :read, :value 3}
{:index 14, :time 808686791, :type :invoke, :process 1, :f :cas, :value [1 0]}
{:index 15, :time 829082750, :type :fail, :process 1, :f :cas, :value [1 0], :error [:precondition-failed "expected value does not match"]}
{:index 16, :time 868187875, :type :invoke, :process 0, :f :read, :value nil}
{:index 17, :time 874122083, :type :ok, :process 0, :f :read, :value 3}
{:index 18, :time 931330375, :type :invoke, :process 1, :f :cas, :value [1 4]}
{:index 19, :time 941656333, :type :fail, :process 1, :f :cas, :value [1 4], :error [:precondition-failed "expected value does not match"]}
{:index 20, :time 941814166, :type :invoke, :process 1, :f :cas, :value [1 4]}
{:index 21, :time 951620541, :type :fail, :process 1, :f :cas, :value [1 4], :error [:precondition-failed "expected value does not match"]}
{:index 22, :time 953027375, :type :invoke, :process 0, :f :read, :value nil}
{:index 23, :time 957870583, :type :ok, :process 0, :f :read, :value 3}
{:index 24, :time 1094438750, :type :invoke, :process 1, :f :cas, :value [3 3]}
{:index 25, :time 1109617750, :type :ok, :process 1, :f :cas, :value [3 3]}
{:index 26, :time 1179999500, :type :invoke, :process 0, :f :read, :value nil}
{:index 27, :time 1190806958, :type :ok, :process 0, :f :read, :value 3}
{:index 28, :time 1342893583, :type :invoke, :process 1, :f :cas, :value [4 0]}
{:index 29, :time 1353365916, :type :invoke, :process 0, :f :read, :value nil}
{:index 30, :time 1355985958, :type :fail, :process 1, :f :cas, :value [4 0], :error [:precondition-failed "expected value does not match"]}
{:index 31, :time 1367829791, :type :ok, :process 0, :f :read, :value 3}
{:index 32, :time 1404161958, :type :invoke, :process 1, :f :cas, :value [1 0]}
{:index 33, :time 1412268125, :type :fail, :process 1, :f :cas, :value [1 0], :error [:precondition-failed "expected value does not match"]}
{:index 34, :time 1582024541, :type :invoke, :process 0, :f :read, :value nil}
{:index 35, :time 1592439291, :type :ok, :process 0, :f :read, :value 3}
{:index 36, :time 1783462833, :type :invoke, :process 0, :f :read, :value nil}
{:index 37, :time 1791528250, :type :ok, :process 0, :f :read, :value 3}
{:index 38, :time 1965442333, :type :invoke, :process 0, :f :read, :value nil}
{:index 39, :time 1975669875, :type :ok, :process 0, :f :read, :value 3}
{:index 40, :time 2159739500, :type :invoke, :process 0, :f :read, :value nil}
{:index 41, :time 2167761875, :type :ok, :process 0, :f :read, :value 3}
{:index 42, :time 2334523416, :type :invoke, :process 0, :f :read, :value nil}
{:index 43, :time 2346177666, :type :ok, :process 0, :f :read, :value 3}
{:index 44, :time 2387901291, :type :invoke, :process 0, :f :read, :value nil}
{:index 45, :time 2393694041, :type :ok, :process 0, :f :read, :value 3}
{:index 46, :time 2536934583, :type :invoke, :process 0, :f :read, :value nil}
{:index 47, :time 2544611083, :type :ok, :process 0, :f :read, :value 3}
{:index 48, :time 2607034541, :type :invoke, :process 0, :f :read, :value nil}
{:index 49, :time 2617025750, :type :ok, :process 0, :f :read, :value 3}
{:index 50, :time 2734759916, :type :invoke, :process 0, :f :read, :value nil}
{:index 51, :time 2745274041, :type :ok, :process 0, :f :read, :value 3}
{:index 52, :time 2811462041, :type :invoke, :process 1, :f :write, :value 1}
{:index 53, :time 2819853708, :type :ok, :process 1, :f :write, :value 1}
{:index 54, :time 3001674000, :type :invoke, :process 1, :f :write, :value 1}
{:index 55, :time 3017529416, :type :ok, :process 1, :f :write, :value 1}
{:index 56, :time 3094751750, :type :invoke, :process 1, :f :write, :value 2}
{:index 57, :time 3111511166, :type :ok, :process 1, :f :write, :value 2}
{:index 58, :time 3135294583, :type :invoke, :process 1, :f :cas, :value [3 3]}
{:index 59, :time 3142935750, :type :fail, :process 1, :f :cas, :value [3 3], :error [:precondition-failed "expected value does not match"]}
{:index 60, :time 3292795625, :type :invoke, :process 0, :f :read, :value nil}
{:index 61, :time 3299472791, :type :ok, :process 0, :f :read, :value 2}
{:index 62, :time 3427440583, :type :invoke, :process 1, :f :cas, :value [0 0]}
{:index 63, :time 3439806291, :type :fail, :process 1, :f :cas, :value [0 0], :error [:precondition-failed "expected value does not match"]}
{:index 64, :time 3629167250, :type :invoke, :process 1, :f :cas, :value [1 1]}
{:index 65, :time 3637301833, :type :fail, :process 1, :f :cas, :value [1 1], :error [:precondition-failed "expected value does not match"]}
{:index 66, :time 3722890333, :type :invoke, :process 0, :f :read, :value nil}
{:index 67, :time 3730361625, :type :ok, :process 0, :f :read, :value 2}
{:index 68, :time 3904268875, :type :invoke, :process 1, :f :cas, :value [1 3]}
{:index 69, :time 3920317916, :type :fail, :process 1, :f :cas, :value [1 3], :error [:precondition-failed "expected value does not match"]}
{:index 70, :time 4079896625, :type :invoke, :process 0, :f :read, :value nil}
{:index 71, :time 4095507208, :type :ok, :process 0, :f :read, :value 2}
{:index 72, :time 4123040541, :type :invoke, :process 1, :f :cas, :value [3 2]}
{:index 73, :time 4128354416, :type :fail, :process 1, :f :cas, :value [3 2], :error [:precondition-failed "expected value does not match"]}
{:index 74, :time 4195431250, :type :invoke, :process 0, :f :read, :value nil}
{:index 75, :time 4202979208, :type :ok, :process 0, :f :read, :value 2}
{:index 76, :time 4281049375, :type :invoke, :process 1, :f :write, :value 2}
{:index 77, :time 4288735791, :type :ok, :process 1, :f :write, :value 2}
{:index 78, :time 4362470291, :type :invoke, :process 0, :f :read, :value nil}
{:index 79, :time 4371537625, :type :ok, :process 0, :f :read, :value 2}
{:index 80, :time 4497253708, :type :invoke, :process 0, :f :read, :value nil}
{:index 81, :time 4504148500, :type :ok, :process 0, :f :read, :value 2}
{:index 82, :time 4632663333, :type :invoke, :process 1, :f :write, :value 2}
{:index 83, :time 4643871375, :type :ok, :process 1, :f :write, :value 2}
{:index 84, :time 4679727416, :type :invoke, :process 0, :f :read, :value nil}
{:index 85, :time 4699044958, :type :ok, :process 0, :f :read, :value 2}
{:index 86, :time 4699181416, :type :invoke, :process 0, :f :read, :value nil}
{:index 87, :time 4711996625, :type :ok, :process 0, :f :read, :value 2}
{:index 88, :time 4898277625, :type :invoke, :process 0, :f :read, :value nil}
{:index 89, :time 4904407541, :type :ok, :process 0, :f :read, :value 2}
{:index 90, :time 4951036000, :type :invoke, :process 0, :f :read, :value nil}
{:index 91, :time 4964894041, :type :ok, :process 0, :f :read, :value 2}
{:index 92, :time 5138441125, :type :invoke, :process 0, :f :read, :value nil}
{:index 93, :time 5156219666, :type :ok, :process 0, :f :read, :value 2}
{:index 94, :time 5283620791, :type :invoke, :process 1, :f :cas, :value [4 4]}
{:index 95, :time 5288789541, :type :fail, :process 1, :f :cas, :value [4 4], :error [:precondition-failed "expected value does not match"]}
{:index 96, :time 5338167750, :type :invoke, :process 0, :f :read, :value nil}
{:index 97, :time 5345297333, :type :ok, :process 0, :f :read, :value 2}
{:index 98, :time 5424267375, :type :invoke, :process 1, :f :cas, :value [1 4]}
{:index 99, :time 5432191458, :type :fail, :process 1, :f :cas, :value [1 4], :error [:precondition-failed "expected value does not match"]}
{:index 100, :time 5442138333, :type :invoke, :process 1, :f :cas, :value [3 1]}
{:index 101, :time 5449801375, :type :fail, :process 1, :f :cas, :value [3 1], :error [:precondition-failed "expected value does not match"]}
{:index 102, :time 5477898375, :type :invoke, :process 1, :f :cas, :value [1 0]}
{:index 103, :time 5488206041, :type :fail, :process 1, :f :cas, :value [1 0], :error [:precondition-failed "expected value does not match"]}
{:index 104, :time 5636849458, :type :invoke, :process 1, :f :write, :value 4}
{:index 105, :time 5644619958, :type :ok, :process 1, :f :write, :value 4}
{:index 106, :time 5654365541, :type :invoke, :process 1, :f :write, :value 4}
{:index 107, :time 5660487541, :type :ok, :process 1, :f :write, :value 4}
{:index 108, :time 5804823375, :type :invoke, :process 0, :f :read, :value nil}
{:index 109, :time 5817750041, :type :ok, :process 0, :f :read, :value 4}
{:index 110, :time 5820930500, :type :invoke, :process 1, :f :write, :value 0}
{:index 111, :time 5825509916, :type :ok, :process 1, :f :write, :value 0}
{:index 112, :time 5903112958, :type :invoke, :process 0, :f :read, :value nil}
{:index 113, :time 5908932791, :type :ok, :process 0, :f :read, :value 0}
{:index 114, :time 5966856541, :type :invoke, :process 1, :f :cas, :value [0 1]}
{:index 115, :time 5979152000, :type :ok, :process 1, :f :cas, :value [0 1]}
{:index 116, :time 5985827250, :type :invoke, :process 1, :f :cas, :value [0 3]}
{:index 117, :time 5988967416, :type :fail, :process 1, :f :cas, :value [0 3], :error [:precondition-failed "expected value does not match"]}
{:index 118, :time 6172746666, :type :invoke, :process 0, :f :read, :value nil}
{:index 119, :time 6183407000, :type :ok, :process 0, :f :read, :value 1}
{:index 120, :time 6364728875, :type :invoke, :process 0, :f :read, :value nil}
{:index 121, :time 6370253166, :type :ok, :process 0, :f :read, :value 1}
{:index 122, :time 6412338333, :type :invoke, :process 1, :f :write, :value 2}
{:index 123, :time 6418752041, :type :ok, :process 1, :f :write, :value 2}
{:index 124, :time 6533211125, :type :invoke, :process 1, :f :cas, :value [0 0]}
{:index 125, :time 6546143166, :type :fail, :process 1, :f :cas, :value [0 0], :error [:precondition-failed "expected value does not match"]}
{:index 126, :time 6581743458, :type :invoke, :process 1, :f :cas, :value [1 1]}
{:index 127, :time 6591201083, :type :fail, :process 1, :f :cas, :value [1 1], :error [:precondition-failed "expected value does not match"]}
{:index 128, :time 6593254791, :type :invoke, :process 1, :f :cas, :value [0 3]}
{:index 129, :time 6601005166, :type :fail, :process 1, :f :cas, :value [0 3], :error [:precondition-failed "expected value does not match"]}
{:index 130, :time 6690174541, :type :invoke, :process 0, :f :read, :value nil}
{:index 131, :time 6696383666, :type :ok, :process 0, :f :read, :value 2}
{:index 132, :time 6825051166, :type :invoke, :process 1, :f :cas, :value [1 3]}
{:index 133, :time 6832397458, :type :fail, :process 1, :f :cas, :value [1 3], :error [:precondition-failed "expected value does not match"]}
{:index 134, :time 6940408250, :type :invoke, :process 0, :f :read, :value nil}
{:index 135, :time 6948085791, :type :ok, :process 0, :f :read, :value 2}
{:index 136, :time 7018926541, :type :invoke, :process 0, :f :read, :value nil}
{:index 137, :time 7028693208, :type :ok, :process 0, :f :read, :value 2}
{:index 138, :time 7085874333, :type :invoke, :process 0, :f :read, :value nil}
{:index 139, :time 7095442458, :type :ok, :process 0, :f :read, :value 2}
{:index 140, :time 7246362375, :type :invoke, :process 0, :f :read, :value nil}
{:index 141, :time 7260642458, :type :ok, :process 0, :f :read, :value 2}
{:index 142, :time 7423601375, :type :invoke, :process 0, :f :read, :value nil}
{:index 143, :time 7430838875, :type :ok, :process 0, :f :read, :value 2}
{:index 144, :time 7488896500, :type :invoke, :process 1, :f :cas, :value [3 0]}
{:index 145, :time 7493707083, :type :fail, :process 1, :f :cas, :value [3 0], :error [:precondition-failed "expected value does not match"]}
{:index 146, :time 7622572875, :type :invoke, :process 0, :f :read, :value nil}
{:index 147, :time 7627345375, :type :ok, :process 0, :f :read, :value 2}
{:index 148, :time 7775939375, :type :invoke, :process 1, :f :write, :value 0}
{:index 149, :time 7789764875, :type :ok, :process 1, :f :write, :value 0}
{:index 150, :time 7935879791, :type :invoke, :process 0, :f :read, :value nil}
{:index 151, :time 7950666916, :type :ok, :process 0, :f :read, :value 0}
{:index 152, :time 8049708166, :type :invoke, :process 1, :f :cas, :value [2 0]}
{:index 153, :time 8058730375, :type :fail, :process 1, :f :cas, :value [2 0], :error [:precondition-failed "expected value does not match"]}
{:index 154, :time 8128100708, :type :invoke, :process 0, :f :read, :value nil}
{:index 155, :time 8135328375, :type :ok, :process 0, :f :read, :value 0}
{:index 156, :time 8216765000, :type :invoke, :process 1, :f :cas, :value [1 4]}
{:index 157, :time 8221646250, :type :fail, :process 1, :f :cas, :value [1 4], :error [:precondition-failed "expected value does not match"]}
{:index 158, :time 8405541875, :type :invoke, :process 1, :f :cas, :value [3 1]}
{:index 159, :time 8414484625, :type :fail, :process 1, :f :cas, :value [3 1], :error [:precondition-failed "expected value does not match"]}
{:index 160, :time 8543696208, :type :invoke, :process 1, :f :cas, :value [2 2]}
{:index 161, :time 8549862750, :type :fail, :process 1, :f :cas, :value [2 2], :error [:precondition-failed "expected value does not match"]}
{:index 162, :time 8679492416, :type :invoke, :process 0, :f :read, :value nil}
{:index 163, :time 8684002125, :type :ok, :process 0, :f :read, :value 0}
{:index 164, :time 8753913666, :type :invoke, :process 0, :f :read, :value nil}
{:index 165, :time 8758319291, :type :ok, :process 0, :f :read, :value 0}
{:index 166, :time 8816954541, :type :invoke, :process 1, :f :cas, :value [4 4]}
{:index 167, :time 8822323583, :type :fail, :process 1, :f :cas, :value [4 4], :error [:precondition-failed "expected value does not match"]}
{:index 168, :time 8856266541, :type :invoke, :process 0, :f :read, :value nil}
{:index 169, :time 8861651125, :type :ok, :process 0, :f :read, :value 0}
{:index 170, :time 8877197041, :type :invoke, :process 0, :f :read, :value nil}
{:index 171, :time 8881682083, :type :ok, :process 0, :f :read, :value 0}
{:index 172, :time 9035842416, :type :invoke, :process 0, :f :read, :value nil}
{:index 173, :time 9040441125, :type :ok, :process 0, :f :read, :value 0}
{:index 174, :time 9145270166, :type :invoke, :process 0, :f :read, :value nil}
{:index 175, :time 9149694541, :type :ok, :process 0, :f :read, :value 0}
{:index 176, :time 9235152166, :type :invoke, :process 1, :f :cas, :value [1 2]}
{:index 177, :time 9244723208, :type :fail, :process 1, :f :cas, :value [1 2], :error [:precondition-failed "expected value does not match"]}
{:index 178, :time 9421733583, :type :invoke, :process 0, :f :read, :value nil}
{:index 179, :time 9428408416, :type :ok, :process 0, :f :read, :value 0}
{:index 180, :time 9616710833, :type :invoke, :process 0, :f :read, :value nil}
{:index 181, :time 9622734166, :type :ok, :process 0, :f :read, :value 0}
{:index 182, :time 9748004666, :type :invoke, :process 0, :f :read, :value nil}
{:index 183, :time 9753257541, :type :ok, :process 0, :f :read, :value 0}
{:index 184, :time 9941259708, :type :invoke, :process 1, :f :cas, :value [1 2]}
{:index 185, :time 9950939416, :type :fail, :process 1, :f :cas, :value [1 2], :error [:precondition-failed "expected value does not match"]}
{:index 186, :time 9994145708, :type :invoke, :process 0, :f :read, :value nil}
{:index 187, :time 10000706291, :type :invoke, :process 1, :f :cas, :value [3 2]}
{:index 188, :time 10008223750, :type :ok, :process 0, :f :read, :value 0}
{:index 189, :time 10011293416, :type :fail, :process 1, :f :cas, :value [3 2], :error [:precondition-failed "expected value does not match"]}
