{:index 0, :time 10717875, :type :invoke, :process 1, :f :cas, :value [1 3]}
{:index 1, :time 171913167, :type :invoke, :process 0, :f :read, :value nil}
{:index 2, :time 187937167, :type :fail, :process 1, :f :cas, :value [1 3], :error [:precondition-failed "expected value does not match"]}
{:index 3, :time 194997000, :type :ok, :process 0, :f :read, :value 4}
{:index 4, :time 206965834, :type :invoke, :process 1, :f :write, :value 1}
{:index 5, :time 215189875, :type :ok, :process 1, :f :write, :value 1}
{:index 6, :time 324400084, :type :invoke, :process 1, :f :write, :value 0}
{:index 7, :time 331526459, :type :ok, :process 1, :f :write, :value 0}
{:index 8, :time 361692000, :type :invoke, :process 0, :f :read, :value nil}
{:index 9, :time 364803792, :type :ok, :process 0, :f :read, :value 0}
{:index 10, :time 468976750, :type :invoke, :process 1, :f :cas, :value [2 0]}
{:index 11, :time 469712292, :type :invoke, :process 0, :f :read, :value nil}
{:index 12, :time 481518667, :type :fail, :process 1, :f :cas, :value [2 0], :error [:precondition-failed "expected value does not match"]}
{:index 13, :time 488233042, :type :ok, :process 0, :f :read, :value 0}
{:index 14, :time 613927334, :type :invoke, :process 1, :f :cas, :value [4 1]}
{:index 15, :time 629370750, :type :fail, :process 1, :f :cas, :value [4 1], :error [:precondition-failed "expected value does not match"]}
{:index 16, :time 785271875, :type :invoke, :process 0, :f :read, :value nil}
{:index 17, :time 794529625, :type :ok, :process 0, :f :read, :value 0}
{:index 18, :time 836299625, :type :invoke, :process 0, :f :read, :value nil}
{:index 19, :time 849469542, :type :ok, :process 0, :f :read, :value 0}
{:index 20, :time 881683959, :type :invoke, :process 1, :f :cas, :value [3 2]}
{:index 21, :time 890308917, :type :fail, :process 1, :f :cas, :value [3 2], :error [:precondition-failed "expected value does not match"]}
{:index 22, :time 907437000, :type :invoke, :process 0, :f :read, :value nil}
{:index 23, :time 923945709, :type :ok, :process 0, :f :read, :value 0}
{:index 24, :time 942757875, :type :invoke, :process 1, :f :cas, :value [3 3]}
{:index 25, :time 952093334, :type :fail, :process 1, :f :cas, :value [3 3], :error [:precondition-failed "expected value does not match"]}
{:index 26, :time 1029254125, :type :invoke, :process 1, :f :cas, :value [0 0]}
{:index 27, :time 1035506084, :type :ok, :process 1, :f :cas, :value [0 0]}
{:index 28, :time 1123545917, :type :invoke, :process 1, :f :write, :value 3}
{:index 29, :time 1130655584, :type :ok, :process 1, :f :write, :value 3}
{:index 30, :time 1178509875, :type :invoke, :process 1, :f :cas, :value [3 1]}
{:index 31, :time 1186135875, :type :ok, :process 1, :f :cas, :value [3 1]}
{:index 32, :time 1253183084, :type :invoke, :process 0, :f :read, :value nil}
{:index 33, :time 1262690834, :type :ok, :process 0, :f :read, :value 1}
{:index 34, :time 1282708417, :type :invoke, :process 1, :f :cas, :value [3 2]}
{:index 35, :time 1292014875, :type :fail, :process 1, :f :cas, :value [3 2], :error [:precondition-failed "expected value does not match"]}
{:index 36, :time 1460495250, :type :invoke, :process 0, :f :read, :value nil}
{:index 37, :time 1468825000, :type :ok, :process 0, :f :read, :value 1}
{:index 38, :time 1635603959, :type :invoke, :process 0, :f :read, :value nil}
{:index 39, :time 1645909042, :type :ok, :process 0, :f :read, :value 1}
{:index 40, :time 1707493750, :type :invoke, :process 1, :f :cas, :value [2 2]}
{:index 41, :time 1716383917, :type :fail, :process 1, :f :cas, :value [2 2], :error [:precondition-failed "expected value does not match"]}
{:index 42, :time 1905700584, :type :invoke, :process 1, :f :write, :value 1}
{:index 43, :time 1914426250, :type :ok, :process 1, :f :write, :value 1}
{:index 44, :time 2076613125, :type :invoke, :process 0, :f :read, :value nil}
{:index 45, :time 2086655709, :type :ok, :process 0, :f :read, :value 1}
{:index 46, :time 2172281042, :type :invoke, :process 1, :f :cas, :value [0 1]}
{:index 47, :time 2186237584, :type :fail, :process 1, :f :cas, :value [0 1], :error [:precondition-failed "expected value does not match"]}
{:index 48, :time 2260138917, :type :invoke, :process 0, :f :read, :value nil}
{:index 49, :time 2265167084, :type :ok, :process 0, :f :read, :value 1}
{:index 50, :time 2401657584, :type :invoke, :process 1, :f :write, :value 3}
{:index 51, :time 2414576667, :type :ok, :process 1, :f :write, :value 3}
{:index 52, :time 2550229084, :type :invoke, :process 0, :f :read, :value nil}
{:index 53, :time 2557304167, :type :ok, :process 0, :f :read, :value 3}
{:index 54, :time 2602084625, :type :invoke, :process 1, :f :write, :value 3}
{:index 55, :time 2618737667, :type :ok, :process 1, :f :write, :value 3}
{:index 56, :time 2782024209, :type :invoke, :process 0, :f :read, :value nil}
{:index 57, :time 2791134750, :type :ok, :process 0, :f :read, :value 3}
{:index 58, :time 2830931375, :type :invoke, :process 1, :f :write, :value 3}
{:index 59, :time 2842537917, :type :ok, :process 1, :f :write, :value 3}
{:index 60, :time 2969349000, :type :invoke, :process 1, :f :cas, :value [2 1]}
{:index 61, :time 2976814459, :type :fail, :process 1, :f :cas, :value [2 1], :error [:precondition-failed "expected value does not match"]}
{:index 62, :time 3164337500, :type :invoke, :process 1, :f :cas, :value [4 2]}
{:index 63, :time 3176664917, :type :fail, :process 1, :f :cas, :value [4 2], :error [:precondition-failed "expected value does not match"]}
{:index 64, :time 3310012042, :type :invoke, :process 0, :f :read, :value nil}
{:index 65, :time 3318000125, :type :ok, :process 0, :f :read, :value 3}
{:index 66, :time 3341469750, :type :invoke, :process 1, :f :cas, :value [2 0]}
{:index 67, :time 3350898375, :type :fail, :process 1, :f :cas, :value [2 0], :error [:precondition-failed "expected value does not match"]}
{:index 68, :time 3392944834, :type :invoke, :process 0, :f :read, :value nil}
{:index 69, :time 3402275334, :type :ok, :process 0, :f :read, :value 3}
{:index 70, :time 3580777750, :type :invoke, :process 1, :f :cas, :value [0 1]}
{:index 71, :time 3592612834, :type :fail, :process 1, :f :cas, :value [0 1], :error [:precondition-failed "expected value does not match"]}
{:index 72, :time 3749281292, :type :invoke, :process 0, :f :read, :value nil}
{:index 73, :time 3758709625, :type :ok, :process 0, :f :read, :value 3}
{:index 74, :time 3830416042, :type :invoke, :process 0, :f :read, :value nil}
{:index 75, :time 3835751459, :type :ok, :process 0, :f :read, :value 3}
{:index 76, :time 3915343584, :type :invoke, :process 1, :f :cas, :value [1 1]}
{:index 77, :time 3923001334, :type :fail, :process 1, :f :cas, :value [1 1], :error [:precondition-failed "expected value does not match"]}
{:index 78, :time 3937890542, :type :invoke, :process 1, :f :cas, :value [0 0]}
{:index 79, :time 3944796167, :type :fail, :process 1, :f :cas, :value [0 0], :error [:precondition-failed "expected value does not match"]}
{:index 80, :time 4050999292, :type :invoke, :process 1, :f :write, :value 2}
{:index 81, :time 4056404084, :type :ok, :process 1, :f :write, :value 2}
{:index 82, :time 4201255750, :type :invoke, :process 0, :f :read, :value nil}
{:index 83, :time 4216656792, :type :ok, :process 0, :f :read, :value 2}
{:index 84, :time 4286211500, :type :invoke, :process 1, :f :cas, :value [4 1]}
{:index 85, :time 4293074459, :type :fail, :process 1, :f :cas, :value [4 1], :error [:precondition-failed "expected value does not match"]}
{:index 86, :time 4451956042, :type :invoke, :process 1, :f :write, :value 3}
{:index 87, :time 4465393250, :type :ok, :process 1, :f :write, :value 3}
{:index 88, :time 4521930042, :type :invoke, :process 1, :f :cas, :value [1 2]}
{:index 89, :time 4529922667, :type :fail, :process 1, :f :cas, :value [1 2], :error [:precondition-failed "expected value does not match"]}
{:index 90, :time 4557981167, :type :invoke, :process 0, :f :read, :value nil}
{:index 91, :time 4563082709, :type :ok, :process 0, :f :read, :value 3}
{:index 92, :time 4738757417, :type :invoke, :process 1, :f :write, :value 3}
{:index 93, :time 4762061542, :type :ok, :process 1, :f :write, :value 3}
{:index 94, :time 4907944834, :type :invoke, :process 0, :f :read, :value nil}
{:index 95, :time 4914198417, :type :ok, :process 0, :f :read, :value 3}
{:index 96, :time 4979567834, :type :invoke, :process 1, :f :cas, :value [0 2]}
{:index 97, :time 4987742917, :type :fail, :process 1, :f :cas, :value [0 2], :error [:precondition-failed "expected value does not match"]}
{:index 98, :time 5051216792, :type :invoke, :process 0, :f :read, :value nil}
{:index 99, :time 5061394750, :type :ok, :process 0, :f :read, :value 3}
{:index 100, :time 5096324709, :type :invoke, :process 0, :f :read, :value nil}
{:index 101, :time 5102281000, :type :ok, :process 0, :f :read, :value 3}
{:index 102, :time 5108358417, :type :invoke, :process 1, :f :cas, :value [3 4]}
{:index 103, :time 5120010625, :type :ok, :process 1, :f :cas, :value [3 4]}
{:index 104, :time 5281272959, :type :invoke, :process 1, :f :cas, :value [4 4]}
{:index 105, :time 5288890500, :type :ok, :process 1, :f :cas, :value [4 4]}
{:index 106, :time 5295081875, :type :invoke, :process 0, :f :read, :value nil}
{:index 107, :time 5300474334, :type :ok, :process 0, :f :read, :value 4}
{:index 108, :time 5463599709, :type :invoke, :process 1, :f :cas, :value [0 4]}
{:index 109, :time 5471391250, :type :fail, :process 1, :f :cas, :value [0 4], :error [:precondition-failed "expected value does not match"]}
{:index 110, :time 5575524125, :type :invoke, :process 1, :f :cas, :value [4 0]}
{:index 111, :time 5581579750, :type :ok, :process 1, :f :cas, :value [4 0]}
{:index 112, :time 5707646709, :type :invoke, :process 1, :f :cas, :value [3 4]}
{:index 113, :time 5713143375, :type :fail, :process 1, :f :cas, :value [3 4], :error [:precondition-failed "expected value does not match"]}
{:index 114, :time 5732990417, :type :invoke, :process 1, :f :cas, :value [4 3]}
{:index 115, :time 5735542042, :type :invoke, :process 0, :f :read, :value nil}
{:index 116, :time 5739840917, :type :fail, :process 1, :f :cas, :value [4 3], :error [:precondition-failed "expected value does not match"]}
{:index 117, :time 5750782500, :type :ok, :process 0, :f :read, :value 0}
{:index 118, :time 5826216334, :type :invoke, :process 1, :f :write, :value 1}
{:index 119, :time 5831028084, :type :ok, :process 1, :f :write, :value 1}
{:index 120, :time 5928840500, :type :invoke, :process 0, :f :read, :value nil}
{:index 121, :time 5933059625, :type :ok, :process 0, :f :read, :value 1}
{:index 122, :time 5999638375, :type :invoke, :process 1, :f :cas, :value [3 1]}
{:index 123, :time 6005925625, :type :fail, :process 1, :f :cas, :value [3 1], :error [:precondition-failed "expected value does not match"]}
{:index 124, :time 6088468792, :type :invoke, :process 0, :f :read, :value nil}
{:index 125, :time 6095229959, :type :ok, :process 0, :f :read, :value 1}
{:index 126, :time 6259061667, :type :invoke, :process 0, :f :read, :value nil}
{:index 127, :time 6274776584, :type :ok, :process 0, :f :read, :value 1}
{:index 128, :time 6349482667, :type :invoke, :process 0, :f :read, :value nil}
{:index 129, :time 6354061292, :type :ok, :process 0, :f :read, :value 1}
{:index 130, :time 6408494375, :type :invoke, :process 0, :f :read, :value nil}
{:index 131, :time 6413920542, :type :ok, :process 0, :f :read, :value 1}
{:index 132, :time 6436335209, :type :invoke, :process 1, :f :cas, :value [0 4]}
{:index 133, :time 6439002709, :type :invoke, :process 0, :f :read, :value nil}
{:index 134, :time 6445294417, :type :fail, :process 1, :f :cas, :value [0 4], :error [:precondition-failed "expected value does not match"]}
{:index 135, :time 6449590084, :type :ok, :process 0, :f :read, :value 1}
{:index 136, :time 6625469792, :type :invoke, :process 0, :f :read, :value nil}
{:index 137, :time 6629764584, :type :ok, :process 0, :f :read, :value 1}
{:index 138, :time 6746135334, :type :invoke, :process 1, :f :cas, :value [4 2]}
{:index 139, :time 6754879584, :type :fail, :process 1, :f :cas, :value [4 2], :error [:precondition-failed "expected value does not match"]}
{:index 140, :time 6908632334, :type :invoke, :process 0, :f :read, :value nil}
{:index 141, :time 6912812959, :type :ok, :process 0, :f :read, :value 1}
{:index 142, :time 7033512250, :type :invoke, :process 0, :f :read, :value nil}
{:index 143, :time 7039490417, :type :ok, :process 0, :f :read, :value 1}
{:index 144, :time 7198818709, :type :invoke, :process 0, :f :read, :value nil}
{:index 145, :time 7214710750, :type :ok, :process 0, :f :read, :value 1}
{:index 146, :time 7300626417, :type :invoke, :process 0, :f :read, :value nil}
{:index 147, :time 7305604917, :type :ok, :process 0, :f :read, :value 1}
{:index 148, :time 7397561375, :type :invoke, :process 1, :f :write, :value 0}
{:index 149, :time 7410246542, :type :ok, :process 1, :f :write, :value 0}
{:index 150, :time 7571737917, :type :invoke, :process 1, :f :write, :value 4}
{:index 151, :time 7577415459, :type :ok, :process 1, :f :write, :value 4}
{:index 152, :time 7618207042, :type :invoke, :process 0, :f :read, :value nil}
{:index 153, :time 7622920125, :type :ok, :process 0, :f :read, :value 4}
{:index 154, :time 7809151667, :type :invoke, :process 0, :f :read, :value nil}
{:index 155, :time 7825552584, :type :ok, :process 0, :f :read, :value 4}
{:index 156, :time 7972682084, :type :invoke, :process 1, :f :cas, :value [0 1]}
{:index 157, :time 7979640792, :type :fail, :process 1, :f :cas, :value [0 1], :error [:precondition-failed "expected value does not match"]}
{:index 158, :time 8037011834, :type :invoke, :process 0, :f :read, :value nil}
{:index 159, :time 8044828834, :type :ok, :process 0, :f :read, :value 4}
{:index 160, :time 8168746750, :type :invoke, :process 0, :f :read, :value nil}
{:index 161, :time 8177373542, :type :ok, :process 0, :f :read, :value 4}
{:index 162, :time 8365236250, :type :invoke, :process 0, :f :read, :value nil}
{:index 163, :time 8372331250, :type :ok, :process 0, :f :read, :value 4}
{:index 164, :time 8519430084, :type :invoke, :process 1, :f :cas, :value [4 2]}
{:index 165, :time 8527219209, :type :ok, :process 1, :f :cas, :value [4 2]}
{:index 166, :time 8663073750, :type :invoke, :process 0, :f :read, :value nil}
{:index 167, :time 8670504042, :type :ok, :process 0, :f :read, :value 2}
{:index 168, :time 8724250459, :type :invoke, :process 0, :f :read, :value nil}
{:index 169, :time 8729576834, :type :ok, :process 0, :f :read, :value 2}
{:index 170, :time 8783686500, :type :invoke, :process 0, :f :read, :value nil}
{:index 171, :time 8788479625, :type :ok, :process 0, :f :read, :value 2}
{:index 172, :time 8797349042, :type :invoke, :process 0, :f :read, :value nil}
{:index 173, :time 8836336375, :type :ok, :process 0, :f :read, :value 2}
{:index 174, :time 8847652000, :type :invoke, :process 0, :f :read, :value nil}
{:index 175, :time 8853754875, :type :ok, :process 0, :f :read, :value 2}
{:index 176, :time 9007128917, :type :invoke, :process 1, :f :write, :value 4}
{:index 177, :time 9012729125, :type :ok, :process 1, :f :write, :value 4}
{:index 178, :time 9172907584, :type :invoke, :process 0, :f :read, :value nil}
{:index 179, :time 9178443875, :type :ok, :process 0, :f :read, :value 4}
{:index 180, :time 9219467417, :type :invoke, :process 1, :f :write, :value 3}
{:index 181, :time 9225501542, :type :ok, :process 1, :f :write, :value 3}
{:index 182, :time 9229077959, :type :invoke, :process 1, :f :cas, :value [2 1]}
{:index 183, :time 9235355125, :type :fail, :process 1, :f :cas, :value [2 1], :error [:precondition-failed "expected value does not match"]}
{:index 184, :time 9264979750, :type :invoke, :process 1, :f :cas, :value [3 3]}
{:index 185, :time 9269563542, :type :invoke, :process 0, :f :read, :value nil}
{:index 186, :time 9269808125, :type :ok, :process 1, :f :cas, :value [3 3]}
{:index 187, :time 9277750667, :type :invoke, :process 1, :f :cas, :value [2 3]}
{:index 188, :time 9285504209, :type :ok, :process 0, :f :read, :value 3}
{:index 189, :time 9290045625, :type :fail, :process 1, :f :cas, :value [2 3], :error [:precondition-failed "expected value does not match"]}
{:index 190, :time 9402130084, :type :invoke, :process 0, :f :read, :value nil}
{:index 191, :time 9409368875, :type :ok, :process 0, :f :read, :value 3}
{:index 192, :time 9527028584, :type :invoke, :process 1, :f :cas, :value [1 1]}
{:index 193, :time 9550535625, :type :fail, :process 1, :f :cas, :value [1 1], :error [:precondition-failed "expected value does not match"]}
{:index 194, :time 9594862917, :type :invoke, :process 0, :f :read, :value nil}
{:index 195, :time 9598733334, :type :ok, :process 0, :f :read, :value 3}
{:index 196, :time 9626009750, :type :invoke, :process 0, :f :read, :value nil}
{:index 197, :time 9630652250, :type :ok, :process 0, :f :read, :value 3}
{:index 198, :time 9653506250, :type :invoke, :process 0, :f :read, :value nil}
{:index 199, :time 9661127667, :type :ok, :process 0, :f :read, :value 3}
{:index 200, :time 9706867500, :type :invoke, :process 1, :f :cas, :value [1 3]}
{:index 201, :time 9711222334, :type :fail, :process 1, :f :cas, :value [1 3], :error [:precondition-failed "expected value does not match"]}
{:index 202, :time 9712596209, :type :invoke, :process 0, :f :read, :value nil}
{:index 203, :time 9715690667, :type :ok, :process 0, :f :read, :value 3}
{:index 204, :time 9717149042, :type :invoke, :process 1, :f :cas, :value [2 1]}
{:index 205, :time 9720827042, :type :fail, :process 1, :f :cas, :value [2 1], :error [:precondition-failed "expected value does not match"]}
{:index 206, :time 9895565875, :type :invoke, :process 1, :f :write, :value 2}
{:index 207, :time 9904342334, :type :ok, :process 1, :f :write, :value 2}
{:index 208, :time 9979409125, :type :invoke, :process 0, :f :read, :value nil}
{:index 209, :time 9988435834, :type :ok, :process 0, :f :read, :value 2}
