{:index 1, :time 109190625, :type :invoke, :process 1, :f :cas, :value [4 2]}
{:index 2, :time 156712750, :type :fail, :process 1, :f :cas, :value [4 2], :error [:precondition-failed "expected value does not match"]}
{:index 6, :time 397645750, :type :invoke, :process 1, :f :cas, :value [3 3]}
{:index 7, :time 414669542, :type :fail, :process 1, :f :cas, :value [3 3], :error [:precondition-failed "expected value does not match"]}
{:index 8, :time 436718042, :type :invoke, :process 0, :f :read, :value nil}
{:index 10, :time 460994000, :type :fail, :process 0, :f :read, :value nil, :error [:key-does-not-exist "key not found"]}
{:index 14, :time 620999334, :type :invoke, :process 1, :f :cas, :value [0 4]}
{:index 15, :time 638321292, :type :fail, :process 1, :f :cas, :value [0 4], :error [:precondition-failed "expected value does not match"]}
{:index 16, :time 793256417, :type :invoke, :process 1, :f :cas, :value [4 2]}
{:index 17, :time 810722292, :type :fail, :process 1, :f :cas, :value [4 2], :error [:precondition-failed "expected value does not match"]}
{:index 24, :time 1368241792, :type :invoke, :process 0, :f :read, :value nil}
{:index 25, :time 1378168542, :type :fail, :process 0, :f :read, :value nil, :error [:key-does-not-exist "key not found"]}
{:index 26, :time 1470248125, :type :invoke, :process 0, :f :read, :value nil}
{:index 27, :time 1482044709, :type :fail, :process 0, :f :read, :value nil, :error [:key-does-not-exist "key not found"]}
{:index 28, :time 1500944792, :type :invoke, :process 0, :f :read, :value nil}
{:index 29, :time 1510410334, :type :fail, :process 0, :f :read, :value nil, :error [:key-does-not-exist "key not found"]}
{:index 32, :time 1723828459, :type :invoke, :process 0, :f :read, :value nil}
{:index 33, :time 1744286042, :type :fail, :process 0, :f :read, :value nil, :error [:key-does-not-exist "key not found"]}
{:index 34, :time 1745777209, :type :invoke, :process 0, :f :read, :value nil}
{:index 35, :time 1750251500, :type :fail, :process 0, :f :read, :value nil, :error [:key-does-not-exist "key not found"]}
{:index 40, :time 2022154000, :type :invoke, :process 0, :f :read, :value nil}
{:index 41, :time 2041535042, :type :fail, :process 0, :f :read, :value nil, :error [:key-does-not-exist "key not found"]}
{:index 42, :time 2140042209, :type :invoke, :process 0, :f :read, :value nil}
{:index 43, :time 2161480417, :type :fail, :process 0, :f :read, :value nil, :error [:key-does-not-exist "key not found"]}
{:index 46, :time 2297893584, :type :invoke, :process 0, :f :read, :value nil}
{:index 47, :time 2307696167, :type :invoke, :process 1, :f :cas, :value [0 3]}
{:index 48, :time 2313824834, :type :fail, :process 0, :f :read, :value nil, :error [:key-does-not-exist "key not found"]}
{:index 49, :time 2324721584, :type :fail, :process 1, :f :cas, :value [0 3], :error [:precondition-failed "expected value does not match"]}
{:index 54, :time 2556866167, :type :invoke, :process 1, :f :cas, :value [1 2]}
{:index 55, :time 2565724000, :type :fail, :process 1, :f :cas, :value [1 2], :error [:precondition-failed "expected value does not match"]}
{:index 56, :time 2712566709, :type :invoke, :process 1, :f :cas, :value [4 4]}
{:index 57, :time 2737814709, :type :fail, :process 1, :f :cas, :value [4 4], :error [:precondition-failed "expected value does not match"]}
{:index 62, :time 3143242000, :type :invoke, :process 0, :f :read, :value nil}
{:index 63, :time 3170104792, :type :fail, :process 0, :f :read, :value nil, :error [:key-does-not-exist "key not found"]}
{:index 68, :time 3320192750, :type :invoke, :process 0, :f :read, :value nil}
{:index 69, :time 3326988750, :type :fail, :process 0, :f :read, :value nil, :error [:key-does-not-exist "key not found"]}
{:index 70, :time 3420267667, :type :invoke, :process 1, :f :write, :value 2}
{:index 71, :time 3434564334, :type :ok, :process 1, :f :write, :value 2}
{:index 72, :time 3434755542, :type :invoke, :process 0, :f :read, :value nil}
{:index 73, :time 3449980250, :type :ok, :process 0, :f :read, :value 2}
{:index 74, :time 3450230000, :type :invoke, :process 0, :f :read, :value nil}
{:index 75, :time 3469216875, :type :ok, :process 0, :f :read, :value 2}
{:index 84, :time 4120205125, :type :invoke, :process 1, :f :write, :value 0}
{:index 85, :time 4145032167, :type :ok, :process 1, :f :write, :value 0}
{:index 86, :time 4283207167, :type :invoke, :process 0, :f :read, :value nil}
{:index 87, :time 4301441125, :type :ok, :process 0, :f :read, :value 0}
{:index 94, :time 4781449042, :type :invoke, :process 0, :f :read, :value nil}
{:index 95, :time 4790639292, :type :ok, :process 0, :f :read, :value 0}
{:index 104, :time 5132686459, :type :invoke, :process 0, :f :read, :value nil}
{:index 105, :time 5142795875, :type :ok, :process 0, :f :read, :value 0}
{:index 106, :time 5292884709, :type :invoke, :process 0, :f :read, :value nil}
{:index 107, :time 5306265375, :type :ok, :process 0, :f :read, :value 0}
{:index 108, :time 5342697542, :type :invoke, :process 0, :f :read, :value nil}
{:index 109, :time 5357441250, :type :ok, :process 0, :f :read, :value 0}
{:index 116, :time 5694573167, :type :invoke, :process 1, :f :cas, :value [2 3]}
{:index 117, :time 5704982667, :type :fail, :process 1, :f :cas, :value [2 3], :error [:precondition-failed "expected value does not match"]}
{:index 120, :time 5952084167, :type :invoke, :process 0, :f :read, :value nil}
{:index 121, :time 5961643375, :type :ok, :process 0, :f :read, :value 0}
{:index 122, :time 6041080167, :type :invoke, :process 0, :f :read, :value nil}
{:index 123, :time 6047506417, :type :ok, :process 0, :f :read, :value 0}
{:index 124, :time 6137046917, :type :invoke, :process 0, :f :read, :value nil}
{:index 125, :time 6152989750, :type :ok, :process 0, :f :read, :value 0}
{:index 126, :time 6233807750, :type :invoke, :process 0, :f :read, :value nil}
{:index 127, :time 6255193375, :type :ok, :process 0, :f :read, :value 0}
{:index 130, :time 6464045334, :type :invoke, :process 0, :f :read, :value nil}
{:index 131, :time 6471665959, :type :ok, :process 0, :f :read, :value 0}
{:index 132, :time 6609915375, :type :invoke, :process 1, :f :cas, :value [4 1]}
{:index 133, :time 6636497167, :type :fail, :process 1, :f :cas, :value [4 1], :error [:precondition-failed "expected value does not match"]}
{:index 136, :time 6883536417, :type :invoke, :process 0, :f :read, :value nil}
{:index 137, :time 6901297792, :type :ok, :process 0, :f :read, :value 0}
{:index 144, :time 7242408625, :type :invoke, :process 0, :f :read, :value nil}
{:index 145, :time 7244840417, :type :ok, :process 0, :f :read, :value 0}
{:index 146, :time 7278640459, :type :invoke, :process 1, :f :cas, :value [4 4]}
{:index 147, :time 7281128417, :type :fail, :process 1, :f :cas, :value [4 4], :error [:precondition-failed "expected value does not match"]}
{:index 148, :time 7371655584, :type :invoke, :process 0, :f :read, :value nil}
{:index 149, :time 7374838000, :type :invoke, :process 1, :f :write, :value 1}
{:index 150, :time 7378256834, :type :ok, :process 0, :f :read, :value 0}
{:index 151, :time 7381603709, :type :ok, :process 1, :f :write, :value 1}
{:index 152, :time 7533432334, :type :invoke, :process 0, :f :read, :value nil}
{:index 153, :time 7536037000, :type :invoke, :process 1, :f :cas, :value [0 2]}
{:index 154, :time 7545059209, :type :ok, :process 0, :f :read, :value 1}
{:index 155, :time 7551018917, :type :fail, :process 1, :f :cas, :value [0 2], :error [:precondition-failed "expected value does not match"]}
{:index 166, :time 8247112125, :type :invoke, :process 1, :f :write, :value 4}
{:index 167, :time 8266316459, :type :ok, :process 1, :f :write, :value 4}
{:index 174, :time 8725762375, :type :invoke, :process 1, :f :write, :value 2}
{:index 175, :time 8737983834, :type :ok, :process 1, :f :write, :value 2}
{:index 178, :time 9026040125, :type :invoke, :process 1, :f :cas, :value [0 3]}
{:index 179, :time 9031813417, :type :fail, :process 1, :f :cas, :value [0 3], :error [:precondition-failed "expected value does not match"]}
{:index 182, :time 9304260000, :type :invoke, :process 0, :f :read, :value nil}
{:index 183, :time 9319508042, :type :ok, :process 0, :f :read, :value 2}
{:index 184, :time 9407262042, :type :invoke, :process 0, :f :read, :value nil}
{:index 185, :time 9413857125, :type :ok, :process 0, :f :read, :value 2}
{:index 188, :time 9544109834, :type :invoke, :process 0, :f :read, :value nil}
{:index 189, :time 9552185417, :type :ok, :process 0, :f :read, :value 2}
{:index 192, :time 9745697209, :type :invoke, :process 1, :f :cas, :value [2 2]}
{:index 193, :time 9750336542, :type :ok, :process 1, :f :cas, :value [2 2]}
