{:index 0, :time 9659333, :type :invoke, :process 0, :f :read, :value nil}
{:index 1, :time 30214167, :type :invoke, :process 1, :f :read, :value nil}
{:index 2, :time 113683125, :type :invoke, :process 5, :f :cas, :value [4 1]}
{:index 3, :time 192652417, :type :fail, :process 1, :f :read, :value nil, :error [:key-does-not-exist "key not found"]}
{:index 4, :time 192841375, :type :fail, :process 0, :f :read, :value nil, :error [:key-does-not-exist "key not found"]}
{:index 5, :time 196414958, :type :fail, :process 5, :f :cas, :value [4 1], :error [:precondition-failed "expected value does not match"]}
{:index 6, :time 225144833, :type :invoke, :process 5, :f :cas, :value [3 3]}
{:index 7, :time 228394333, :type :fail, :process 5, :f :cas, :value [3 3], :error [:precondition-failed "expected value does not match"]}
{:index 8, :time 275544083, :type :invoke, :process 5, :f :cas, :value [0 0]}
{:index 9, :time 279133625, :type :fail, :process 5, :f :cas, :value [0 0], :error [:precondition-failed "expected value does not match"]}
{:index 10, :time 340419042, :type :invoke, :process 0, :f :read, :value nil}
{:index 11, :time 343367667, :type :fail, :process 0, :f :read, :value nil, :error [:key-does-not-exist "key not found"]}
{:index 12, :time 543361500, :type :invoke, :process 6, :f :cas, :value [3 3]}
{:index 13, :time 569375125, :type :fail, :process 6, :f :cas, :value [3 3], :error [:precondition-failed "expected value does not match"]}
{:index 14, :time 600674750, :type :invoke, :process 0, :f :read, :value nil}
{:index 15, :time 609767833, :type :invoke, :process 1, :f :read, :value nil}
{:index 16, :time 616836708, :type :fail, :process 0, :f :read, :value nil, :error [:key-does-not-exist "key not found"]}
{:index 17, :time 617314958, :type :fail, :process 1, :f :read, :value nil, :error [:key-does-not-exist "key not found"]}
{:index 18, :time 648181750, :type :invoke, :process 9, :f :cas, :value [3 2]}
{:index 19, :time 692847792, :type :invoke, :process 0, :f :read, :value nil}
{:index 20, :time 696069958, :type :fail, :process 0, :f :read, :value nil, :error [:key-does-not-exist "key not found"]}
{:index 21, :time 795008125, :type :fail, :process 9, :f :cas, :value [3 2], :error [:precondition-failed "expected value does not match"]}
{:index 22, :time 814774500, :type :invoke, :process 5, :f :cas, :value [2 0]}
{:index 23, :time 818259042, :type :fail, :process 5, :f :cas, :value [2 0], :error [:precondition-failed "expected value does not match"]}
{:index 24, :time 1000570708, :type :invoke, :process 5, :f :cas, :value [4 4]}
{:index 25, :time 1010010667, :type :fail, :process 5, :f :cas, :value [4 4], :error [:precondition-failed "expected value does not match"]}
{:index 26, :time 1158157333, :type :invoke, :process 2, :f :read, :value nil}
{:index 27, :time 1246083792, :type :invoke, :process 5, :f :cas, :value [2 1]}
{:index 28, :time 1253229167, :type :fail, :process 5, :f :cas, :value [2 1], :error [:precondition-failed "expected value does not match"]}
{:index 29, :time 1336217833, :type :invoke, :process 4, :f :read, :value nil}
{:index 30, :time 1348772625, :type :fail, :process 4, :f :read, :value nil, :error [:key-does-not-exist "key not found"]}
{:index 31, :time 1381874083, :type :fail, :process 2, :f :read, :value nil, :error [:key-does-not-exist "key not found"]}
{:index 32, :time 1504078125, :type :invoke, :process 5, :f :cas, :value [1 1]}
{:index 33, :time 1507175250, :type :fail, :process 5, :f :cas, :value [1 1], :error [:precondition-failed "expected value does not match"]}
{:index 34, :time 1616013125, :type :invoke, :process 6, :f :cas, :value [4 1]}
{:index 35, :time 1632534333, :type :fail, :process 6, :f :cas, :value [4 1], :error [:precondition-failed "expected value does not match"]}
{:index 36, :time 1702612792, :type :invoke, :process 7, :f :cas, :value [4 4]}
{:index 37, :time 1735353583, :type :fail, :process 7, :f :cas, :value [4 4], :error [:precondition-failed "expected value does not match"]}
{:index 38, :time 1840656708, :type :invoke, :process 8, :f :cas, :value [3 3]}
{:index 39, :time 1904072708, :type :invoke, :process 0, :f :read, :value nil}
{:index 40, :time 1907223833, :type :fail, :process 0, :f :read, :value nil, :error [:key-does-not-exist "key not found"]}
{:index 41, :time 1908067833, :type :invoke, :process 5, :f :cas, :value [4 2]}
{:index 42, :time 1913315208, :type :fail, :process 5, :f :cas, :value [4 2], :error [:precondition-failed "expected value does not match"]}
{:index 43, :time 1956761792, :type :invoke, :process 0, :f :read, :value nil}
{:index 44, :time 1961413417, :type :fail, :process 0, :f :read, :value nil, :error [:key-does-not-exist "key not found"]}
{:index 45, :time 1984253333, :type :fail, :process 8, :f :cas, :value [3 3], :error [:precondition-failed "expected value does not match"]}
{:index 46, :time 2079067292, :type :invoke, :process 5, :f :write, :value 0}
{:index 47, :time 2088669792, :type :ok, :process 5, :f :write, :value 0}
{:index 48, :time 2245205750, :type :invoke, :process 5, :f :cas, :value [0 3]}
{:index 49, :time 2274490333, :type :ok, :process 5, :f :cas, :value [0 3]}
{:index 50, :time 2288225958, :type :invoke, :process 3, :f :read, :value nil}
{:index 51, :time 2318350625, :type :ok, :process 3, :f :read, :value 3}
{:index 52, :time 2437950708, :type :invoke, :process 4, :f :read, :value nil}
{:index 53, :time 2450849500, :type :ok, :process 4, :f :read, :value 3}
{:index 54, :time 2569867250, :type :invoke, :process 5, :f :write, :value 1}
{:index 55, :time 2583176083, :type :ok, :process 5, :f :write, :value 1}
{:index 56, :time 2691118583, :type :invoke, :process 6, :f :write, :value 2}
{:index 57, :time 2703776792, :type :ok, :process 6, :f :write, :value 2}
{:index 58, :time 2759351583, :type :invoke, :process 7, :f :write, :value 1}
{:index 59, :time 2801572625, :type :ok, :process 7, :f :write, :value 1}
{:index 60, :time 2842210375, :type :invoke, :process 8, :f :cas, :value [4 3]}
{:index 61, :time 2849734875, :type :fail, :process 8, :f :cas, :value [4 3], :error [:precondition-failed "expected value does not match"]}
{:index 62, :time 2856361917, :type :invoke, :process 0, :f :read, :value nil}
{:index 63, :time 2877713667, :type :ok, :process 0, :f :read, :value 1}
{:index 64, :time 3021859458, :type :invoke, :process 0, :f :read, :value nil}
{:index 65, :time 3039050583, :type :ok, :process 0, :f :read, :value 1}
{:index 66, :time 3173339042, :type :invoke, :process 0, :f :read, :value nil}
{:index 67, :time 3182735708, :type :ok, :process 0, :f :read, :value 1}
{:index 68, :time 3225715875, :type :invoke, :process 5, :f :cas, :value [0 0]}
{:index 69, :time 3249989875, :type :fail, :process 5, :f :cas, :value [0 0], :error [:precondition-failed "expected value does not match"]}
{:index 70, :time 3371449875, :type :invoke, :process 2, :f :read, :value nil}
{:index 71, :time 3401499042, :type :ok, :process 2, :f :read, :value 1}
{:index 72, :time 3572607417, :type :invoke, :process 3, :f :read, :value nil}
{:index 73, :time 3581522417, :type :ok, :process 3, :f :read, :value 1}
{:index 74, :time 3587794667, :type :invoke, :process 5, :f :write, :value 2}
{:index 75, :time 3608569042, :type :invoke, :process 6, :f :cas, :value [1 3]}
{:index 76, :time 3618522708, :type :ok, :process 5, :f :write, :value 2}
{:index 77, :time 3618648125, :type :fail, :process 6, :f :cas, :value [1 3], :error [:precondition-failed "expected value does not match"]}
{:index 78, :time 3631969333, :type :invoke, :process 6, :f :write, :value 4}
{:index 79, :time 3714371583, :type :ok, :process 6, :f :write, :value 4}
{:index 80, :time 3794494583, :type :invoke, :process 0, :f :read, :value nil}
{:index 81, :time 3801194583, :type :ok, :process 0, :f :read, :value 4}
{:index 82, :time 3889823708, :type :invoke, :process 0, :f :read, :value nil}
{:index 83, :time 3904100917, :type :ok, :process 0, :f :read, :value 4}
{:index 84, :time 3950383292, :type :invoke, :process 9, :f :cas, :value [0 0]}
{:index 85, :time 3978113583, :type :fail, :process 9, :f :cas, :value [0 0], :error [:precondition-failed "expected value does not match"]}
{:index 86, :time 4046591708, :type :invoke, :process 0, :f :read, :value nil}
{:index 87, :time 4083813583, :type :ok, :process 0, :f :read, :value 4}
{:index 88, :time 4087538917, :type :invoke, :process 5, :f :cas, :value [4 3]}
{:index 89, :time 4093263250, :type :ok, :process 5, :f :cas, :value [4 3]}
{:index 90, :time 4174233083, :type :invoke, :process 5, :f :cas, :value [3 2]}
{:index 91, :time 4199512917, :type :invoke, :process 6, :f :write, :value 2}
{:index 92, :time 4203630458, :type :ok, :process 5, :f :cas, :value [3 2]}
{:index 93, :time 4203944417, :type :ok, :process 6, :f :write, :value 2}
{:index 94, :time 4205702917, :type :invoke, :process 3, :f :read, :value nil}
{:index 95, :time 4208351167, :type :ok, :process 3, :f :read, :value 2}
{:index 96, :time 4220742333, :type :invoke, :process 4, :f :read, :value nil}
{:index 97, :time 4223870208, :type :ok, :process 4, :f :read, :value 2}
{:index 98, :time 4386197292, :type :invoke, :process 5, :f :cas, :value [2 0]}
{:index 99, :time 4390185833, :type :ok, :process 5, :f :cas, :value [2 0]}
{:index 100, :time 4548879083, :type :invoke, :process 6, :f :cas, :value [0 3]}
{:index 101, :time 4568594000, :type :ok, :process 6, :f :cas, :value [0 3]}
{:index 102, :time 4726917500, :type :invoke, :process 0, :f :read, :value nil}
{:index 103, :time 4737859083, :type :ok, :process 0, :f :read, :value 3}
{:index 104, :time 4744962458, :type :invoke, :process 8, :f :cas, :value [0 2]}
{:index 105, :time 4759538750, :type :fail, :process 8, :f :cas, :value [0 2], :error [:precondition-failed "expected value does not match"]}
{:index 106, :time 4851254292, :type :invoke, :process 0, :f :read, :value nil}
{:index 107, :time 4865671708, :type :ok, :process 0, :f :read, :value 3}
{:index 108, :time 4885193292, :type :invoke, :process 0, :f :read, :value nil}
{:index 109, :time 4900702375, :type :ok, :process 0, :f :read, :value 3}
