{:index 0, :time 6170333, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 1, :time 369406458, :type :invoke, :process 1, :f :cas, :value [0 [3 2]]}
{:index 2, :time 1019168791, :type :fail, :process 0, :f :read, :value [0 nil], :error :net-timeout}
{:index 3, :time 1094936125, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 4, :time 1373313916, :type :info, :process 1, :f :cas, :value [0 [3 2]], :error :net-timeout}
{:index 5, :time 1597968625, :type :invoke, :process 3, :f :cas, :value [0 [4 2]]}
{:index 6, :time 2109021291, :type :fail, :process 0, :f :read, :value [0 nil], :error :net-timeout}
{:index 7, :time 2602448625, :type :info, :process 3, :f :cas, :value [0 [4 2]], :error :net-timeout}
{:index 8, :time 2827783666, :type :invoke, :process 5, :f :write, :value [0 0]}
{:index 9, :time 3257242333, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 10, :time 3839530666, :type :info, :process 5, :f :write, :value [0 0], :error :net-timeout}
{:index 11, :time 4264484666, :type :fail, :process 0, :f :read, :value [0 nil], :error :net-timeout}
{:index 12, :time 4331062833, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 13, :time 5341205958, :type :fail, :process 0, :f :read, :value [0 nil], :error :net-timeout}
