{:index 0, :time 7502334, :type :invoke, :process 0, :f :read, :value nil}
{:index 1, :time 554144750, :type :invoke, :process 1, :f :write, :value 0}
{:index 2, :time 1020109000, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 3, :time 1059203000, :type :invoke, :process 0, :f :read, :value nil}
{:index 4, :time 1563391875, :type :info, :process 1, :f :write, :value 0, :error :net-timeout}
{:index 5, :time 2068599084, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 6, :time 2167075042, :type :invoke, :process 3, :f :cas, :value [4 2]}
{:index 7, :time 3171033334, :type :info, :process 3, :f :cas, :value [4 2], :error :net-timeout}
{:index 8, :time 3857926834, :type :invoke, :process 5, :f :write, :value 3}
{:index 9, :time 4861552167, :type :info, :process 5, :f :write, :value 3, :error :net-timeout}
{:index 10, :time 5424594167, :type :invoke, :process 0, :f :read, :value nil}
{:index 11, :time 5929578584, :type :invoke, :process 7, :f :write, :value 2}
{:index 12, :time 6430700292, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 13, :time 6430832042, :type :invoke, :process 0, :f :read, :value nil}
{:index 14, :time 6935627042, :type :info, :process 7, :f :write, :value 2, :error :net-timeout}
{:index 15, :time 7440671875, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 16, :time 7791031084, :type :invoke, :process 9, :f :cas, :value [1 0]}
{:index 17, :time 8795780209, :type :info, :process 9, :f :cas, :value [1 0], :error :net-timeout}
{:index 18, :time 9066605625, :type :invoke, :process 0, :f :read, :value nil}
{:index 19, :time 10068256417, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
