{:index 0, :time 6588250, :type :invoke, :process 0, :f :read, :value nil}
{:index 1, :time 251112959, :type :invoke, :process 1, :f :write, :value 4}
{:index 2, :time 1016019875, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 3, :time 1016222792, :type :invoke, :process 0, :f :read, :value nil}
{:index 4, :time 1259733834, :type :info, :process 1, :f :write, :value 4, :error :net-timeout}
{:index 5, :time 1259995417, :type :invoke, :process 3, :f :cas, :value [3 4]}
{:index 6, :time 2022178709, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 7, :time 2022423417, :type :invoke, :process 0, :f :read, :value nil}
{:index 8, :time 2268704167, :type :info, :process 3, :f :cas, :value [3 4], :error :net-timeout}
{:index 9, :time 2268872250, :type :invoke, :process 5, :f :cas, :value [0 2]}
{:index 10, :time 3027610000, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 11, :time 3027699084, :type :invoke, :process 0, :f :read, :value nil}
{:index 12, :time 3274806750, :type :info, :process 5, :f :cas, :value [0 2], :error :net-timeout}
{:index 13, :time 3275135334, :type :invoke, :process 7, :f :write, :value 1}
{:index 14, :time 4031587125, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 15, :time 4031737792, :type :invoke, :process 0, :f :read, :value nil}
{:index 16, :time 4279385084, :type :info, :process 7, :f :write, :value 1, :error :net-timeout}
{:index 17, :time 4365455667, :type :invoke, :process 9, :f :write, :value 0}
{:index 18, :time 5045908375, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 19, :time 5046069959, :type :invoke, :process 0, :f :read, :value nil}
{:index 20, :time 5372293042, :type :info, :process 9, :f :write, :value 0, :error :net-timeout}
{:index 21, :time 5410088750, :type :invoke, :process 11, :f :write, :value 4}
{:index 22, :time 6062264084, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 23, :time 6062400750, :type :invoke, :process 0, :f :read, :value nil}
{:index 24, :time 6415493417, :type :info, :process 11, :f :write, :value 4, :error :net-timeout}
{:index 25, :time 6415687250, :type :invoke, :process 13, :f :cas, :value [4 2]}
{:index 26, :time 7065371584, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 27, :time 7065512042, :type :invoke, :process 0, :f :read, :value nil}
{:index 28, :time 7418451542, :type :info, :process 13, :f :cas, :value [4 2], :error :net-timeout}
{:index 29, :time 7418632209, :type :invoke, :process 15, :f :cas, :value [4 1]}
{:index 30, :time 8068141625, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 31, :time 8068212709, :type :invoke, :process 0, :f :read, :value nil}
{:index 32, :time 8419098250, :type :info, :process 15, :f :cas, :value [4 1], :error :net-timeout}
{:index 33, :time 8419188709, :type :invoke, :process 17, :f :write, :value 4}
{:index 34, :time 9073632000, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 35, :time 9073811209, :type :invoke, :process 0, :f :read, :value nil}
{:index 36, :time 9424373000, :type :info, :process 17, :f :write, :value 4, :error :net-timeout}
{:index 37, :time 9424572417, :type :invoke, :process 19, :f :cas, :value [0 3]}
{:index 38, :time 10077769542, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 39, :time 10428581042, :type :info, :process 19, :f :cas, :value [0 3], :error :net-timeout}
