{:index 0, :time 8192750, :type :invoke, :process 1, :f :write, :value 3}
{:index 1, :time 71560375, :type :invoke, :process 0, :f :read, :value nil}
{:index 2, :time 156594958, :type :ok, :process 1, :f :write, :value 3}
{:index 3, :time 168193667, :type :ok, :process 0, :f :read, :value 3}
{:index 4, :time 258439458, :type :invoke, :process 0, :f :read, :value nil}
{:index 5, :time 263589542, :type :ok, :process 0, :f :read, :value 3}
{:index 6, :time 277932292, :type :invoke, :process 0, :f :read, :value nil}
{:index 7, :time 281780375, :type :ok, :process 0, :f :read, :value 3}
{:index 8, :time 362697125, :type :invoke, :process 0, :f :read, :value nil}
{:index 9, :time 369331042, :type :ok, :process 0, :f :read, :value 3}
{:index 10, :time 477300625, :type :invoke, :process 1, :f :cas, :value [3 3]}
{:index 11, :time 504189833, :type :ok, :process 1, :f :cas, :value [3 3]}
{:index 12, :time 653700500, :type :invoke, :process 0, :f :read, :value nil}
{:index 13, :time 668400083, :type :ok, :process 0, :f :read, :value 3}
{:index 14, :time 739790125, :type :invoke, :process 1, :f :cas, :value [1 4]}
{:index 15, :time 767385875, :type :fail, :process 1, :f :cas, :value [1 4], :error [:precondition-failed "expected value does not match"]}
{:index 16, :time 934787500, :type :invoke, :process 1, :f :cas, :value [0 3]}
{:index 17, :time 964514458, :type :fail, :process 1, :f :cas, :value [0 3], :error [:precondition-failed "expected value does not match"]}
{:index 18, :time 1064742500, :type :invoke, :process 0, :f :read, :value nil}
{:index 19, :time 1087769750, :type :ok, :process 0, :f :read, :value 3}
{:index 20, :time 1264663917, :type :invoke, :process 1, :f :cas, :value [3 0]}
{:index 21, :time 1294239833, :type :ok, :process 1, :f :cas, :value [3 0]}
{:index 22, :time 1405023250, :type :invoke, :process 1, :f :cas, :value [2 3]}
{:index 23, :time 1434452250, :type :fail, :process 1, :f :cas, :value [2 3], :error [:precondition-failed "expected value does not match"]}
{:index 24, :time 1500209625, :type :invoke, :process 0, :f :read, :value nil}
{:index 25, :time 1524032167, :type :ok, :process 0, :f :read, :value 0}
{:index 26, :time 1663205083, :type :invoke, :process 1, :f :cas, :value [0 4]}
{:index 27, :time 1672286792, :type :ok, :process 1, :f :cas, :value [0 4]}
{:index 28, :time 1844354167, :type :invoke, :process 0, :f :read, :value nil}
{:index 29, :time 1868676708, :type :ok, :process 0, :f :read, :value 4}
{:index 30, :time 1911760250, :type :invoke, :process 1, :f :cas, :value [1 1]}
{:index 31, :time 1940171500, :type :fail, :process 1, :f :cas, :value [1 1], :error [:precondition-failed "expected value does not match"]}
{:index 32, :time 2097175375, :type :invoke, :process 0, :f :read, :value nil}
{:index 33, :time 2110077875, :type :ok, :process 0, :f :read, :value 4}
{:index 34, :time 2217426500, :type :invoke, :process 0, :f :read, :value nil}
{:index 35, :time 2229335750, :type :invoke, :process 1, :f :write, :value 1}
{:index 36, :time 2236857083, :type :ok, :process 0, :f :read, :value 4}
{:index 37, :time 2238310542, :type :ok, :process 1, :f :write, :value 1}
{:index 38, :time 2242296375, :type :invoke, :process 1, :f :cas, :value [3 2]}
{:index 39, :time 2244821292, :type :fail, :process 1, :f :cas, :value [3 2], :error [:precondition-failed "expected value does not match"]}
{:index 40, :time 2361229292, :type :invoke, :process 1, :f :write, :value 1}
{:index 41, :time 2376001625, :type :ok, :process 1, :f :write, :value 1}
{:index 42, :time 2513374250, :type :invoke, :process 1, :f :cas, :value [2 2]}
{:index 43, :time 2540068958, :type :fail, :process 1, :f :cas, :value [2 2], :error [:precondition-failed "expected value does not match"]}
{:index 44, :time 2575670000, :type :invoke, :process 0, :f :read, :value nil}
{:index 45, :time 2588006833, :type :ok, :process 0, :f :read, :value 1}
{:index 46, :time 2636423833, :type :invoke, :process 0, :f :read, :value nil}
{:index 47, :time 2647358292, :type :ok, :process 0, :f :read, :value 1}
{:index 48, :time 2801516208, :type :invoke, :process 0, :f :read, :value nil}
{:index 49, :time 2818129000, :type :ok, :process 0, :f :read, :value 1}
{:index 50, :time 2873221125, :type :invoke, :process 0, :f :read, :value nil}
{:index 51, :time 2899075750, :type :ok, :process 0, :f :read, :value 1}
{:index 52, :time 2919263333, :type :invoke, :process 1, :f :write, :value 1}
{:index 53, :time 2934859125, :type :ok, :process 1, :f :write, :value 1}
{:index 54, :time 3119506708, :type :invoke, :process 0, :f :read, :value nil}
{:index 55, :time 3141765667, :type :ok, :process 0, :f :read, :value 1}
{:index 56, :time 3141879500, :type :invoke, :process 0, :f :read, :value nil}
{:index 57, :time 3145835917, :type :ok, :process 0, :f :read, :value 1}
{:index 58, :time 3237375292, :type :invoke, :process 1, :f :cas, :value [2 2]}
{:index 59, :time 3252996208, :type :fail, :process 1, :f :cas, :value [2 2], :error [:precondition-failed "expected value does not match"]}
{:index 60, :time 3272286375, :type :invoke, :process 0, :f :read, :value nil}
{:index 61, :time 3285353083, :type :ok, :process 0, :f :read, :value 1}
{:index 62, :time 3455156542, :type :invoke, :process 0, :f :read, :value nil}
{:index 63, :time 3466502667, :type :ok, :process 0, :f :read, :value 1}
{:index 64, :time 3559729458, :type :invoke, :process 1, :f :write, :value 4}
{:index 65, :time 3569709375, :type :ok, :process 1, :f :write, :value 4}
{:index 66, :time 3756404958, :type :invoke, :process 1, :f :cas, :value [4 1]}
{:index 67, :time 3800085750, :type :ok, :process 1, :f :cas, :value [4 1]}
{:index 68, :time 3859349167, :type :invoke, :process 1, :f :cas, :value [2 4]}
{:index 69, :time 3865263542, :type :fail, :process 1, :f :cas, :value [2 4], :error [:precondition-failed "expected value does not match"]}
{:index 70, :time 3912278083, :type :invoke, :process 1, :f :cas, :value [3 0]}
{:index 71, :time 3925026917, :type :fail, :process 1, :f :cas, :value [3 0], :error [:precondition-failed "expected value does not match"]}
{:index 72, :time 3980239292, :type :invoke, :process 1, :f :write, :value 4}
{:index 73, :time 3996587167, :type :ok, :process 1, :f :write, :value 4}
{:index 74, :time 4073575125, :type :invoke, :process 1, :f :write, :value 0}
{:index 75, :time 4100561917, :type :invoke, :process 0, :f :read, :value nil}
{:index 76, :time 4105725750, :type :ok, :process 1, :f :write, :value 0}
{:index 77, :time 4106720875, :type :ok, :process 0, :f :read, :value 0}
{:index 78, :time 4121586750, :type :invoke, :process 1, :f :write, :value 3}
{:index 79, :time 4125175667, :type :ok, :process 1, :f :write, :value 3}
{:index 80, :time 4323525833, :type :invoke, :process 0, :f :read, :value nil}
{:index 81, :time 4354155542, :type :ok, :process 0, :f :read, :value 3}
{:index 82, :time 4494239708, :type :invoke, :process 1, :f :cas, :value [4 4]}
{:index 83, :time 4507903625, :type :fail, :process 1, :f :cas, :value [4 4], :error [:precondition-failed "expected value does not match"]}
{:index 84, :time 4563826125, :type :invoke, :process 1, :f :cas, :value [4 2]}
{:index 85, :time 4573019042, :type :fail, :process 1, :f :cas, :value [4 2], :error [:precondition-failed "expected value does not match"]}
{:index 86, :time 4615486917, :type :invoke, :process 0, :f :read, :value nil}
{:index 87, :time 4623453542, :type :ok, :process 0, :f :read, :value 3}
{:index 88, :time 4769029458, :type :invoke, :process 1, :f :cas, :value [3 1]}
{:index 89, :time 4792531083, :type :ok, :process 1, :f :cas, :value [3 1]}
{:index 90, :time 4812298708, :type :invoke, :process 0, :f :read, :value nil}
{:index 91, :time 4848182000, :type :ok, :process 0, :f :read, :value 1}
{:index 92, :time 4938402250, :type :invoke, :process 0, :f :read, :value nil}
{:index 93, :time 4952339083, :type :ok, :process 0, :f :read, :value 1}
{:index 94, :time 4967778250, :type :invoke, :process 1, :f :cas, :value [3 2]}
{:index 95, :time 4975859000, :type :invoke, :process 0, :f :read, :value nil}
{:index 96, :time 4977703458, :type :fail, :process 1, :f :cas, :value [3 2], :error [:precondition-failed "expected value does not match"]}
{:index 97, :time 4978123500, :type :ok, :process 0, :f :read, :value 1}
{:index 98, :time 5154325625, :type :invoke, :process 0, :f :read, :value nil}
{:index 99, :time 5174459917, :type :ok, :process 0, :f :read, :value 1}
{:index 100, :time 5239204500, :type :invoke, :process 0, :f :read, :value nil}
{:index 101, :time 5255226333, :type :ok, :process 0, :f :read, :value 1}
{:index 102, :time 5438729750, :type :invoke, :process 1, :f :write, :value 4}
{:index 103, :time 5447129333, :type :ok, :process 1, :f :write, :value 4}
{:index 104, :time 5556827833, :type :invoke, :process 1, :f :cas, :value [1 1]}
{:index 105, :time 5567515333, :type :fail, :process 1, :f :cas, :value [1 1], :error [:precondition-failed "expected value does not match"]}
{:index 106, :time 5611121500, :type :invoke, :process 1, :f :write, :value 1}
{:index 107, :time 5620939208, :type :ok, :process 1, :f :write, :value 1}
{:index 108, :time 5645494042, :type :invoke, :process 1, :f :cas, :value [0 3]}
{:index 109, :time 5654043625, :type :fail, :process 1, :f :cas, :value [0 3], :error [:precondition-failed "expected value does not match"]}
{:index 110, :time 5728952208, :type :invoke, :process 0, :f :read, :value nil}
{:index 111, :time 5741211958, :type :ok, :process 0, :f :read, :value 1}
{:index 112, :time 5905895625, :type :invoke, :process 1, :f :write, :value 3}
{:index 113, :time 5915607542, :type :ok, :process 1, :f :write, :value 3}
{:index 114, :time 6049711417, :type :invoke, :process 0, :f :read, :value nil}
{:index 115, :time 6061833042, :type :ok, :process 0, :f :read, :value 3}
{:index 116, :time 6200776708, :type :invoke, :process 0, :f :read, :value nil}
{:index 117, :time 6213838583, :type :ok, :process 0, :f :read, :value 3}
{:index 118, :time 6363147958, :type :invoke, :process 1, :f :cas, :value [4 4]}
{:index 119, :time 6382862083, :type :fail, :process 1, :f :cas, :value [4 4], :error [:precondition-failed "expected value does not match"]}
{:index 120, :time 6415595000, :type :invoke, :process 0, :f :read, :value nil}
{:index 121, :time 6428495125, :type :ok, :process 0, :f :read, :value 3}
{:index 122, :time 6583822917, :type :invoke, :process 1, :f :write, :value 1}
{:index 123, :time 6590961792, :type :ok, :process 1, :f :write, :value 1}
{:index 124, :time 6738199958, :type :invoke, :process 0, :f :read, :value nil}
{:index 125, :time 6750121708, :type :ok, :process 0, :f :read, :value 1}
{:index 126, :time 6800917292, :type :invoke, :process 1, :f :cas, :value [2 0]}
{:index 127, :time 6808301542, :type :fail, :process 1, :f :cas, :value [2 0], :error [:precondition-failed "expected value does not match"]}
{:index 128, :time 6918023000, :type :invoke, :process 1, :f :write, :value 4}
{:index 129, :time 6926044917, :type :ok, :process 1, :f :write, :value 4}
{:index 130, :time 6928211000, :type :invoke, :process 1, :f :write, :value 2}
{:index 131, :time 6935858167, :type :ok, :process 1, :f :write, :value 2}
{:index 132, :time 6997050292, :type :invoke, :process 1, :f :cas, :value [1 4]}
{:index 133, :time 7005189875, :type :fail, :process 1, :f :cas, :value [1 4], :error [:precondition-failed "expected value does not match"]}
{:index 134, :time 7009070083, :type :invoke, :process 1, :f :write, :value 2}
{:index 135, :time 7015700083, :type :ok, :process 1, :f :write, :value 2}
{:index 136, :time 7096009625, :type :invoke, :process 1, :f :cas, :value [2 3]}
{:index 137, :time 7105246792, :type :ok, :process 1, :f :cas, :value [2 3]}
{:index 138, :time 7172505792, :type :invoke, :process 1, :f :cas, :value [4 0]}
{:index 139, :time 7177657208, :type :fail, :process 1, :f :cas, :value [4 0], :error [:precondition-failed "expected value does not match"]}
{:index 140, :time 7315439667, :type :invoke, :process 0, :f :read, :value nil}
{:index 141, :time 7327297458, :type :ok, :process 0, :f :read, :value 3}
{:index 142, :time 7492885375, :type :invoke, :process 0, :f :read, :value nil}
{:index 143, :time 7501832000, :type :ok, :process 0, :f :read, :value 3}
{:index 144, :time 7551169625, :type :invoke, :process 1, :f :cas, :value [3 4]}
{:index 145, :time 7562089833, :type :ok, :process 1, :f :cas, :value [3 4]}
{:index 146, :time 7754298833, :type :invoke, :process 1, :f :cas, :value [1 2]}
{:index 147, :time 7773810292, :type :fail, :process 1, :f :cas, :value [1 2], :error [:precondition-failed "expected value does not match"]}
{:index 148, :time 7894165792, :type :invoke, :process 1, :f :cas, :value [2 1]}
{:index 149, :time 7899659833, :type :fail, :process 1, :f :cas, :value [2 1], :error [:precondition-failed "expected value does not match"]}
{:index 150, :time 7899751875, :type :invoke, :process 0, :f :read, :value nil}
{:index 151, :time 7903180833, :type :ok, :process 0, :f :read, :value 4}
{:index 152, :time 7981953583, :type :invoke, :process 0, :f :read, :value nil}
{:index 153, :time 7984821417, :type :ok, :process 0, :f :read, :value 4}
{:index 154, :time 8046259000, :type :invoke, :process 0, :f :read, :value nil}
{:index 155, :time 8054763667, :type :ok, :process 0, :f :read, :value 4}
{:index 156, :time 8099040417, :type :invoke, :process 0, :f :read, :value nil}
{:index 157, :time 8106491917, :type :ok, :process 0, :f :read, :value 4}
{:index 158, :time 8129295875, :type :invoke, :process 0, :f :read, :value nil}
{:index 159, :time 8135273167, :type :ok, :process 0, :f :read, :value 4}
{:index 160, :time 8174124625, :type :invoke, :process 1, :f :write, :value 1}
{:index 161, :time 8176031250, :type :invoke, :process 0, :f :read, :value nil}
{:index 162, :time 8183603375, :type :ok, :process 1, :f :write, :value 1}
{:index 163, :time 8186037500, :type :ok, :process 0, :f :read, :value 1}
{:index 164, :time 8248016042, :type :invoke, :process 1, :f :write, :value 1}
{:index 165, :time 8254703250, :type :ok, :process 1, :f :write, :value 1}
{:index 166, :time 8349462458, :type :invoke, :process 1, :f :write, :value 3}
{:index 167, :time 8355155167, :type :ok, :process 1, :f :write, :value 3}
{:index 168, :time 8427373208, :type :invoke, :process 1, :f :cas, :value [0 0]}
{:index 169, :time 8437034042, :type :fail, :process 1, :f :cas, :value [0 0], :error [:precondition-failed "expected value does not match"]}
{:index 170, :time 8602382083, :type :invoke, :process 0, :f :read, :value nil}
{:index 171, :time 8610355083, :type :ok, :process 0, :f :read, :value 3}
{:index 172, :time 8729435833, :type :invoke, :process 0, :f :read, :value nil}
{:index 173, :time 8734473417, :type :ok, :process 0, :f :read, :value 3}
{:index 174, :time 8827011042, :type :invoke, :process 1, :f :cas, :value [4 4]}
{:index 175, :time 8843259042, :type :fail, :process 1, :f :cas, :value [4 4], :error [:precondition-failed "expected value does not match"]}
{:index 176, :time 8977698542, :type :invoke, :process 0, :f :read, :value nil}
{:index 177, :time 8983361708, :type :ok, :process 0, :f :read, :value 3}
{:index 178, :time 9150629833, :type :invoke, :process 1, :f :cas, :value [4 2]}
{:index 179, :time 9159966875, :type :fail, :process 1, :f :cas, :value [4 2], :error [:precondition-failed "expected value does not match"]}
{:index 180, :time 9239816250, :type :invoke, :process 0, :f :read, :value nil}
{:index 181, :time 9247094750, :type :ok, :process 0, :f :read, :value 3}
{:index 182, :time 9252912833, :type :invoke, :process 0, :f :read, :value nil}
{:index 183, :time 9262539917, :type :ok, :process 0, :f :read, :value 3}
{:index 184, :time 9357037667, :type :invoke, :process 0, :f :read, :value nil}
{:index 185, :time 9365172042, :type :ok, :process 0, :f :read, :value 3}
{:index 186, :time 9503888917, :type :invoke, :process 1, :f :cas, :value [0 0]}
{:index 187, :time 9513776625, :type :fail, :process 1, :f :cas, :value [0 0], :error [:precondition-failed "expected value does not match"]}
{:index 188, :time 9576198500, :type :invoke, :process 0, :f :read, :value nil}
{:index 189, :time 9581763250, :type :ok, :process 0, :f :read, :value 3}
{:index 190, :time 9775050458, :type :invoke, :process 0, :f :read, :value nil}
{:index 191, :time 9779655167, :type :ok, :process 0, :f :read, :value 3}
{:index 192, :time 9940471042, :type :invoke, :process 0, :f :read, :value nil}
{:index 193, :time 9951051625, :type :ok, :process 0, :f :read, :value 3}
{:index 194, :time 9970184375, :type :invoke, :process 1, :f :cas, :value [2 0]}
{:index 195, :time 9982463667, :type :fail, :process 1, :f :cas, :value [2 0], :error [:precondition-failed "expected value does not match"]}
