{:index 0, :time 8821584, :type :invoke, :process 1, :f :cas, :value [0 [4 4]]}
{:index 1, :time 74897542, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 2, :time 150041625, :type :fail, :process 1, :f :cas, :value [0 [4 4]], :error [:precondition-failed "expected value does not match"]}
{:index 3, :time 150160334, :type :invoke, :process 1, :f :cas, :value [0 [4 2]]}
{:index 4, :time 155479834, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 5, :time 156531459, :type :fail, :process 1, :f :cas, :value [0 [4 2]], :error [:precondition-failed "expected value does not match"]}
{:index 6, :time 229403209, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 7, :time 233214834, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 8, :time 264384209, :type :invoke, :process 1, :f :cas, :value [0 [3 1]]}
{:index 9, :time 267932834, :type :fail, :process 1, :f :cas, :value [0 [3 1]], :error [:precondition-failed "expected value does not match"]}
{:index 10, :time 308294792, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 11, :time 311116792, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 12, :time 375155000, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 13, :time 378386709, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 14, :time 448850792, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 15, :time 455075459, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 16, :time 562586542, :type :invoke, :process 1, :f :write, :value [0 2]}
{:index 17, :time 573154875, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 18, :time 580397459, :type :ok, :process 1, :f :write, :value [0 2]}
{:index 19, :time 581505000, :type :ok, :process 0, :f :read, :value [0 2]}
{:index 20, :time 690803834, :type :invoke, :process 1, :f :cas, :value [0 [4 4]]}
{:index 21, :time 708296000, :type :fail, :process 1, :f :cas, :value [0 [4 4]], :error [:precondition-failed "expected value does not match"]}
{:index 22, :time 855021834, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 23, :time 869051334, :type :ok, :process 0, :f :read, :value [0 2]}
{:index 24, :time 960334500, :type :invoke, :process 1, :f :write, :value [0 2]}
{:index 25, :time 981654625, :type :ok, :process 1, :f :write, :value [0 2]}
{:index 26, :time 1035609667, :type :invoke, :process 1, :f :write, :value [0 4]}
{:index 27, :time 1046252709, :type :ok, :process 1, :f :write, :value [0 4]}
{:index 28, :time 1239840625, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 29, :time 1256072500, :type :ok, :process 0, :f :read, :value [0 4]}
{:index 30, :time 1265530667, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 31, :time 1270934584, :type :ok, :process 0, :f :read, :value [0 4]}
{:index 32, :time 1462478917, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 33, :time 1465571709, :type :ok, :process 0, :f :read, :value [0 4]}
{:index 34, :time 1637220584, :type :invoke, :process 1, :f :cas, :value [0 [2 0]]}
{:index 35, :time 1647522167, :type :fail, :process 1, :f :cas, :value [0 [2 0]], :error [:precondition-failed "expected value does not match"]}
{:index 36, :time 1654365167, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 37, :time 1660684792, :type :ok, :process 0, :f :read, :value [0 4]}
{:index 38, :time 1853222292, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 39, :time 1866311709, :type :ok, :process 0, :f :read, :value [0 4]}
{:index 40, :time 1927279834, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 41, :time 1945163625, :type :ok, :process 0, :f :read, :value [0 4]}
{:index 42, :time 1964350209, :type :invoke, :process 1, :f :cas, :value [0 [4 0]]}
{:index 43, :time 1974729792, :type :ok, :process 1, :f :cas, :value [0 [4 0]]}
{:index 44, :time 2099650834, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 45, :time 2105262667, :type :invoke, :process 1, :f :write, :value [0 1]}
{:index 46, :time 2134809792, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 47, :time 2137094459, :type :ok, :process 1, :f :write, :value [0 1]}
{:index 48, :time 2143892875, :type :invoke, :process 1, :f :write, :value [0 0]}
{:index 49, :time 2146687042, :type :ok, :process 1, :f :write, :value [0 0]}
{:index 50, :time 2158004417, :type :invoke, :process 1, :f :cas, :value [0 [3 0]]}
{:index 51, :time 2162388500, :type :fail, :process 1, :f :cas, :value [0 [3 0]], :error [:precondition-failed "expected value does not match"]}
{:index 52, :time 2336118417, :type :invoke, :process 1, :f :cas, :value [0 [4 0]]}
{:index 53, :time 2357379459, :type :fail, :process 1, :f :cas, :value [0 [4 0]], :error [:precondition-failed "expected value does not match"]}
{:index 54, :time 2357532084, :type :invoke, :process 1, :f :cas, :value [0 [4 3]]}
{:index 55, :time 2365637084, :type :fail, :process 1, :f :cas, :value [0 [4 3]], :error [:precondition-failed "expected value does not match"]}
{:index 56, :time 2495598209, :type :invoke, :process 1, :f :cas, :value [0 [2 0]]}
{:index 57, :time 2508023209, :type :fail, :process 1, :f :cas, :value [0 [2 0]], :error [:precondition-failed "expected value does not match"]}
{:index 58, :time 2519453209, :type :invoke, :process 1, :f :cas, :value [0 [3 0]]}
{:index 59, :time 2525642792, :type :fail, :process 1, :f :cas, :value [0 [3 0]], :error [:precondition-failed "expected value does not match"]}
{:index 60, :time 2601677875, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 61, :time 2612706250, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 62, :time 2689357167, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 63, :time 2709062125, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 64, :time 2811727542, :type :invoke, :process 1, :f :write, :value [0 0]}
{:index 65, :time 2827857584, :type :ok, :process 1, :f :write, :value [0 0]}
{:index 66, :time 2950835750, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 67, :time 2964034959, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 68, :time 3092168292, :type :invoke, :process 1, :f :write, :value [0 4]}
{:index 69, :time 3101512459, :type :ok, :process 1, :f :write, :value [0 4]}
{:index 70, :time 3175437709, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 71, :time 3208332000, :type :ok, :process 0, :f :read, :value [0 4]}
{:index 72, :time 3258164000, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 73, :time 3273470834, :type :ok, :process 0, :f :read, :value [0 4]}
{:index 74, :time 3435354959, :type :invoke, :process 1, :f :write, :value [0 2]}
{:index 75, :time 3450923875, :type :ok, :process 1, :f :write, :value [0 2]}
{:index 76, :time 3548098792, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 77, :time 3578042792, :type :ok, :process 0, :f :read, :value [0 2]}
{:index 78, :time 3583219042, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 79, :time 3588794792, :type :ok, :process 0, :f :read, :value [0 2]}
{:index 80, :time 3631565459, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 81, :time 3639845834, :type :ok, :process 0, :f :read, :value [0 2]}
{:index 82, :time 3655779792, :type :invoke, :process 1, :f :cas, :value [0 [3 2]]}
{:index 83, :time 3663776542, :type :fail, :process 1, :f :cas, :value [0 [3 2]], :error [:precondition-failed "expected value does not match"]}
{:index 84, :time 3746755167, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 85, :time 3764499459, :type :ok, :process 0, :f :read, :value [0 2]}
{:index 86, :time 3897049042, :type :invoke, :process 1, :f :cas, :value [0 [3 3]]}
{:index 87, :time 3908371375, :type :fail, :process 1, :f :cas, :value [0 [3 3]], :error [:precondition-failed "expected value does not match"]}
{:index 88, :time 4014549125, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 89, :time 4026355584, :type :ok, :process 0, :f :read, :value [0 2]}
{:index 90, :time 4204413417, :type :invoke, :process 1, :f :cas, :value [0 [0 2]]}
{:index 91, :time 4214857459, :type :fail, :process 1, :f :cas, :value [0 [0 2]], :error [:precondition-failed "expected value does not match"]}
{:index 92, :time 4401229250, :type :invoke, :process 1, :f :cas, :value [0 [1 4]]}
{:index 93, :time 4415994750, :type :fail, :process 1, :f :cas, :value [0 [1 4]], :error [:precondition-failed "expected value does not match"]}
{:index 94, :time 4451975750, :type :invoke, :process 1, :f :cas, :value [0 [2 0]]}
{:index 95, :time 4459794292, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 96, :time 4471710292, :type :ok, :process 1, :f :cas, :value [0 [2 0]]}
{:index 97, :time 4472911417, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 98, :time 4608752542, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 99, :time 4616323542, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 100, :time 4644823292, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 101, :time 4649105875, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 102, :time 4685574417, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 103, :time 4691474917, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 104, :time 4761232709, :type :invoke, :process 1, :f :cas, :value [0 [3 0]]}
{:index 105, :time 4772588417, :type :fail, :process 1, :f :cas, :value [0 [3 0]], :error [:precondition-failed "expected value does not match"]}
{:index 106, :time 4827265875, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 107, :time 4835694042, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 108, :time 5015646292, :type :invoke, :process 1, :f :cas, :value [0 [3 0]]}
{:index 109, :time 5024750167, :type :fail, :process 1, :f :cas, :value [0 [3 0]], :error [:precondition-failed "expected value does not match"]}
{:index 110, :time 5037400834, :type :invoke, :process 1, :f :cas, :value [0 [1 0]]}
{:index 111, :time 5044368292, :type :fail, :process 1, :f :cas, :value [0 [1 0]], :error [:precondition-failed "expected value does not match"]}
{:index 112, :time 5197059292, :type :invoke, :process 1, :f :cas, :value [0 [2 0]]}
{:index 113, :time 5207794042, :type :fail, :process 1, :f :cas, :value [0 [2 0]], :error [:precondition-failed "expected value does not match"]}
{:index 114, :time 5393890792, :type :invoke, :process 1, :f :cas, :value [0 [1 4]]}
{:index 115, :time 5410937459, :type :fail, :process 1, :f :cas, :value [0 [1 4]], :error [:precondition-failed "expected value does not match"]}
{:index 116, :time 5426009042, :type :invoke, :process 1, :f :write, :value [0 3]}
{:index 117, :time 5429318542, :type :ok, :process 1, :f :write, :value [0 3]}
{:index 118, :time 5538934375, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 119, :time 5556495834, :type :ok, :process 0, :f :read, :value [0 3]}
{:index 120, :time 5623469209, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 121, :time 5631842834, :type :ok, :process 0, :f :read, :value [0 3]}
{:index 122, :time 5712120709, :type :invoke, :process 1, :f :cas, :value [0 [2 4]]}
{:index 123, :time 5726192042, :type :fail, :process 1, :f :cas, :value [0 [2 4]], :error [:precondition-failed "expected value does not match"]}
{:index 124, :time 5817638042, :type :invoke, :process 1, :f :cas, :value [0 [0 2]]}
{:index 125, :time 5828664625, :type :fail, :process 1, :f :cas, :value [0 [0 2]], :error [:precondition-failed "expected value does not match"]}
{:index 126, :time 5974118875, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 127, :time 5982572500, :type :ok, :process 0, :f :read, :value [0 3]}
{:index 128, :time 6057466584, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 129, :time 6065893750, :type :ok, :process 0, :f :read, :value [0 3]}
{:index 130, :time 6142774459, :type :invoke, :process 1, :f :cas, :value [0 [1 1]]}
{:index 131, :time 6156508959, :type :fail, :process 1, :f :cas, :value [0 [1 1]], :error [:precondition-failed "expected value does not match"]}
{:index 132, :time 6332648417, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 133, :time 6339675375, :type :ok, :process 0, :f :read, :value [0 3]}
{:index 134, :time 6508219334, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 135, :time 6513258000, :type :ok, :process 0, :f :read, :value [0 3]}
{:index 136, :time 6550682667, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 137, :time 6563897167, :type :ok, :process 0, :f :read, :value [0 3]}
{:index 138, :time 6643903125, :type :invoke, :process 1, :f :write, :value [0 4]}
{:index 139, :time 6650737042, :type :ok, :process 1, :f :write, :value [0 4]}
{:index 140, :time 6657436250, :type :invoke, :process 1, :f :cas, :value [0 [1 0]]}
{:index 141, :time 6674862292, :type :fail, :process 1, :f :cas, :value [0 [1 0]], :error [:precondition-failed "expected value does not match"]}
{:index 142, :time 6734011667, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 143, :time 6736858042, :type :ok, :process 0, :f :read, :value [0 4]}
{:index 144, :time 6796203667, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 145, :time 6798766667, :type :ok, :process 0, :f :read, :value [0 4]}
{:index 146, :time 6891261917, :type :invoke, :process 1, :f :cas, :value [0 [3 3]]}
{:index 147, :time 6894188042, :type :fail, :process 1, :f :cas, :value [0 [3 3]], :error [:precondition-failed "expected value does not match"]}
{:index 148, :time 7021662125, :type :invoke, :process 1, :f :write, :value [0 0]}
{:index 149, :time 7037278417, :type :ok, :process 1, :f :write, :value [0 0]}
{:index 150, :time 7098262125, :type :invoke, :process 1, :f :cas, :value [0 [1 2]]}
{:index 151, :time 7113775042, :type :fail, :process 1, :f :cas, :value [0 [1 2]], :error [:precondition-failed "expected value does not match"]}
{:index 152, :time 7273795875, :type :invoke, :process 1, :f :cas, :value [0 [1 1]]}
{:index 153, :time 7278976500, :type :fail, :process 1, :f :cas, :value [0 [1 1]], :error [:precondition-failed "expected value does not match"]}
{:index 154, :time 7387819792, :type :invoke, :process 1, :f :cas, :value [0 [0 0]]}
{:index 155, :time 7397823667, :type :ok, :process 1, :f :cas, :value [0 [0 0]]}
{:index 156, :time 7522200834, :type :invoke, :process 1, :f :write, :value [0 3]}
{:index 157, :time 7532501084, :type :ok, :process 1, :f :write, :value [0 3]}
{:index 158, :time 7537611750, :type :invoke, :process 1, :f :write, :value [0 0]}
{:index 159, :time 7543137250, :type :ok, :process 1, :f :write, :value [0 0]}
{:index 160, :time 7598996417, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 161, :time 7608689084, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 162, :time 7798226167, :type :invoke, :process 1, :f :cas, :value [0 [3 4]]}
{:index 163, :time 7807283750, :type :fail, :process 1, :f :cas, :value [0 [3 4]], :error [:precondition-failed "expected value does not match"]}
{:index 164, :time 7814698834, :type :invoke, :process 1, :f :cas, :value [0 [1 2]]}
{:index 165, :time 7822129792, :type :fail, :process 1, :f :cas, :value [0 [1 2]], :error [:precondition-failed "expected value does not match"]}
{:index 166, :time 7849589709, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 167, :time 7855357542, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 168, :time 7988671292, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 169, :time 7999686375, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 170, :time 8141840167, :type :invoke, :process 1, :f :cas, :value [0 [4 1]]}
{:index 171, :time 8150365334, :type :fail, :process 1, :f :cas, :value [0 [4 1]], :error [:precondition-failed "expected value does not match"]}
{:index 172, :time 8258651292, :type :invoke, :process 1, :f :write, :value [0 4]}
{:index 173, :time 8273599125, :type :ok, :process 1, :f :write, :value [0 4]}
{:index 174, :time 8391595084, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 175, :time 8405096875, :type :ok, :process 0, :f :read, :value [0 4]}
{:index 176, :time 8481640375, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 177, :time 8499852125, :type :ok, :process 0, :f :read, :value [0 4]}
{:index 178, :time 8567817042, :type :invoke, :process 1, :f :write, :value [0 0]}
{:index 179, :time 8588140125, :type :ok, :process 1, :f :write, :value [0 0]}
{:index 180, :time 8685243209, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 181, :time 8693242417, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 182, :time 8800450459, :type :invoke, :process 1, :f :cas, :value [0 [0 3]]}
{:index 183, :time 8810055375, :type :ok, :process 1, :f :cas, :value [0 [0 3]]}
{:index 184, :time 8955226792, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 185, :time 8961519167, :type :ok, :process 0, :f :read, :value [0 3]}
{:index 186, :time 8996481584, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 187, :time 9000644125, :type :ok, :process 0, :f :read, :value [0 3]}
{:index 188, :time 9008459334, :type :invoke, :process 1, :f :cas, :value [0 [0 4]]}
{:index 189, :time 9021812125, :type :fail, :process 1, :f :cas, :value [0 [0 4]], :error [:precondition-failed "expected value does not match"]}
{:index 190, :time 9159267667, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 191, :time 9163846875, :type :ok, :process 0, :f :read, :value [0 3]}
{:index 192, :time 9342699125, :type :invoke, :process 1, :f :write, :value [0 1]}
{:index 193, :time 9357288875, :type :ok, :process 1, :f :write, :value [0 1]}
{:index 194, :time 9415528250, :type :invoke, :process 1, :f :write, :value [0 3]}
{:index 195, :time 9422724417, :type :ok, :process 1, :f :write, :value [0 3]}
{:index 196, :time 9474724084, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 197, :time 9479880375, :type :ok, :process 0, :f :read, :value [0 3]}
{:index 198, :time 9644026417, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 199, :time 9650048917, :type :ok, :process 0, :f :read, :value [0 3]}
{:index 200, :time 9698590875, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 201, :time 9705546875, :type :ok, :process 0, :f :read, :value [0 3]}
{:index 202, :time 9800354625, :type :invoke, :process 1, :f :cas, :value [0 [2 4]]}
{:index 203, :time 9805160000, :type :fail, :process 1, :f :cas, :value [0 [2 4]], :error [:precondition-failed "expected value does not match"]}
{:index 204, :time 9846876834, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 205, :time 9854978042, :type :ok, :process 0, :f :read, :value [0 3]}
{:index 206, :time 9885470750, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 207, :time 9890806417, :type :ok, :process 0, :f :read, :value [0 3]}
{:index 208, :time 9922951209, :type :invoke, :process 1, :f :cas, :value [0 [3 2]]}
{:index 209, :time 9943167334, :type :ok, :process 1, :f :cas, :value [0 [3 2]]}
{:index 210, :time 9966636584, :type :invoke, :process 1, :f :write, :value [0 3]}
{:index 211, :time 9975495584, :type :ok, :process 1, :f :write, :value [0 3]}
