{:index 0, :time 16684542, :type :invoke, :process 0, :f :read, :value nil}
{:index 1, :time 383564042, :type :invoke, :process 5, :f :write, :value 0}
{:index 2, :time 424379042, :type :fail, :process 0, :f :read, :value nil, :error [:key-does-not-exist "key not found"]}
{:index 3, :time 424499417, :type :invoke, :process 6, :f :cas, :value [3 3]}
{:index 4, :time 440217542, :type :ok, :process 5, :f :write, :value 0}
{:index 5, :time 572159459, :type :fail, :process 6, :f :cas, :value [3 3], :error [:precondition-failed "expected value does not match"]}
{:index 6, :time 724701292, :type :invoke, :process 3, :f :read, :value nil}
{:index 7, :time 878562709, :type :ok, :process 3, :f :read, :value 0}
{:index 8, :time 1040717834, :type :invoke, :process 4, :f :read, :value nil}
{:index 9, :time 1077233250, :type :invoke, :process 5, :f :cas, :value [0 4]}
{:index 10, :time 1085763750, :type :ok, :process 5, :f :cas, :value [0 4]}
{:index 11, :time 1212030459, :type :ok, :process 4, :f :read, :value 4}
{:index 12, :time 1423772167, :type :invoke, :process 0, :f :read, :value nil}
{:index 13, :time 1433386709, :type :ok, :process 0, :f :read, :value 4}
{:index 14, :time 1716248834, :type :invoke, :process 7, :f :cas, :value [4 2]}
{:index 15, :time 1870473375, :type :ok, :process 7, :f :cas, :value [4 2]}
{:index 16, :time 1977886625, :type :invoke, :process 0, :f :read, :value nil}
{:index 17, :time 1981076417, :type :ok, :process 0, :f :read, :value 2}
{:index 18, :time 2094080375, :type :invoke, :process 9, :f :write, :value 4}
{:index 19, :time 2139587167, :type :ok, :process 9, :f :write, :value 4}
{:index 20, :time 2412654750, :type :invoke, :process 5, :f :cas, :value [3 0]}
{:index 21, :time 2424924459, :type :fail, :process 5, :f :cas, :value [3 0], :error [:precondition-failed "expected value does not match"]}
{:index 22, :time 2538907709, :type :invoke, :process 0, :f :read, :value nil}
{:index 23, :time 2551921459, :type :ok, :process 0, :f :read, :value 4}
{:index 24, :time 2840515042, :type :invoke, :process 5, :f :cas, :value [2 0]}
{:index 25, :time 2852357417, :type :fail, :process 5, :f :cas, :value [2 0], :error [:precondition-failed "expected value does not match"]}
{:index 26, :time 3034220500, :type :invoke, :process 5, :f :cas, :value [4 2]}
{:index 27, :time 3047608834, :type :ok, :process 5, :f :cas, :value [4 2]}
{:index 28, :time 3422487459, :type :invoke, :process 3, :f :read, :value nil}
{:index 29, :time 3433081834, :type :ok, :process 3, :f :read, :value 2}
{:index 30, :time 3554647042, :type :invoke, :process 4, :f :read, :value nil}
{:index 31, :time 3576031500, :type :ok, :process 4, :f :read, :value 2}
{:index 32, :time 3853260542, :type :invoke, :process 5, :f :write, :value 3}
{:index 33, :time 3865564375, :type :ok, :process 5, :f :write, :value 3}
{:index 34, :time 4128207125, :type :invoke, :process 0, :f :read, :value nil}
{:index 35, :time 4146837625, :type :ok, :process 0, :f :read, :value 3}
{:index 36, :time 4162215750, :type :invoke, :process 0, :f :read, :value nil}
{:index 37, :time 4166243500, :type :ok, :process 0, :f :read, :value 3}
{:index 38, :time 4363582584, :type :invoke, :process 8, :f :cas, :value [1 2]}
{:index 39, :time 4382840167, :type :invoke, :process 0, :f :read, :value nil}
{:index 40, :time 4386154084, :type :ok, :process 0, :f :read, :value 3}
{:index 41, :time 4390585167, :type :fail, :process 8, :f :cas, :value [1 2], :error [:precondition-failed "expected value does not match"]}
{:index 42, :time 4580122542, :type :invoke, :process 5, :f :write, :value 1}
{:index 43, :time 4593714542, :type :ok, :process 5, :f :write, :value 1}
{:index 44, :time 4782047709, :type :invoke, :process 0, :f :read, :value nil}
{:index 45, :time 4794864000, :type :ok, :process 0, :f :read, :value 1}
{:index 46, :time 4851269792, :type :invoke, :process 1, :f :read, :value nil}
{:index 47, :time 4883039584, :type :ok, :process 1, :f :read, :value 1}
{:index 48, :time 5096090792, :type :invoke, :process 5, :f :write, :value 0}
{:index 49, :time 5106617125, :type :ok, :process 5, :f :write, :value 0}
{:index 50, :time 5184437875, :type :invoke, :process 3, :f :read, :value nil}
{:index 51, :time 5198561792, :type :ok, :process 3, :f :read, :value 0}
{:index 52, :time 5557608792, :type :invoke, :process 4, :f :read, :value nil}
{:index 53, :time 5565850292, :type :ok, :process 4, :f :read, :value 0}
{:index 54, :time 5750538250, :type :invoke, :process 5, :f :cas, :value [4 3]}
{:index 55, :time 5757080875, :type :fail, :process 5, :f :cas, :value [4 3], :error [:precondition-failed "expected value does not match"]}
{:index 56, :time 5877594042, :type :invoke, :process 0, :f :read, :value nil}
{:index 57, :time 5885885000, :type :ok, :process 0, :f :read, :value 0}
{:index 58, :time 6201792500, :type :invoke, :process 7, :f :write, :value 3}
{:index 59, :time 6222930959, :type :ok, :process 7, :f :write, :value 3}
{:index 60, :time 6472640834, :type :invoke, :process 8, :f :cas, :value [4 2]}
{:index 61, :time 6511849125, :type :fail, :process 8, :f :cas, :value [4 2], :error [:precondition-failed "expected value does not match"]}
{:index 62, :time 6582796459, :type :invoke, :process 9, :f :cas, :value [2 4]}
{:index 63, :time 6608494792, :type :invoke, :process 0, :f :read, :value nil}
{:index 64, :time 6616197584, :type :fail, :process 9, :f :cas, :value [2 4], :error [:precondition-failed "expected value does not match"]}
{:index 65, :time 6616873667, :type :ok, :process 0, :f :read, :value 3}
{:index 66, :time 6685570000, :type :invoke, :process 5, :f :cas, :value [4 4]}
{:index 67, :time 6704886000, :type :fail, :process 5, :f :cas, :value [4 4], :error [:precondition-failed "expected value does not match"]}
{:index 68, :time 7026414375, :type :invoke, :process 5, :f :cas, :value [3 3]}
{:index 69, :time 7038597334, :type :invoke, :process 2, :f :read, :value nil}
{:index 70, :time 7050321042, :type :ok, :process 5, :f :cas, :value [3 3]}
{:index 71, :time 7066905542, :type :ok, :process 2, :f :read, :value 3}
{:index 72, :time 7301266667, :type :invoke, :process 5, :f :write, :value 3}
{:index 73, :time 7310746000, :type :invoke, :process 6, :f :cas, :value [1 4]}
{:index 74, :time 7315853334, :type :ok, :process 5, :f :write, :value 3}
{:index 75, :time 7317172417, :type :fail, :process 6, :f :cas, :value [1 4], :error [:precondition-failed "expected value does not match"]}
{:index 76, :time 7353518292, :type :invoke, :process 5, :f :cas, :value [0 4]}
{:index 77, :time 7359370417, :type :fail, :process 5, :f :cas, :value [0 4], :error [:precondition-failed "expected value does not match"]}
{:index 78, :time 7441365917, :type :invoke, :process 0, :f :read, :value nil}
{:index 79, :time 7461788875, :type :ok, :process 0, :f :read, :value 3}
{:index 80, :time 7775133834, :type :invoke, :process 0, :f :read, :value nil}
{:index 81, :time 7798815375, :type :ok, :process 0, :f :read, :value 3}
{:index 82, :time 7853319875, :type :invoke, :process 0, :f :read, :value nil}
{:index 83, :time 7872210292, :type :ok, :process 0, :f :read, :value 3}
{:index 84, :time 8030318625, :type :invoke, :process 0, :f :read, :value nil}
{:index 85, :time 8049435917, :type :ok, :process 0, :f :read, :value 3}
{:index 86, :time 8417545917, :type :invoke, :process 0, :f :read, :value nil}
{:index 87, :time 8424042084, :type :ok, :process 0, :f :read, :value 3}
{:index 88, :time 8624714250, :type :invoke, :process 5, :f :cas, :value [0 1]}
{:index 89, :time 8652778084, :type :fail, :process 5, :f :cas, :value [0 1], :error [:precondition-failed "expected value does not match"]}
{:index 90, :time 8871575000, :type :invoke, :process 5, :f :write, :value 4}
{:index 91, :time 8897059584, :type :ok, :process 5, :f :write, :value 4}
{:index 92, :time 8944931709, :type :invoke, :process 2, :f :read, :value nil}
{:index 93, :time 8950402584, :type :ok, :process 2, :f :read, :value 4}
{:index 94, :time 9005828542, :type :invoke, :process 3, :f :read, :value nil}
{:index 95, :time 9020034625, :type :ok, :process 3, :f :read, :value 4}
{:index 96, :time 9198999500, :type :invoke, :process 4, :f :read, :value nil}
{:index 97, :time 9211977709, :type :ok, :process 4, :f :read, :value 4}
{:index 98, :time 9395040125, :type :invoke, :process 5, :f :cas, :value [2 4]}
{:index 99, :time 9408479167, :type :fail, :process 5, :f :cas, :value [2 4], :error [:precondition-failed "expected value does not match"]}
{:index 100, :time 9727167084, :type :invoke, :process 6, :f :cas, :value [3 2]}
{:index 101, :time 9741350834, :type :fail, :process 6, :f :cas, :value [3 2], :error [:precondition-failed "expected value does not match"]}
{:index 102, :time 9922122375, :type :invoke, :process 0, :f :read, :value nil}
{:index 103, :time 9924965959, :type :ok, :process 0, :f :read, :value 4}
